.animation .absolute-elements {
  opacity: 0;
  transition: all 0.3s ease-in-out; }

.animation.intro h1, .animation.intro .btn {
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.3s ease-in-out; }

.animation.intro ul li {
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.3s ease-in-out; }

.animation.intro .absolute-block {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.3s ease-in-out; }
  .animation.intro .absolute-block .left > img:nth-child(2), .animation.intro .absolute-block .left > img:nth-child(3), .animation.intro .absolute-block .right > img:nth-child(2), .animation.intro .absolute-block .right > img:nth-child(3) {
    opacity: 0;
    transition: all 0.7s ease-out; }

.animation.intro + .slider {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transition-delay: 1.5s; }

.animation.intro.animated {
  /*.center{
          transform: scale(1);
          opacity: 1;
          transition-delay: 0.8s;
        }*/
  /*.left{
          //transform: scale(1);
          //opacity: 1;
          //transition-delay: 0.2s;
          &>img{
            &:nth-child(2){
              opacity: 1;
              transition-delay: 0.8s;
            }
            &:nth-child(3){
              opacity: 1;
              transition-delay: 1s;
            }
          }
        }*/ }
  .animation.intro.animated h1, .animation.intro.animated .btn {
    transform: translateY(0);
    opacity: 1; }
  .animation.intro.animated ul li {
    transform: translateY(0);
    opacity: 1; }
    .animation.intro.animated ul li:nth-of-type(1) {
      transition-delay: 0.3s; }
    .animation.intro.animated ul li:nth-of-type(2) {
      transition-delay: 0.6s; }
    .animation.intro.animated ul li:nth-of-type(3) {
      transition-delay: 0.9s; }
    .animation.intro.animated ul li:nth-of-type(4) {
      transition-delay: 1.2s; }
  .animation.intro.animated .btn {
    transition-delay: 1.2s; }
  .animation.intro.animated .absolute-block {
    opacity: 1;
    transition-delay: 0.6s;
    transform: translateY(0); }
  .animation.intro.animated .right > img:nth-child(2), .animation.intro.animated .left > img:nth-child(2) {
    opacity: 1;
    transition-delay: 0.9s; }
  .animation.intro.animated .right > img:nth-child(3), .animation.intro.animated .left > img:nth-child(3) {
    opacity: 1;
    transition-delay: 1.2s; }
  .animation.intro.animated + .slider {
    transform: translateY(0);
    opacity: 1; }

.animation .center-position h2, .animation .center-position h3, .animation .center-position h5 {
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.3s ease-in-out; }

.animation .blocks {
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.3s ease-in-out; }

.animation .btn {
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.3s ease-in-out; }

.animation.selling .container > svg {
  opacity: 0;
  transition: all 0.3s ease-in-out; }

.animation.blocks-template.blocks-template-arrown .blocks {
  transform: translateY(0);
  opacity: 1; }
  .animation.blocks-template.blocks-template-arrown .blocks > div {
    opacity: 0.3;
    transform: translateX(-20px);
    transition: all 0.3s ease-in-out; }
    .animation.blocks-template.blocks-template-arrown .blocks > div .hover-blocks div div:nth-child(1), .animation.blocks-template.blocks-template-arrown .blocks > div .hover-blocks div div:nth-child(2), .animation.blocks-template.blocks-template-arrown .blocks > div .hover-blocks div div:nth-child(3) {
      opacity: 0;
      transition: all 0.3s ease-in-out; }
    .animation.blocks-template.blocks-template-arrown .blocks > div .arrown:after {
      right: 100%;
      transition: all 0.3s ease-in-out; }

.animation .col-7 h3, .animation .col-7 h6 {
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.5s ease-out; }

.animation .col-5 .vertical-blocks div {
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.5s ease-out; }

.animation.bg-blue h4, .animation.bg-blue ul li, .animation.bg-blue .btn {
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.3s ease-in-out; }

.animation.bg-blue ul:before, .animation.bg-blue ul:after {
  opacity: 0;
  transition: all 0.3s ease-in-out; }

.animation.bg-blue.animated h4, .animation.bg-blue.animated ul li, .animation.bg-blue.animated .btn {
  transform: translateY(0);
  opacity: 1; }

.animation.bg-blue.animated .center-position h2 {
  transition-delay: 0.3s; }

.animation.bg-blue.animated ul:before {
  opacity: 1;
  transition-delay: 0.4s; }

.animation.bg-blue.animated ul li:nth-of-type(1) {
  transition-delay: 0.6s; }

.animation.bg-blue.animated ul li:nth-of-type(2) {
  transition-delay: 0.9s; }

.animation.bg-blue.animated ul li:nth-of-type(3) {
  transition-delay: 1.2s; }

.animation.bg-blue.animated ul li:nth-of-type(4) {
  transition-delay: 1.5s; }

.animation.bg-blue.animated ul:after {
  opacity: 1;
  transition-delay: 1.4s; }

.animation.bg-blue.animated .btn {
  transition-delay: 1.5s; }

.animation#contact form > p {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out; }
  .animation#contact form > p:nth-of-type(1) {
    transition-delay: 0.6s; }
  .animation#contact form > p:nth-of-type(2) {
    transition-delay: 0.9s; }
  .animation#contact form > p:nth-of-type(3) {
    transition-delay: 1.2s; }
  .animation#contact form > p:nth-of-type(4) {
    transition-delay: 1.5s; }
  .animation#contact form > p:nth-of-type(5) {
    transition-delay: 1.8s; }
  .animation#contact form > p:nth-of-type(6) {
    transition-delay: 2.1s; }
  .animation#contact form > p:nth-of-type(7) {
    transition-delay: 2.4s; }
  .animation#contact form > p:nth-of-type(8) {
    transition-delay: 2.7s; }
  .animation#contact form > p:nth-of-type(9) {
    transition-delay: 3s; }

.animation#contact form > div.flex p {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
  transition-delay: 1.5s; }

.animation#contact.animated form > p, .animation#contact.animated form > div.flex p {
  opacity: 1;
  transform: translateY(0); }

.animation.animated .absolute-elements {
  opacity: 1;
  transition-delay: 0.6s; }

.animation.animated .center-position h2, .animation.animated .center-position h3, .animation.animated .center-position h5 {
  transform: translateY(0);
  opacity: 1; }

.animation.animated .center-position h2 {
  transition-delay: 0.6s; }
  .animation.animated .center-position h2.underline div:after {
    transition-delay: 1s; }

.animation.animated .center-position h2 + h3 {
  transition-delay: 0.9s; }

.animation.animated .center-position h5 {
  transition-delay: 0.3s; }

.animation.animated .btn {
  transform: translateY(0);
  opacity: 1; }

.animation.animated .blocks {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.9s; }

.animation.animated.selling .container > svg {
  opacity: 1; }

.animation.animated.selling .btn {
  transition-delay: 1.2s; }

.animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(1) {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.6s; }
  .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(1) .hover-blocks div div:nth-child(1), .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(1) .hover-blocks div div:nth-child(2), .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(1) .hover-blocks div div:nth-child(3) {
    opacity: 1; }
  .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(1) .hover-blocks div div:nth-child(1) {
    transition-delay: 0.6s; }
  .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(1) .hover-blocks div div:nth-child(2) {
    transition-delay: 0.9s; }
  .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(1) .hover-blocks div div:nth-child(3) {
    transition-delay: 1.2s; }
  .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(1) .arrown {
    filter: grayscale(0);
    opacity: 1;
    transition-delay: 1.3s; }
  .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(1) .arrown:after {
    right: 0;
    transition-delay: 0.9s; }

.animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(2) {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 1.5s; }
  .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(2) .hover-blocks div div:nth-child(1), .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(2) .hover-blocks div div:nth-child(2), .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(2) .hover-blocks div div:nth-child(3) {
    opacity: 1; }
  .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(2) .hover-blocks div div:nth-child(2) {
    transition-delay: 1.5s; }
  .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(2) .hover-blocks div div:nth-child(2) {
    transition-delay: 1.8s; }
  .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(2) .hover-blocks div div:nth-child(3) {
    transition-delay: 2.1s; }
  .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(2) .arrown {
    filter: grayscale(0);
    opacity: 1;
    transition-delay: 2.2s; }
  .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(2) .arrown:after {
    right: 0;
    transition-delay: 1.8s; }

.animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(3) {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 2.4s; }
  .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(3) .hover-blocks div div:nth-child(1), .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(3) .hover-blocks div div:nth-child(2), .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(3) .hover-blocks div div:nth-child(3) {
    opacity: 1; }
  .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(3) .hover-blocks div div:nth-child(2) {
    transition-delay: 2.4s; }
  .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(3) .hover-blocks div div:nth-child(2) {
    transition-delay: 2.7s; }
  .animation.animated.blocks-template.blocks-template-arrown .blocks > div:nth-child(3) .hover-blocks div div:nth-child(3) {
    transition-delay: 3s; }

.animation.animated .col-7 h3, .animation.animated .col-7 h6 {
  transform: translateY(0);
  opacity: 1; }

.animation.animated .col-7 h6:nth-of-type(1) {
  transition-delay: 0.3s; }

.animation.animated .col-7 h6:nth-of-type(2) {
  transition-delay: 0.6s; }

.animation.animated .col-7 h6:nth-of-type(3) {
  transition-delay: 0.9s; }

.animation.animated .col-7 h6:nth-of-type(4) {
  transition-delay: 1.2s; }

.animation.animated .col-5 .vertical-blocks div:nth-of-type(1) {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.6s; }

.animation.animated .col-5 .vertical-blocks div:nth-of-type(2) {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.9s; }

.animation.animated .col-5 .vertical-blocks div:nth-of-type(3) {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 1.2s; }

.animation.animated .col-5 .vertical-blocks div:nth-of-type(4) {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 1.5s; }

.animation.animated .underline div:after {
  width: 100%;
  transition-delay: 0.4s; }

.animation.animated#features svg path.dots {
  opacity: 1;
  transition-delay: 0.8s; }

.animation.animated#contact .hover-blocks div > div {
  opacity: 1; }
  .animation.animated#contact .hover-blocks div > div:nth-child(2) {
    transition-delay: 1.2s; }
  .animation.animated#contact .hover-blocks div > div:nth-child(3) {
    transition-delay: 1.5s; }

header.animation .container {
  transform: translateY(35px);
  opacity: 0;
  transition: all 0.5s ease-out; }
  header.animation .container .btn {
    transform: translateY(0);
    opacity: 1; }

header.animation.animated .container {
  transform: translateY(0);
  opacity: 1; }
