*::-moz-selection {
  color: #007aff;
  background: #fff; }

*::-webkit-selection,
*::selection {
  color: #007aff;
  background: #fff; }

html {
  font-size: 62.5%; }

html.scroll {
  overflow-y: auto; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: none;
  line-height: 1.75;
  color: #363636;
  position: relative;
  scrollbar-color: #ffa51e #ff7a00;
  scrollbar-width: thin; }
  body.overflow-menu .scrollbar-dynamic > .scroll-element.scroll-y {
    z-index: -1; }

/*
html, body{
  width: 100%;
  height: 100%;
}
.body-wrapper {
  height: 100%;
  overflow: auto;
  width: 100%;
}
.body-wrapper.scrollbar-dynamic {
  max-height: none;
}
.scrollbar-dynamic > .scroll-element.scroll-y{
  z-index: 999;
}*/
.page-content {
  padding-top: 110px; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    .page-content {
      padding-top: 130px; } }

/**/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  z-index: 2; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.46;
  color: #143243;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 1499px) {
    h1 {
      font-size: 44px;
      line-height: 1.2; } }
  @media only screen and (max-width: 1399px) {
    h1 {
      font-size: 40px;
      line-height: 1.2; } }
  @media only screen and (max-width: 1199px) {
    h1 {
      font-size: 37px;
      line-height: 1.2; } }
  @media only screen and (max-width: 992px) {
    h1 {
      font-size: 35px;
      line-height: 1.1; } }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: none;
  line-height: 1.4;
  color: #143243; }
  @media only screen and (max-width: 1499px) {
    h2 {
      font-size: 26px;
      line-height: 1.2; } }
  @media only screen and (max-width: 1199px) {
    h2 {
      font-size: 23px; } }
  h2.title {
    font-size: 44px;
    font-weight: 600; }
    @media only screen and (max-width: 1499px) {
      h2.title {
        font-size: 40px;
        line-height: 1.2; } }
    @media only screen and (max-width: 1199px) {
      h2.title {
        font-size: 35px; } }

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.4;
  color: #143243;
  margin-bottom: 3.5rem; }
  h3.title {
    font-size: 4rem;
    line-height: 1.75;
    text-transform: uppercase;
    margin-bottom: 0; }
  h3.small-title {
    font-size: 3.2rem;
    line-height: initial;
    margin-bottom: 4rem; }

h4 {
  font-size: 3.5rem;
  letter-spacing: -0.1rem;
  font-weight: 700;
  line-height: 1.75;
  color: #143243; }

h5 {
  font-size: 18px;
  line-height: 1.66;
  font-weight: 500; }
  @media only screen and (max-width: 1199px) {
    h5 {
      font-size: 16px; } }

h6 {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  line-height: 1.2; }

p {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  color: #363636; }

.blue {
  color: #2B98D2; }

ul {
  list-style-type: disc; }

a {
  text-decoration: none; }

a,
button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

form {
  width: 100%;
  position: relative; }

form input:not([type='checkbox']),
form input:not([type='radio']),
form input:not([type='file']),
form select,
form textarea {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: none;
  line-height: 1.8;
  height: 6rem;
  color: #424242;
  background: #fff;
  border: 1px solid #E1F3F9;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 2rem 0 5.5rem;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  form input:not([type='checkbox']).wpcf7-not-valid,
  form input:not([type='radio']).wpcf7-not-valid,
  form input:not([type='file']).wpcf7-not-valid,
  form select.wpcf7-not-valid,
  form textarea.wpcf7-not-valid {
    border-color: #F46969; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    form input:not([type='checkbox']),
    form input:not([type='radio']),
    form input:not([type='file']),
    form select,
    form textarea {
      padding: 0 3rem 0 4.5rem;
      height: 5.5rem; } }

form input:not([type='checkbox'])::-moz-placeholder,
form input:not([type='radio'])::-moz-placeholder,
form input:not([type='file'])::-moz-placeholder,
form select::-moz-placeholder,
form textarea::-moz-placeholder {
  color: #424242;
  opacity: 1; }

form input:not([type='checkbox'])::-ms-input-placeholder,
form input:not([type='radio'])::-ms-input-placeholder,
form input:not([type='file'])::-ms-input-placeholder,
form select::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  color: #424242;
  opacity: 1; }

form input:not([type='checkbox'])::-webkit-input-placeholder,
form input:not([type='radio'])::-webkit-input-placeholder,
form input:not([type='file'])::-webkit-input-placeholder,
form select::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  color: #424242;
  opacity: 1; }

form input:not([type='checkbox']):focus::-moz-placeholder,
form input:not([type='radio']):focus::-moz-placeholder,
form input:not([type='file']):focus::-moz-placeholder,
form select:focus::-moz-placeholder,
form textarea:focus::-moz-placeholder {
  opacity: 0; }

form input:not([type='checkbox']):focus::-ms-input-placeholder,
form input:not([type='radio']):focus::-ms-input-placeholder,
form input:not([type='file']):focus::-ms-input-placeholder,
form select:focus::-ms-input-placeholder,
form textarea:focus::-ms-input-placeholder {
  opacity: 0; }

form input:not([type='checkbox']):focus::-webkit-input-placeholder,
form input:not([type='radio']):focus::-webkit-input-placeholder,
form input:not([type='file']):focus::-webkit-input-placeholder,
form select:focus::-webkit-input-placeholder,
form textarea:focus::-webkit-input-placeholder {
  opacity: 0; }

form input:not([type='checkbox']).error,
form input:not([type='radio']).error,
form input:not([type='file']).error,
form select.error,
form textarea.error {
  border-color: tomato; }

form input:not([type='checkbox']).fail,
form input:not([type='radio']).fail,
form input:not([type='file']).fail {
  border-color: tomato; }

form label {
  font-size: 1.4rem;
  font-weight: 400;
  color: #395159;
  display: block;
  margin-bottom: 1.3rem; }

form label.error {
  display: none !important; }

form select {
  background-image: url("../img/select-arrow.svg");
  -webkit-background-size: 1.4rem 1.4rem;
  background-size: 1.4rem;
  background-repeat: no-repeat;
  background-position: right 2.7rem center; }
  form select option {
    padding: 6px 28px 6px 0; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    form select {
      background-position: right 1rem center; } }

form textarea {
  height: 22rem;
  padding: 1.5rem 2rem; }

form input[type='submit'] {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

form p {
  position: relative;
  margin: 0 0 2rem; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    form p {
      margin-bottom: 0.2rem; } }
  form p:empty {
    margin: 0;
    padding: 0; }
  form p span.fas {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    color: #C4C4C4;
    font-size: 1.4rem;
    line-height: 1.8rem;
    z-index: 2; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      form p span.fas {
        font-size: 1.3rem;
        left: 1.5rem; } }

form span.wpcf7-not-valid-tip {
  color: #F46969;
  font-size: 1.2rem;
  position: absolute;
  padding-top: 2px; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    form span.wpcf7-not-valid-tip {
      font-size: 0.8rem;
      top: -1rem;
      left: 4.5rem;
      padding-top: 0; } }

form div.wpcf7-response-output {
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.6rem; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    form div.wpcf7-response-output {
      font-size: 1.6rem;
      margin-bottom: 15px; } }

form > p:last-of-type {
  margin-bottom: 0; }

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 6.8rem;
  display: inline-block;
  height: 7rem;
  text-align: center;
  min-width: 25.5rem;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0 2.5rem;
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: 0 7px 10px rgba(0, 199, 180, 0.1); }
  @media only screen and (max-width: 1399px) {
    .btn {
      padding: 0 1rem;
      font-size: 16px;
      height: 6rem;
      line-height: 5.8rem; } }
  .btn-img {
    min-width: 16rem;
    height: 4rem;
    font-size: 14px;
    line-height: 3.8rem;
    box-shadow: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    letter-spacing: 1.5px; }
    @media only screen and (max-width: 992px) {
      .btn-img {
        font-size: 10px;
        min-width: 14rem;
        padding: 0 5px; } }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      .btn-img {
        min-width: 30rem;
        height: 5rem;
        line-height: 4.8rem;
        margin-bottom: 2rem;
        font-size: 16px; } }
    .btn-img i {
      font-size: 1.6rem;
      line-height: 1.6rem;
      margin-right: 1.2rem; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        .btn-img i {
          font-size: 1.6rem; } }
  .btn-small {
    font-weight: 600;
    font-size: 8px;
    line-height: 1.8rem;
    min-width: 7rem;
    height: 2rem;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto; }
  .btn-blue {
    color: #fff;
    background: #2D97D3;
    border-color: #2D97D3; }
    .btn-blue:hover {
      border-color: #71c2f0;
      background: #71c2f0; }

.btn-border-blue:hover {
  color: #fff; }
  .btn-border-blue:hover:before {
    color: #fff; }

.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
  text-decoration: none; }

/*
.underline, .subtitle{
  position: sticky;
  display: inline-block;
  &.align-center{
    text-align: center;
  }
  p, span{
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
  }
  & > p div{
    display: inline-block !important;
    margin-right: 7px;
    position: relative;
    &:after{
      //width: 0;
      width: 100%;
      height: 10px;
      position: absolute;
      left: 0;
      bottom: 5px;
      content: '';
      display: inline-block; 
      display: none;
      background: #95CCE9;
      z-index: -1;
      transition: all 0.6s ease-out;
    }
  }
  
}
span.underline{
  display: inline-block !important;
  margin-right: 7px;
  position: relative;
  &:after{
    //width: 0;
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: inline-block; 
    display: none;
    background: #95CCE9;
    z-index: -1;
    transition: all 0.6s ease-out;
  }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
    &:after{
      bottom: 3px;
    }
  }
}
h2.underline{
  div{
    &:after{
      bottom: 4px;
    }
  }
  &.small-title{
    div{
      &:after{
        bottom: 7px;
      }
    }
  }
}
.small-title{
  &:after{
    bottom: 2px;
  }
}
*/
ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  margin-left: 0.4rem; }
  @media only screen and (max-width: 992px) {
    .menu-item {
      padding: 0 5px; } }
  .menu-item a {
    display: block;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: initial;
    padding: 2rem 0; }
    @media only screen and (max-width: 1399px) {
      .menu-item a {
        font-size: 15px; } }
    @media only screen and (max-width: 1199px) {
      .menu-item a {
        font-size: 14px; } }
    @media only screen and (max-width: 992px) {
      .menu-item a {
        font-size: 11px; } }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  background-color: #F9F9F9;
  border-bottom: 1px solid #EEEEEE; }
  header .top_line {
    background-color: #143243; }
    header .top_line .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        header .top_line .container {
          height: 50px;
          flex-direction: column;
          padding: 4px 0; } }
    header .top_line p, header .top_line a {
      font-size: 12px;
      line-height: 2;
      font-weight: 600;
      color: #fff; }
      @media only screen and (max-width: 992px) {
        header .top_line p, header .top_line a {
          font-size: 11px; } }
  header > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80px; }
    header > .container > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%; }
      header > .container > div.menu-mobile {
        display: none; }
  header .logo {
    position: relative; }
    @media only screen and (max-width: 1199px) {
      header .logo {
        max-width: 200px; } }
    @media only screen and (max-width: 992px) {
      header .logo {
        max-width: 135px; } }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      header .logo {
        max-width: 180px; } }
    header .logo svg {
      height: 2.5rem;
      width: auto;
      transition: all 0.3s ease-out; }
      header .logo svg .hidden-part {
        transition: all 0.3s ease-out; }
    header .logo a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
  header nav {
    height: 100%;
    margin-right: 2rem; }
    @media only screen and (max-width: 992px) {
      header nav {
        margin-right: 1rem; } }
  header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%; }
    header .menu .menu-item a {
      color: #19465F; }
    header .menu .menu-item:after {
      position: absolute;
      content: '';
      left: 50%;
      bottom: -2px;
      transform: translateX(-50%);
      width: 0;
      height: 4px;
      -webkit-border-radius: 1px;
      border-radius: 1px;
      background: #2B98D2;
      transition: all 0.3s ease 0s; }
    header .menu .menu-item:hover:after {
      width: 2.6rem; }
  @media (min-height: 499px) and (min-width: 899px), (min-width: 767px) {
    header.sticky svg {
      height: 3.5rem; }
      header.sticky svg .hidden-part {
        opacity: 0;
        visibility: hidden; } }

.bg-grey {
  background-color: #F9F9F9; }

.intro {
  position: relative;
  min-height: calc(100vh - 11rem);
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    .intro {
      min-height: 0; } }
  .intro .container {
    position: relative;
    z-index: 2; }
  .intro .content {
    width: 51%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 9rem; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      .intro .content {
        width: 100%;
        margin: 9rem 0; } }
    @media only screen and (max-width: 499px) {
      .intro .content .btn {
        width: 100%; } }
  .intro h1 {
    margin-bottom: 7rem; }
    @media only screen and (max-width: 1399px) {
      .intro h1 {
        margin-bottom: 5rem; } }
  .intro .absolute-block {
    position: absolute;
    width: 50%;
    height: 100%;
    padding-top: 5rem;
    right: 0;
    z-index: 1;
    padding-left: 15px; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      .intro .absolute-block {
        display: none; } }
    .intro .absolute-block > div {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%; }
      .intro .absolute-block > div .left {
        position: absolute;
        top: 9rem;
        z-index: 2;
        max-width: 33vw; }
      .intro .absolute-block > div .right {
        position: absolute;
        right: 0;
        z-index: 1;
        max-width: 25vw; }
      .intro .absolute-block > div .center {
        position: absolute;
        left: 52%;
        top: 4rem;
        z-index: 3;
        width: 20rem; }
  .intro + section {
    padding-top: 16rem; }
    @media only screen and (max-width: 1399px) {
      .intro + section {
        padding-top: 12rem; } }
    @media only screen and (max-width: 1199px) {
      .intro + section {
        padding-top: 8rem; } }

.blocks-template {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7.5rem; }
  @media only screen and (max-width: 1399px) {
    .blocks-template {
      padding-top: 5rem;
      padding-bottom: 5rem; } }
  .blocks-template .blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 1499px) {
      .blocks-template .blocks {
        margin-bottom: 6rem; } }
    @media only screen and (max-width: 1199px) {
      .blocks-template .blocks {
        margin-bottom: 4.5rem; } }
    .blocks-template .blocks.align-center > div {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .blocks-template .blocks.align-center * {
      text-align: center; }
    .blocks-template .blocks.align-left > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 4rem; }
    .blocks-template .blocks.align-left * {
      text-align: left; }
    .blocks-template .blocks.align-left .icon-overlay {
      margin-bottom: 2.5rem; }
    .blocks-template .blocks > .col-3 {
      position: relative;
      width: calc((100% - 6rem) / 3);
      padding: 4rem 2.5rem 3.5rem;
      border-radius: 5px;
      cursor: pointer; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        .blocks-template .blocks > .col-3 {
          width: 100%;
          max-width: 350px; } }
      .blocks-template .blocks > .col-3 svg {
        overflow: hidden; }
      .blocks-template .blocks > .col-3 .icon-overlay .hover-blocks div > div {
        opacity: 1; }
      @media only screen and (min-width: 768px) {
        .blocks-template .blocks > .col-3 svg g path.dots:nth-child(1) {
          animation: evenDots 1.5s linear infinite; }
        .blocks-template .blocks > .col-3 svg g path.dots:nth-child(2) {
          animation: evenDots 1.7s linear infinite; }
        .blocks-template .blocks > .col-3 svg g path.dots:nth-child(3) {
          animation: evenDots 1.9s linear infinite; }
        .blocks-template .blocks > .col-3 svg g path.dots:nth-child(4) {
          animation: evenDots 2.1s linear infinite; }
        .blocks-template .blocks > .col-3 svg g path.dots:nth-child(5) {
          animation: evenDots 2.3s linear infinite; }
        .blocks-template .blocks > .col-3 svg g path.dots:nth-child(6) {
          animation: evenDots 2.5s linear infinite; }
        .blocks-template .blocks > .col-3 svg g path.dots:nth-child(1n) {
          animation-play-state: paused; } }
      @media only screen and (min-width: 768px) {
        .blocks-template .blocks > .col-3:hover .hover-blocks div > div {
          opacity: 1; } }
      .blocks-template .blocks > .col-3:hover svg g path.dots:nth-child(1n) {
        animation-play-state: running; }
    .blocks-template .blocks .icon-overlay {
      position: relative;
      height: 10rem;
      width: 10rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 4rem; }
      .blocks-template .blocks .icon-overlay .hover-blocks div > div {
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05); }
        .blocks-template .blocks .icon-overlay .hover-blocks div > div:nth-child(2) {
          bottom: -8px; }
        .blocks-template .blocks .icon-overlay .hover-blocks div > div:nth-child(3) {
          bottom: -16px; }
    .blocks-template .blocks h6 {
      margin-bottom: 15px; }
    .blocks-template .blocks h2 {
      margin-bottom: 25px; }
    .blocks-template .blocks p {
      color: #636A75; }
  .blocks-template.blocks-template-arrown h5 {
    margin-bottom: 5.5rem; }
  .blocks-template.blocks-template-arrown h6 {
    font-size: 2.3rem;
    margin-bottom: 2rem; }
  .blocks-template.blocks-template-arrown .blocks > div {
    padding: 0; }
    .blocks-template.blocks-template-arrown .blocks > div p {
      width: 90%; }
    .blocks-template.blocks-template-arrown .blocks > div .arrown {
      position: absolute;
      right: 0;
      top: 3.5rem;
      width: 65%;
      height: 2.5rem;
      overflow: hidden;
      filter: grayscale(1);
      opacity: 0.2;
      transition: all 0.2s linear; }
      .blocks-template.blocks-template-arrown .blocks > div .arrown:after {
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: url("../img/arrow.svg") center center/contain no-repeat; }
    .blocks-template.blocks-template-arrown .blocks > div .icon-overlay {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 5rem; }
      .blocks-template.blocks-template-arrown .blocks > div .icon-overlay svg {
        max-width: 5rem;
        max-height: 5rem; }
    .blocks-template.blocks-template-arrown .blocks > div:last-of-type .arrown:after {
      display: none; }

.hover-blocks {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; }
  .hover-blocks div {
    position: relative;
    width: 100%;
    height: 100%; }
    .hover-blocks div > div {
      position: absolute;
      background: #FFFFFF;
      box-shadow: 0px 15px 24px rgba(64, 90, 128, 0.05);
      border-radius: 5px;
      opacity: 0;
      transition: all 0.3s linear; }
      .hover-blocks div > div:nth-child(1) {
        z-index: 3; }
      .hover-blocks div > div:nth-child(2) {
        bottom: -5%;
        z-index: 2;
        transform: scale(0.95); }
      .hover-blocks div > div:nth-child(3) {
        bottom: -10%;
        z-index: 1;
        transform: scale(0.9); }
  .hover-blocks.hover div > div:nth-of-type(1) {
    opacity: 1;
    transition-delay: 0.2s; }
  .hover-blocks.hover div > div:nth-of-type(2) {
    opacity: 1;
    transition-delay: 0.4s; }
  .hover-blocks.hover div > div:nth-of-type(3) {
    opacity: 1;
    transition-delay: 0.6s; }
  .hover-blocks.hover div > div:nth-of-type(4) {
    opacity: 1;
    transition-delay: 0.8s; }
  .hover-blocks.leave div > div:nth-of-type(3) {
    opacity: 0;
    transition-delay: 0.2s; }
  .hover-blocks.leave div > div:nth-of-type(2) {
    opacity: 0;
    transition-delay: 0.4s; }
  .hover-blocks.leave div > div:nth-of-type(1) {
    opacity: 0;
    transition-delay: 0.6s; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap; }
  .row_left {
    flex-direction: row-reverse; }
  .row .col-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc((100% - 4rem) / 2); }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      .row .col-6 {
        width: 100%;
        max-width: 350px;
        margin: 0 auto 2rem; } }
    .row .col-6.block_text {
      position: relative;
      padding: 0 10.5rem;
      min-height: 38rem;
      width: 53%; }
      @media only screen and (max-width: 1399px) {
        .row .col-6.block_text {
          padding: 0 7rem;
          min-height: 30rem; } }
      @media only screen and (max-width: 1199px) {
        .row .col-6.block_text {
          padding: 0 4rem; } }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        .row .col-6.block_text {
          width: 100%;
          max-width: 400px; } }
      .row .col-6.block_text .hover-blocks div > div {
        opacity: 1; }
    .row .col-6.block_picture {
      width: 44%; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        .row .col-6.block_picture {
          width: 100%;
          max-width: 350px;
          padding: 3rem 3rem 0; } }
    .row .col-6 > p {
      margin-bottom: 2rem;
      line-height: 1.75; }
      .row .col-6 > p br {
        display: none; }
      .row .col-6 > p span:not(.underline) {
        font-weight: 500; }
    .row .col-6 > h6 {
      width: 80%;
      padding: 2rem 0 2.4rem;
      font-size: 2.4rem;
      line-height: 1.5;
      font-weight: 600;
      position: relative;
      color: #143243; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        .row .col-6 > h6 {
          width: 100%;
          font-size: 2rem;
          padding: 1rem 0 1.5rem; } }
      .row .col-6 > h6::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 17.5rem;
        height: 1px;
        background: #314C5A; }
  @media only screen and (min-width: 768px) {
    .row:hover .hover-blocks div > div {
      opacity: 1; } }

.center-position {
  max-width: 57rem;
  margin: 0 auto 30px; }
  .center-position * {
    text-align: center; }
  .center-position.full-width {
    width: 100%; }

section.bg-blue {
  position: relative;
  padding-top: 17.5rem;
  padding-bottom: 24rem;
  background: transparent;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }
  section.bg-blue .container {
    position: relative;
    z-index: 2; }
  section.bg-blue .btn:hover {
    border-color: #fff;
    color: #fff; }
  section.bg-blue.animated {
    background: #143243; }

.bg-light-blue {
  background: #2B98D2;
  /*background: transparent;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  &.animated{
    background: $blue;
  }*/ }

.bg-light {
  background: #F9F9F9;
  position: relative; }
  .bg-light .absolute-elements.bg-blue-elements .circle.big {
    width: 8rem;
    height: 8rem;
    top: initial;
    right: -2%;
    left: initial;
    bottom: 11%;
    opacity: 0.6; }
  .bg-light .container {
    position: relative;
    z-index: 2; }

.bg-light ul {
  margin: 1rem 0 5rem;
  padding: 3rem 3.5rem 3.5rem;
  position: relative; }
  .bg-light ul:before, .bg-light ul:after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    content: '';
    display: block; }
  .bg-light ul:before {
    top: 0; }
  .bg-light ul:after {
    bottom: 0; }
  .bg-light ul li {
    text-align: left;
    margin-bottom: 1.5rem; }
    .bg-light ul li:last-of-type {
      margin-bottom: 0; }
    .bg-light ul li:before {
      color: #363636; }

.bg-blue {
  padding: 17rem 0 24rem; }
  .bg-blue *:not(.btn) {
    color: #fff !important; }
  .bg-blue ul {
    margin: 4rem 0 6rem;
    padding: 4rem 3.5rem 4.5rem;
    position: relative; }
    .bg-blue ul:before, .bg-blue ul:after {
      position: absolute;
      width: 100%;
      height: 2px;
      background: rgba(255, 255, 255, 0.3);
      left: 0;
      content: '';
      display: block; }
    .bg-blue ul:before {
      top: 0; }
    .bg-blue ul:after {
      bottom: 0; }
    .bg-blue ul li {
      text-align: left;
      margin-bottom: 1.5rem; }
      .bg-blue ul li:last-of-type {
        margin-bottom: 0; }
      .bg-blue ul li:before {
        color: #fff; }
  .bg-blue h2 div:after {
    background: #2B98D2; }

#contact {
  padding: 14rem 0 19rem;
  position: relative; }
  @media only screen and (max-width: 1399px) {
    #contact {
      padding: 10rem 0 12rem; } }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    #contact {
      padding: 7rem 0 5rem; } }
  #contact .container {
    position: relative;
    z-index: 2; }
  #contact .col-6 {
    max-width: 44.5rem; }
    #contact .col-6 > * {
      color: #fff; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        #contact .col-6 > * {
          color: #143243; } }
  #contact img {
    max-width: 11rem;
    margin-bottom: 3.5rem; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      #contact img {
        display: none; } }
  #contact h2 {
    margin-bottom: 4rem;
    max-width: 31rem; }
  #contact .contact-form {
    position: relative;
    max-width: 58rem;
    background: #fff;
    padding: 6rem 6rem 4rem;
    border-radius: 10px;
    margin-bottom: 7.5rem; }
    @media only screen and (max-width: 1399px) {
      #contact .contact-form {
        padding: 5rem; } }
    @media only screen and (max-width: 1199px) {
      #contact .contact-form {
        padding: 4rem; } }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      #contact .contact-form {
        margin-bottom: 0; } }
    #contact .contact-form .center-position {
      width: 75%;
      min-width: 50rem; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        #contact .contact-form .center-position {
          min-width: 100%;
          width: 100%; } }
    #contact .contact-form h3.small-title {
      margin-bottom: 3rem; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        #contact .contact-form h3.small-title {
          margin-bottom: 1rem; } }
    #contact .contact-form h5 {
      font-size: 1.8rem;
      line-height: 1.6;
      font-weight: 500;
      margin-bottom: 3.5rem; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        #contact .contact-form h5 {
          font-size: 1.4rem;
          margin-bottom: 1.5rem; } }
      #contact .contact-form h5 br {
        display: none; }
    #contact .contact-form input[type=submit] {
      display: inherit;
      margin: 0 auto;
      margin-top: 2rem;
      font-family: "Montserrat", sans-serif;
      font-size: 2rem;
      font-weight: 700;
      text-transform: capitalize;
      line-height: 6.8rem;
      height: 7rem;
      text-align: center;
      width: 100%;
      border-width: 1px;
      border-style: solid;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      padding: 0 1.5rem;
      text-decoration: none;
      -webkit-box-shadow: none;
      box-shadow: 0 7px 10px rgba(0, 199, 180, 0.1);
      color: #fff;
      background: #2D97D3;
      border-color: #2D97D3;
      margin-top: 5rem; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        #contact .contact-form input[type=submit] {
          font-size: 1.8rem;
          width: 100%; } }
      #contact .contact-form input[type=submit]:after {
        content: '\f061';
        position: relative;
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        font-weight: 900;
        font-size: 2rem;
        line-height: 1;
        margin-left: 1rem;
        color: #fff;
        display: none; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        #contact .contact-form input[type=submit] {
          margin-top: 0.5rem;
          line-height: 5.8rem;
          height: 6rem; } }
      #contact .contact-form input[type=submit]:hover {
        border-color: #71c2f0;
        background: #71c2f0; }
    #contact .contact-form .flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      #contact .contact-form .flex p {
        width: calc((100% - 2rem) / 2); }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        #contact .contact-form .flex p {
          width: 100%; } }
  #contact .hover-blocks div > div {
    opacity: 1; }

.before_footer {
  padding: 14rem 0 3rem; }
  @media only screen and (max-width: 1499px) {
    .before_footer {
      padding: 12rem 0 3rem; } }
  @media only screen and (max-width: 1199px) {
    .before_footer {
      padding: 8rem 0 1rem; } }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    .before_footer {
      padding: 6rem 0 0; } }
  .before_footer .blocks {
    align-items: flex-start; }
    .before_footer .blocks.align-left > div {
      padding-top: 0; }
  .before_footer .col-6 {
    padding-right: 10rem; }
    @media only screen and (max-width: 1399px) {
      .before_footer .col-6 {
        padding-right: 7rem; } }
    @media only screen and (max-width: 1199px) {
      .before_footer .col-6 {
        padding-right: 4rem; } }
  .before_footer img {
    margin-left: -30px;
    margin-bottom: 13px; }
  .before_footer .logo {
    margin: 2.3rem 0 3.5rem; }
  .before_footer .location {
    margin-bottom: 3rem; }
    @media only screen and (max-width: 1199px) {
      .before_footer .location {
        margin-bottom: 2em; } }
    .before_footer .location p {
      font-size: 16px; }
      @media only screen and (max-width: 1199px) {
        .before_footer .location p {
          font-size: 14px; } }
      .before_footer .location p:first-of-type {
        font-weight: 600; }

footer {
  background: #143243;
  padding: 24px 0; }
  footer * {
    color: #fff; }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 10px; }
    @media only screen and (max-width: 599px) {
      footer .container {
        flex-direction: column;
        align-items: flex-start; } }
  footer .logo img {
    width: 21rem;
    height: auto; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    footer .menu {
      column-count: 3;
      display: block; } }
  @media only screen and (max-width: 599px) {
    footer .menu {
      column-count: 2; } }
  footer .menu .menu-item a {
    font-weight: 400;
    text-transform: capitalize;
    padding: 0;
    color: #fff;
    line-height: initial; }
    @media only screen and (max-width: 1199px) {
      footer .menu .menu-item a {
        font-size: 13px; } }
    footer .menu .menu-item a:hover {
      color: #2B98D2; }
  footer h5 {
    font-size: 16px;
    font-weight: 600; }
    @media only screen and (max-width: 1199px) {
      footer h5 {
        font-size: 14px; } }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      footer h5 {
        align-self: flex-start; } }
    @media only screen and (max-width: 599px) {
      footer h5 {
        margin-bottom: 3rem; } }
  footer p.copyright {
    width: 100%;
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    padding-top: 24px;
    text-align: left;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 24px; }
    footer p.copyright a {
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
      text-decoration: underline;
      transition: all 0.3s ease-in-out; }
      footer p.copyright a:hover {
        color: #2B98D2; }

@keyframes evenDots {
  0% {
    transform: translateY(35px);
    opacity: 0; }
  50% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(-35px);
    opacity: 0; } }

@keyframes scaleB {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@keyframes scaleS {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #f9faff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s cubic-bezier(1, 0.01, 1, 0.85); }
  .preloader.hidden {
    transform: translateX(-100vw); }
  .preloader .bubbles {
    position: relative; }
    .preloader .bubbles .bubble {
      display: inline-block;
      padding: 0px 5px; }
      .preloader .bubbles .bubble:nth-of-type(1) .circle {
        animation-delay: 0.1s; }
      .preloader .bubbles .bubble:nth-of-type(2) .circle {
        animation-delay: 0.2s; }
      .preloader .bubbles .bubble:nth-of-type(3) .circle {
        animation-delay: 0.3s; }
      .preloader .bubbles .bubble:nth-of-type(4) .circle {
        animation-delay: 0.4s; }
      .preloader .bubbles .bubble:nth-of-type(5) .circle {
        animation-delay: 0.5s; }
      .preloader .bubbles .bubble:nth-of-type(6) .circle {
        animation-delay: 0.6s; }
      .preloader .bubbles .bubble:nth-of-type(7) .circle {
        animation-delay: 0.7s; }
      .preloader .bubbles .bubble:nth-of-type(8) .circle {
        animation-delay: 0.8s; }
      .preloader .bubbles .bubble:nth-of-type(9) .circle {
        animation-delay: 0.9s; }
      .preloader .bubbles .bubble:nth-of-type(10) .circle {
        animation-delay: 1s; }
      .preloader .bubbles .bubble .circle {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background: #143243;
        animation: pulse 1.5s infinite;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3); }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.2);
    opacity: 0.75; }
  100% {
    transform: scale(1); } }

/*about-page*/
section.blocks-template.about-intro {
  padding: 21rem 0 17rem; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    section.blocks-template.about-intro {
      padding: 12rem 0; } }
  section.blocks-template.about-intro .absolute-elements .arrow.small {
    left: initial;
    right: 6.5%;
    top: 19.5%; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      section.blocks-template.about-intro .absolute-elements .arrow.small {
        top: 15%; } }
    section.blocks-template.about-intro .absolute-elements .arrow.small img {
      width: 3rem;
      height: 3rem; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        section.blocks-template.about-intro .absolute-elements .arrow.small img {
          width: 2rem;
          height: 2rem; } }
  section.blocks-template.about-intro .absolute-elements .arrow.big {
    right: 10%;
    top: 11%; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      section.blocks-template.about-intro .absolute-elements .arrow.big {
        right: -4%; } }
  section.blocks-template.about-intro .blocks .icon-overlay {
    width: 12.5rem; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      section.blocks-template.about-intro .blocks .icon-overlay {
        width: 10.5rem;
        height: 8.5rem; } }

section.why-conversion {
  padding: 13.5rem 0 12.5rem; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    section.why-conversion {
      padding: 11rem 0 13rem; } }
  section.why-conversion h3 {
    margin-bottom: 0; }
  section.why-conversion .row {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 1.5rem; }
  section.why-conversion .absolute-elements.bg-blue-elements .lines {
    position: absolute;
    top: 17%;
    right: 10%;
    left: initial; }
    section.why-conversion .absolute-elements.bg-blue-elements .lines img {
      width: 65px; }
  section.why-conversion .absolute-elements.bg-blue-elements .circle.small {
    right: initial;
    left: 6%;
    top: 50%;
    opacity: 1; }
  section.why-conversion .absolute-elements.bg-blue-elements .arrow.small {
    right: initial;
    left: 12%;
    opacity: 0.8;
    top: initial;
    bottom: 27%;
    width: 4rem;
    height: 4rem; }
  section.why-conversion + #testimonials {
    padding: 14rem 0; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      section.why-conversion + #testimonials {
        padding: 11rem 0 5rem; } }
    section.why-conversion + #testimonials .row {
      padding: 3rem 0; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        section.why-conversion + #testimonials .row {
          padding: 0; } }
    section.why-conversion + #testimonials .absolute-elements .circle {
      right: initial;
      left: -2%;
      top: 46%; }
      section.why-conversion + #testimonials .absolute-elements .circle img {
        width: 8.5rem;
        height: 8.5rem; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        section.why-conversion + #testimonials .absolute-elements .circle {
          left: -8%; }
          section.why-conversion + #testimonials .absolute-elements .circle img {
            width: 5.5rem;
            height: 5.5rem; } }

section.see-features {
  padding: 15rem 0; }
  section.see-features .container svg {
    height: 9.5rem; }
  section.see-features h3 {
    margin-bottom: 7rem; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      section.see-features h3 {
        text-align: center;
        margin-bottom: 5rem; } }
  section.see-features .absolute-elements .comment-icon {
    position: absolute;
    top: 18.5%;
    left: 12%; }
  section.see-features .absolute-elements .lines {
    position: absolute;
    top: 60%;
    right: 17.5%; }
    section.see-features .absolute-elements .lines img {
      width: 6.5rem; }
  section.see-features .absolute-elements .circle {
    position: absolute;
    top: 37%;
    right: 8%; }

section.bg-dark-blue {
  background: #143243;
  border-bottom: 1px solid #FFFFFF;
  padding: 10rem 0 8rem; }
  section.bg-dark-blue#vertical_steps {
    padding: 13rem 0 2rem; }
  section.bg-dark-blue:nth-of-type(5) {
    border-bottom: none;
    padding-bottom: 14rem; }
  section.bg-dark-blue * {
    color: #fff; }
  section.bg-dark-blue h3.small-title {
    font-size: 3.4rem;
    line-height: 1.5;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 1199px) {
      section.bg-dark-blue h3.small-title {
        font-size: 2.7rem;
        margin-bottom: 3rem; } }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      section.bg-dark-blue h3.small-title {
        font-size: 2.3rem; } }
  section.bg-dark-blue h5 {
    margin-bottom: 0;
    font-size: 2.4rem;
    line-height: 1.125;
    font-weight: 600; }
    @media only screen and (max-width: 1199px) {
      section.bg-dark-blue h5 {
        font-size: 2.2rem; } }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      section.bg-dark-blue h5 {
        font-size: 1.8rem; } }
  section.bg-dark-blue .row {
    flex-direction: row-reverse; }
    section.bg-dark-blue .row .col-4 {
      max-width: 38rem; }
      section.bg-dark-blue .row .col-4 h5 {
        font-size: 2.6rem;
        line-height: 1;
        margin-bottom: 2.5rem; }
    section.bg-dark-blue .row .col-8 {
      max-width: calc(100% - 38rem - 5rem); }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        section.bg-dark-blue .row .col-8 {
          max-width: 100%;
          margin-top: 4rem; } }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      section.bg-dark-blue .row.left {
        flex-direction: column-reverse; }
      section.bg-dark-blue .row.right {
        flex-direction: column; } }

#features.features-page {
  padding: 8rem 0; }
  #features.features-page .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    @media only screen and (max-width: 992px) {
      #features.features-page .container {
        flex-direction: column; } }
    #features.features-page .container > div {
      width: 49%;
      overflow-x: hidden; }
      @media only screen and (max-width: 1199px) {
        #features.features-page .container > div {
          width: 52%; } }
      @media only screen and (max-width: 992px) {
        #features.features-page .container > div {
          width: 100%;
          margin-top: 4rem; } }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        #features.features-page .container > div {
          overflow-x: visible; } }
      #features.features-page .container > div.left-position {
        overflow: hidden; }
      #features.features-page .container > div:first-of-type {
        width: calc(51% - 4rem);
        padding-top: 21rem; }
        @media only screen and (max-width: 1199px) {
          #features.features-page .container > div:first-of-type {
            width: calc(48% - 4rem); } }
        @media only screen and (max-width: 992px) {
          #features.features-page .container > div:first-of-type {
            width: 100%;
            padding-top: 0;
            margin-bottom: 4rem; } }
      #features.features-page .container > div:last-of-type {
        position: relative; }
        #features.features-page .container > div:last-of-type:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 1; }
      #features.features-page .container > div > .blocks {
        position: relative;
        z-index: -1;
        width: calc(100% + 17px);
        margin-right: -17px;
        display: flex;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        max-height: calc(100vh - 8rem);
        overflow: hidden;
        overflow-y: scroll;
        padding: 9rem 0; }
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
          #features.features-page .container > div > .blocks {
            flex-direction: column;
            max-height: initial;
            overflow: visible;
            width: 100%;
            margin: 0;
            padding: 0; } }
        #features.features-page .container > div > .blocks .blocks-overlay {
          width: calc((100% - 3.7rem) / 2);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          padding: 0;
          padding-top: 1.5rem; }
          #features.features-page .container > div > .blocks .blocks-overlay:nth-child(2) {
            margin-right: 0;
            padding-top: 13rem; }
            @media only screen and (max-width: 992px) {
              #features.features-page .container > div > .blocks .blocks-overlay:nth-child(2) {
                padding-top: 0; } }
          @media only screen and (max-width: 992px) {
            #features.features-page .container > div > .blocks .blocks-overlay {
              width: auto;
              flex-wrap: nowrap; } }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
            #features.features-page .container > div > .blocks .blocks-overlay {
              flex-wrap: wrap;
              justify-content: center; } }
          #features.features-page .container > div > .blocks .blocks-overlay > div:last-of-type {
            opacity: 0; }
            @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
              #features.features-page .container > div > .blocks .blocks-overlay > div:last-of-type {
                opacity: 1; } }
          #features.features-page .container > div > .blocks .blocks-overlay:nth-child(2) > div:nth-child(2) {
            opacity: 0.2; }
            @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
              #features.features-page .container > div > .blocks .blocks-overlay:nth-child(2) > div:nth-child(2) {
                opacity: 1; } }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
            #features.features-page .container > div > .blocks .blocks-overlay.align-left > div {
              display: flex;
              flex-direction: column;
              align-items: center; }
            #features.features-page .container > div > .blocks .blocks-overlay.align-left h6, #features.features-page .container > div > .blocks .blocks-overlay.align-left p {
              text-align: center; } }
          #features.features-page .container > div > .blocks .blocks-overlay > div {
            position: relative;
            max-width: 27.5rem;
            padding: 4.5rem 2rem;
            border-radius: 5px;
            margin-bottom: 8rem; }
            #features.features-page .container > div > .blocks .blocks-overlay > div:last-of-type {
              margin-bottom: 15rem; }
              @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
                #features.features-page .container > div > .blocks .blocks-overlay > div:last-of-type {
                  margin-bottom: 8rem; } }
            @media only screen and (max-width: 992px) {
              #features.features-page .container > div > .blocks .blocks-overlay > div {
                max-width: calc((100vw - 9rem) / 3);
                padding: 4rem 2rem;
                margin-right: 1.5rem; } }
            @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
              #features.features-page .container > div > .blocks .blocks-overlay > div {
                width: 100%;
                max-width: 40rem;
                margin-right: 0;
                margin-bottom: 5rem; } }
            #features.features-page .container > div > .blocks .blocks-overlay > div * {
              position: relative;
              z-index: 2; }
            #features.features-page .container > div > .blocks .blocks-overlay > div .hover-blocks {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 1; }
              #features.features-page .container > div > .blocks .blocks-overlay > div .hover-blocks div {
                position: relative;
                width: 100%;
                height: 100%; }
                #features.features-page .container > div > .blocks .blocks-overlay > div .hover-blocks div > div {
                  opacity: 1;
                  position: absolute;
                  background: #FFFFFF;
                  box-shadow: 10px 6px 20px rgba(0, 0, 0, 0.05);
                  border-radius: 5px; }
                  #features.features-page .container > div > .blocks .blocks-overlay > div .hover-blocks div > div:nth-child(1) {
                    z-index: 3; }
                  #features.features-page .container > div > .blocks .blocks-overlay > div .hover-blocks div > div:nth-child(2) {
                    bottom: -5%;
                    z-index: 2;
                    transform: scale(0.95); }
                  #features.features-page .container > div > .blocks .blocks-overlay > div .hover-blocks div > div:nth-child(3) {
                    bottom: -10%;
                    z-index: 1;
                    transform: scale(0.9); }
          #features.features-page .container > div > .blocks .blocks-overlay .icon-overlay {
            position: relative;
            height: 7.5rem;
            width: 11rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-bottom: 1rem; }
          #features.features-page .container > div > .blocks .blocks-overlay h6 {
            max-width: 99%;
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 2.2rem;
            line-height: initial;
            color: #143243;
            margin-bottom: 1rem; }
          #features.features-page .container > div > .blocks .blocks-overlay:last-of-type > div {
            margin-right: 0; }
    #features.features-page .container h3 {
      text-transform: initial;
      margin-bottom: 2.5rem; }
      @media only screen and (max-width: 1199px) {
        #features.features-page .container h3 {
          margin-bottom: 1.5rem; } }
    #features.features-page .container h5 {
      font-weight: 400;
      margin-bottom: 5rem; }
      @media only screen and (max-width: 1199px) {
        #features.features-page .container h5 {
          margin-bottom: 3.5rem; } }
      #features.features-page .container h5.title {
        font-weight: 600; }
  #features.features-page .absolute-elements .comment-icon {
    top: 37.5%;
    left: 5%; }
    #features.features-page .absolute-elements .comment-icon img {
      width: 6.5rem; }
  #features.features-page .absolute-elements .lines {
    top: 24%;
    right: 6%; }
    #features.features-page .absolute-elements .lines img {
      width: 5rem; }
  #features.features-page .absolute-elements .arrow.small {
    left: 12.5%;
    top: 54%; }
  #features.features-page .absolute-elements .circle, #features.features-page .absolute-elements .arrow.big {
    display: none; }

.btn-border-blue {
  border: 2px solid #2D97D3;
  background: transparent;
  color: #2B98D2;
  font-size: 2rem;
  font-weight: 700; }

.phone-btn:before {
  content: '\f879';
  position: relative;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  line-height: 20px;
  margin-right: 1rem;
  /* blue */
  color: #2B98D2;
  /*transform: matrix(-1, 0, 0, 1, 0, 0);*/ }

@media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
  .btn-border-blue {
    font-size: 1.8rem;
    background: #ffa51e;
    color: #fff;
    border-color: #ffa51e; }
  .btn-border-blue:hover {
    border-color: #ff7a00;
    background: #ff7a00; }
  .phone-btn:before {
    color: #fff; } }

.phone-btn:after {
  display: none; }

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 10px;
  height: 0px; }

::-webkit-scrollbar-track {
  background-color: #eef0f1; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #d0d0d0;
  cursor: pointer; }

::-webkit-scrollbar-thumb:hover {
  background-color: #959595;
  cursor: pointer; }

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 14px;
  height: 0px; }

::-webkit-scrollbar {
  width: 14px; }

section.blocks-template.blog {
  padding: 12.5rem 0 8rem; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    section.blocks-template.blog {
      padding: 12rem 0 8rem; }
      section.blocks-template.blog h1 {
        text-align: center; } }
  section.blocks-template.blog .blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 3rem);
    margin-left: -1.5rem; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      section.blocks-template.blog .blocks {
        width: calc(100% + 2rem);
        margin-left: -1rem; } }
    section.blocks-template.blog .blocks > div {
      width: calc((100% - 9rem) / 3);
      margin: 0 1.5rem 6.4rem;
      padding: 0;
      cursor: pointer;
      position: relative; }
      section.blocks-template.blog .blocks > div > a {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 1; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        section.blocks-template.blog .blocks > div {
          width: calc((100% - 6rem) / 3);
          margin: 0 1rem 4rem; } }
      @media only screen and (max-width: 599px) {
        section.blocks-template.blog .blocks > div {
          width: 100%; } }
      section.blocks-template.blog .blocks > div .pic {
        width: 100%;
        padding-top: 71%;
        background-position: center center;
        background-size: cover;
        border-radius: 5px; }
      section.blocks-template.blog .blocks > div .content {
        padding: 2.5rem 4rem 3rem 3.5rem; }
        @media only screen and (max-width: 1199px) {
          section.blocks-template.blog .blocks > div .content {
            padding: 2rem 0; } }
        section.blocks-template.blog .blocks > div .content h5 {
          font-size: 2.2rem;
          line-height: 1.3;
          font-weight: 600;
          margin-bottom: 1.7rem;
          color: #143243; }
          section.blocks-template.blog .blocks > div .content h5::first-letter {
            text-transform: uppercase; }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
            section.blocks-template.blog .blocks > div .content h5 {
              font-size: 1.8rem;
              margin-bottom: 1rem; } }
        section.blocks-template.blog .blocks > div .content .additional-info {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          section.blocks-template.blog .blocks > div .content .additional-info div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
          section.blocks-template.blog .blocks > div .content .additional-info p {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.2;
            margin-bottom: 0;
            color: #363636; }
          section.blocks-template.blog .blocks > div .content .additional-info .icon {
            display: inline-block; }
            section.blocks-template.blog .blocks > div .content .additional-info .icon.calendar {
              margin-right: 1.5rem;
              width: 23px;
              height: 19px;
              background: url(../img/calendar.svg) center center/cover no-repeat; }
            section.blocks-template.blog .blocks > div .content .additional-info .icon.show {
              width: 26px;
              height: 17px;
              background: url(../img/show.svg) center center/cover no-repeat;
              margin-right: 1rem; }
      section.blocks-template.blog .blocks > div.full-width {
        width: 100%;
        display: flex;
        margin-bottom: 3rem; }
        @media only screen and (max-width: 599px) {
          section.blocks-template.blog .blocks > div.full-width {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-bottom: 4rem; } }
        section.blocks-template.blog .blocks > div.full-width .pic {
          width: 65%;
          padding-top: 40%; }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
            section.blocks-template.blog .blocks > div.full-width .pic {
              width: 50%; } }
          @media only screen and (max-width: 599px) {
            section.blocks-template.blog .blocks > div.full-width .pic {
              width: 100%;
              padding-top: 71%; } }
        section.blocks-template.blog .blocks > div.full-width .content {
          width: 35%;
          padding: 2.3rem 0 4.9rem 3rem; }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
            section.blocks-template.blog .blocks > div.full-width .content {
              width: 50%;
              padding: 1rem 0 1rem 2rem; } }
          @media only screen and (max-width: 599px) {
            section.blocks-template.blog .blocks > div.full-width .content {
              width: 100%;
              padding: 2rem 0; } }
          section.blocks-template.blog .blocks > div.full-width .content h5 {
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.4;
            margin-bottom: 2.5rem; }
            @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
              section.blocks-template.blog .blocks > div.full-width .content h5 {
                font-size: 2.8rem;
                line-height: 1.3;
                margin-bottom: 2rem; } }
          section.blocks-template.blog .blocks > div.full-width .content > p {
            font-size: 2rem;
            line-height: 1.75;
            margin-bottom: 4rem; }
            @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
              section.blocks-template.blog .blocks > div.full-width .content > p {
                font-size: 1.8rem;
                line-height: 1.5;
                margin-bottom: 3rem; } }
          section.blocks-template.blog .blocks > div.full-width .content .additional-info {
            margin-bottom: 1rem; }
            section.blocks-template.blog .blocks > div.full-width .content .additional-info .views {
              display: none; }
  section.blocks-template.blog .absolute-elements .comment-icon {
    left: 3rem;
    top: 45%; }
    section.blocks-template.blog .absolute-elements .comment-icon img {
      width: 6.5rem; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      section.blocks-template.blog .absolute-elements .comment-icon {
        left: 0; } }
  section.blocks-template.blog .absolute-elements .arrow.big {
    right: initial;
    top: 60%;
    left: 10%; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      section.blocks-template.blog .absolute-elements .arrow.big {
        left: 5%; } }
    section.blocks-template.blog .absolute-elements .arrow.big img {
      width: 3rem; }
  section.blocks-template.blog .absolute-elements .lines.big {
    top: 25%;
    right: 5%; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      section.blocks-template.blog .absolute-elements .lines.big {
        right: 2%; } }
    section.blocks-template.blog .absolute-elements .lines.big img {
      width: 5rem; }

.btn-arrow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.8rem;
  line-height: 0.66;
  color: #143243;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  z-index: 2; }
  .btn-arrow-right i {
    margin-left: 1.5rem; }
  .btn-arrow-left i {
    margin-right: 1.5rem; }
  .btn-arrow i {
    color: #143243;
    transition: all 0.3s ease-in-out; }
  .btn-arrow span {
    display: inline-block;
    background: url(../img/arrow-small.svg) center center/cover no-repeat;
    width: 26px;
    height: 13px;
    margin-left: 1.5rem;
    transition: all 0.3s ease-in-out; }
  .btn-arrow:hover {
    color: #2B98D2; }
    .btn-arrow:hover-right i {
      margin-left: 2rem; }
    .btn-arrow:hover-left i {
      margin-right: 2rem; }
    .btn-arrow:hover span, .btn-arrow:hover i {
      color: #2B98D2; }

.container-small {
  max-width: 79rem;
  margin: 0 auto;
  position: relative;
  z-index: 2; }
  @media only screen and (max-width: 1199px) {
    .container-small {
      padding: 0 3rem; } }

section.article {
  padding: 15rem 0 8rem; }
  @media only screen and (max-width: 1199px) {
    section.article {
      padding: 14rem 0 8rem !important; } }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    section.article {
      padding: 12rem 0 8rem !important; } }
  section.article .center-position {
    width: 100%;
    margin-bottom: 5rem; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      section.article .center-position {
        margin-bottom: 4rem; } }
    section.article .center-position p {
      font-weight: 500;
      margin-bottom: 1.7rem; }
    section.article .center-position h3.title {
      line-height: 1.5; }
  section.article .absolute-elements .comment-icon {
    left: 3rem;
    top: 9%;
    opacity: 0.6; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      section.article .absolute-elements .comment-icon {
        left: -1rem; } }
    section.article .absolute-elements .comment-icon.right {
      bottom: 15%;
      top: initial;
      right: 10%;
      left: initial; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        section.article .absolute-elements .comment-icon.right {
          right: -5%; } }
    section.article .absolute-elements .comment-icon img {
      width: 6.5rem; }
  section.article .absolute-elements .arrow.big {
    right: initial;
    top: 12%;
    left: 10%; }
    section.article .absolute-elements .arrow.big img {
      width: 3rem; }
    section.article .absolute-elements .arrow.big.right {
      top: initial;
      left: initial;
      right: 5%;
      bottom: 12%; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        section.article .absolute-elements .arrow.big.right {
          right: 1%; }
          section.article .absolute-elements .arrow.big.right img {
            width: 2rem; } }
  section.article .absolute-elements .lines.big {
    top: 7%;
    right: 5%; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      section.article .absolute-elements .lines.big {
        top: 20%;
        right: 0;
        display: block; } }
    section.article .absolute-elements .lines.big img {
      width: 5rem; }
  section.article .absolute-elements .circle {
    bottom: 20%;
    right: initial;
    left: 5%; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      section.article .absolute-elements .circle {
        left: 2%; } }

.single-content div {
  font-size: 2rem;
  line-height: 1.75;
  font-weight: 400;
  color: #363636; }

.single-content p {
  font-size: 2rem;
  line-height: 1.75;
  font-weight: 400;
  color: #363636; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    .single-content p {
      font-size: 1.8rem;
      line-height: 1.5; } }
  .single-content p strong {
    font-weight: 500; }

.single-content a {
  color: #2B98D2; }

.single-content > p {
  margin-bottom: 2.5rem; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    .single-content > p {
      margin-bottom: 1.5rem; } }
  .single-content > p:first-of-type, .single-content > p:first-of-type + p {
    color: #143243;
    font-weight: 500; }
  .single-content > p:first-of-type::first-letter {
    font-size: 12rem;
    font-weight: 700;
    line-height: 10rem;
    float: left;
    padding-right: 3rem; }
    @media only screen and (max-width: 1199px) {
      .single-content > p:first-of-type::first-letter {
        font-size: 9rem;
        line-height: 6rem;
        padding-right: 2rem; } }

.single-content h3 {
  font-size: 2.2rem;
  line-height: 1.6;
  font-weight: 600;
  margin-bottom: 2.5rem;
  margin-top: 5rem; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    .single-content h3 {
      font-size: 2rem;
      line-height: 1.5; } }

.single-content figure {
  width: calc(100% + 20rem);
  margin-left: -10rem;
  margin-top: 6rem; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    .single-content figure {
      width: 100%;
      margin-left: 0; } }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    .single-content figure {
      margin-top: 4rem; } }
  .single-content figure img {
    width: 100%;
    height: auto; }
  .single-content figure figcaption {
    margin-top: 2.5rem;
    font-size: 1.6rem;
    line-height: 2.2;
    text-align: center;
    color: #424242; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      .single-content figure figcaption {
        margin-top: 1.5rem; } }

.wp-block-separator {
  margin: 5rem 0 4.3rem;
  border: none;
  height: 1px; }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    .wp-block-separator {
      margin: 3rem 0 2rem; } }

.float-left {
  margin-bottom: 2.5rem; }
  .float-left .wp-block-group {
    width: 37rem;
    float: right;
    margin-left: 3.6rem;
    padding: 1rem 0 3rem 0; }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      .float-left .wp-block-group {
        clear: both;
        width: 100%;
        padding: 1.5rem 0 4rem; } }
    .float-left .wp-block-group p {
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1.7;
      color: #143243;
      position: relative; }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        .float-left .wp-block-group p {
          font-size: 2rem; } }
      .float-left .wp-block-group p:after {
        position: absolute;
        bottom: -2.5rem;
        left: 0;
        width: 17.5rem;
        height: 1px;
        background: #314C5A;
        content: ''; }
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
          .float-left .wp-block-group p:after {
            bottom: -2rem; } }

.post-meta {
  margin-top: 4rem; }
  .post-meta > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .post-meta > div:first-of-type {
      padding-bottom: 2rem;
      border-bottom: 1px solid #143243;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .post-meta > div:first-of-type > div {
        margin-bottom: 2rem; }
    .post-meta > div:last-of-type {
      padding-top: 2rem;
      flex-wrap: wrap; }
      .post-meta > div:last-of-type a {
        min-width: 20rem;
        margin-right: 1rem; }
      .post-meta > div:last-of-type > * {
        margin-top: 2rem; }
  .post-meta .tags {
    font-size: 1.8rem;
    font-weight: 500;
    color: #143243;
    line-height: 1.9;
    margin-right: 1rem; }
    .post-meta .tags span {
      display: inline-block;
      margin-right: 5px; }
  .post-meta .views {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none; }
    .post-meta .views p {
      font-weight: 500; }
    .post-meta .views span.show {
      display: inline-block;
      width: 26px;
      height: 17px;
      background: url(../img/show.svg) center center/cover no-repeat;
      margin-right: 1rem; }

.heateor_sss_sharing_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .heateor_sss_sharing_container .heateor_sss_sharing_title {
    font-size: 1.8rem;
    font-weight: 600 !important;
    color: #143243;
    margin-right: 1rem; }

ul.heateor_sss_sharing_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  ul.heateor_sss_sharing_ul li {
    width: 24px;
    height: 24px; }
    ul.heateor_sss_sharing_ul li i {
      margin: 0 1rem;
      background-color: transparent; }
    ul.heateor_sss_sharing_ul li:before {
      display: none; }
