<!-- partial:index.partial.html -->
//= head.html
<!-- partial -->

<section class="blocks-template animation about-intro">
    <div class="container">
        <div class="center-position">
            <h1 class="underline">
                <p>Better leads, bigger deals</p>
            </h1>
            <h5>Streamline your sales process with a real estate platform built for conversions.</h5>
        </div>
        <div class="blocks align-center">
            <div>
                <div class="icon-overlay">
                    <svg width="127" height="90" viewBox="0 0 127 90" fill="none">
                        <g>
                            <path class="dots"
                                d="M122.928 14.692C123.318 14.3003 123.953 14.3003 124.343 14.692L126.295 16.6489C126.685 17.0392 126.685 17.671 126.295 18.0613L124.343 20.0182C123.953 20.4099 123.318 20.4099 122.928 20.0182L120.975 18.0613C120.586 17.671 120.586 17.0392 120.975 16.6489L122.928 14.692Z"
                                fill="#CAE6F4" />
                            <path class="dots"
                                d="M2.65651 24.7097C3.04723 24.318 3.68174 24.318 4.07246 24.7097L6.02448 26.6666C6.41384 27.0569 6.41384 27.6887 6.02448 28.079L4.07247 30.0359C3.68174 30.4276 3.04723 30.4276 2.65651 30.0359L0.704495 28.079C0.315132 27.6887 0.315132 27.0569 0.704495 26.6666L2.65651 24.7097Z"
                                fill="#CAE6F4" />
                            <path class="dots"
                                d="M18.6565 49.7097C19.0472 49.318 19.6817 49.318 20.0725 49.7097L22.0245 51.6666C22.4138 52.0569 22.4138 52.6887 22.0245 53.079L20.0725 55.0359C19.6817 55.4276 19.0472 55.4276 18.6565 55.0359L16.7045 53.079C16.3151 52.6887 16.3151 52.0569 16.7045 51.6666L18.6565 49.7097Z"
                                fill="#CAE6F4" />
                            <path class="dots"
                                d="M110.526 38.195C110.916 37.8033 111.551 37.8033 111.942 38.195L115.015 41.2761C115.404 41.6664 115.404 42.2982 115.015 42.6885L111.942 45.7696C111.551 46.1613 110.916 46.1613 110.526 45.7696L107.452 42.6885C107.063 42.2982 107.063 41.6664 107.452 41.2761L110.526 38.195Z"
                                fill="#CAE6F4" />
                        </g>
                        <path
                            d="M71.901 16.32C73.0622 14.3546 75.9057 14.3546 77.0669 16.32L109.496 71.211C110.677 73.2109 109.236 75.737 106.913 75.737H42.0548C39.7321 75.737 38.2904 73.2109 39.4719 71.211L71.901 16.32Z"
                            fill="#95CCE9" />
                        <path
                            d="M100.208 74.6943L69.8062 21.9039C69.402 21.2 68.8199 20.6153 68.1185 20.2087C67.4172 19.8022 66.6213 19.5881 65.8111 19.5881C65.0009 19.5881 64.205 19.8022 63.5036 20.2087C62.8022 20.6153 62.2201 21.2 61.8159 21.9039L31.4174 74.6943C31.0127 75.3971 30.7997 76.1942 30.7998 77.0057C30.7999 77.8171 31.0132 78.6142 31.4181 79.3168C31.8231 80.0194 32.4054 80.6027 33.1066 81.0081C33.8078 81.4134 34.6031 81.6266 35.4126 81.6261H96.2158C97.0249 81.6261 97.8199 81.4125 98.5206 81.0069C99.2214 80.6013 99.8033 80.0179 100.208 79.3154C100.612 78.6129 100.825 77.8161 100.825 77.0049C100.825 76.1937 100.612 75.3968 100.208 74.6943ZM64.4819 23.4442C64.6168 23.2101 64.8108 23.0156 65.0444 22.8805C65.2779 22.7453 65.5429 22.6741 65.8126 22.6741C66.0823 22.6741 66.3473 22.7453 66.5809 22.8805C66.8145 23.0156 67.0084 23.2101 67.1433 23.4442L72.0819 32.0257H59.5433L64.4819 23.4442ZM57.7685 35.1065H73.8567L81.0142 47.5343H50.6111L57.7685 35.1065ZM48.8363 50.6104H82.7951L89.951 63.0383H41.6803L48.8363 50.6104ZM96.2158 78.5453H35.4095C35.1399 78.545 34.8751 78.4737 34.6417 78.3383C34.4084 78.203 34.2146 78.0086 34.0799 77.7744C33.9453 77.5403 33.8744 77.2748 33.8745 77.0045C33.8745 76.7343 33.9455 76.4688 34.0803 76.2347L39.9056 66.119H91.7197L97.5449 76.2347C97.6797 76.4688 97.7507 76.7343 97.7508 77.0045C97.7508 77.2748 97.68 77.5403 97.5453 77.7744C97.4106 78.0086 97.2169 78.203 96.9835 78.3383C96.7501 78.4737 96.4854 78.545 96.2158 78.5453Z"
                            fill="#143243" />
                        <path
                            d="M34.002 36.4664C34.002 36.8782 34.1601 37.2731 34.4415 37.5642C34.7229 37.8554 35.1046 38.019 35.5026 38.019H44.5062C44.9042 38.019 45.2859 37.8554 45.5673 37.5642C45.8487 37.2731 46.0068 36.8782 46.0068 36.4664V24.0459H50.5086C50.7895 24.0458 51.0648 23.9641 51.303 23.8102C51.5413 23.6563 51.733 23.4362 51.8563 23.1752C51.9797 22.9141 52.0297 22.6224 52.0008 22.3333C51.9719 22.0443 51.8651 21.7694 51.6926 21.54L41.1884 7.56691C41.0426 7.38923 40.8612 7.24649 40.6567 7.1486C40.4523 7.05071 40.2297 7 40.0044 7C39.7791 7 39.5565 7.05071 39.3521 7.1486C39.1476 7.24649 38.9662 7.38923 38.8204 7.56691L28.3162 21.54C28.1437 21.7694 28.0369 22.0443 28.008 22.3333C27.979 22.6224 28.0291 22.9141 28.1525 23.1752C28.2758 23.4362 28.4675 23.6563 28.7058 23.8102C28.944 23.9641 29.2193 24.0458 29.5001 24.0459H34.002V36.4664ZM32.5689 20.9407L40.0044 11.0493L47.4399 20.9407H44.5062C44.1082 20.9407 43.7265 21.1043 43.4451 21.3955C43.1637 21.6866 43.0056 22.0815 43.0056 22.4933V34.9138H37.0032V22.4933C37.0032 22.0815 36.8451 21.6866 36.5637 21.3955C36.2822 21.1043 35.9006 20.9407 35.5026 20.9407H32.5689Z"
                            fill="#143243" />

                    </svg>
                </div>
                <h6>Improved Organization</h6>
                <p>Simplify day-to-day operations with one platform for all your prospecting. No complicated learning
                    curve.
                </p>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="icon-overlay">
                    <svg width="117" height="90" viewBox="0 0 117 90" fill="none">
                        <g>
                            <path class="dots"
                                d="M4.19985 33.6917C3.80914 33.3001 3.17472 33.3001 2.78401 33.6917L0.704637 35.7759C0.315197 36.1662 0.315196 36.7981 0.704637 37.1885L2.78401 39.2726C3.17472 39.6642 3.80914 39.6642 4.19985 39.2726L6.27922 37.1885C6.66866 36.7981 6.66866 36.1662 6.27922 35.7759L4.19985 33.6917Z"
                                fill="#CAE6F4" />
                            <path class="dots"
                                d="M104.992 54.7094C104.601 54.3178 103.967 54.3178 103.576 54.7094L101.497 56.7936C101.107 57.1839 101.107 57.8158 101.497 58.2062L103.576 60.2903C103.967 60.6819 104.601 60.6819 104.992 60.2903L107.071 58.2062C107.461 57.8158 107.461 57.1839 107.071 56.7936L104.992 54.7094Z"
                                fill="#CAE6F4" />
                            <path class="dots"
                                d="M13.7036 57.1947C13.3129 56.803 12.6785 56.803 12.2878 57.1947L9.2107 60.2788C8.82125 60.6692 8.82125 61.3011 9.2107 61.6914L12.2878 64.7756C12.6785 65.1672 13.3129 65.1672 13.7036 64.7756L16.7807 61.6914C17.1701 61.3011 17.1701 60.6692 16.7807 60.2788L13.7036 57.1947Z"
                                fill="#CAE6F4" />
                            <path class="dots"
                                d="M113.218 36.7095C112.828 36.3179 112.193 36.3179 111.802 36.7095L108.725 39.7937C108.336 40.184 108.336 40.816 108.725 41.2063L111.802 44.2905C112.193 44.6821 112.828 44.6821 113.218 44.2905L116.295 41.2063C116.685 40.816 116.685 40.184 116.295 39.7937L113.218 36.7095Z"
                                fill="#CAE6F4" />
                        </g>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M88.076 19.5437C88.076 18.7493 87.7609 17.9872 87.1998 17.4248L76.6802 6.881C76.1174 6.3169 75.3533 5.99988 74.5564 5.99988H43.1863C41.5294 5.99988 40.1863 7.34303 40.1863 8.99988V72.9999C40.1863 74.6567 41.5294 75.9999 43.1863 75.9999H85.076C86.7329 75.9999 88.076 74.6567 88.076 72.9999V19.5437Z"
                            fill="#95CCE9" />
                        <path
                            d="M82.6596 22.6069L71.4157 11.4242C71.1422 11.1545 70.7734 11.0022 70.3882 10.9999H39.5501C38.3955 10.9999 37.2881 11.4561 36.4717 12.2681C35.6552 13.0801 35.1965 14.1814 35.1965 15.3298V76.67C35.1965 77.8183 35.6552 78.9197 36.4717 79.7317C37.2881 80.5437 38.3955 80.9999 39.5501 80.9999H78.7327C79.8873 80.9999 80.9947 80.5437 81.8111 79.7317C82.6276 78.9197 83.0863 77.8183 83.0863 76.67V23.6287C83.0843 23.2457 82.9311 22.8787 82.6596 22.6069ZM71.8394 15.9273L78.1319 22.1854H71.8394V15.9273ZM80.1839 76.67C80.1839 77.0528 80.031 77.4199 79.7588 77.6905C79.4867 77.9612 79.1175 78.1133 78.7327 78.1133H39.5501C39.1653 78.1133 38.7961 77.9612 38.524 77.6905C38.2518 77.4199 38.0989 77.0528 38.0989 76.67V15.3298C38.0989 14.947 38.2518 14.5799 38.524 14.3092C38.7961 14.0385 39.1653 13.8865 39.5501 13.8865H68.937V23.6287C68.937 24.0115 69.0899 24.3786 69.3621 24.6493C69.6342 24.92 70.0034 25.072 70.3882 25.072H80.1839V76.67Z"
                            fill="#143243" />
                        <path
                            d="M43.9041 36.5736H63.1325C63.5174 36.5736 63.8865 36.4216 64.1587 36.1509C64.4309 35.8802 64.5837 35.5131 64.5837 35.1303V23.9448C64.5837 23.562 64.4309 23.1949 64.1587 22.9242C63.8865 22.6535 63.5174 22.5015 63.1325 22.5015H43.9041C43.5192 22.5015 43.1501 22.6535 42.8779 22.9242C42.6058 23.1949 42.4529 23.562 42.4529 23.9448V35.1303C42.4529 35.5131 42.6058 35.8802 42.8779 36.1509C43.1501 36.4216 43.5192 36.5736 43.9041 36.5736ZM45.3553 25.3881H61.6813V33.687H45.3553V25.3881Z"
                            fill="#143243" />
                        <path
                            d="M72.9656 49.4724H61.4053C61.0204 49.4724 60.6513 49.6245 60.3792 49.8951C60.107 50.1658 59.9541 50.5329 59.9541 50.9157C59.9541 51.2985 60.107 51.6656 60.3792 51.9363C60.6513 52.2069 61.0204 52.359 61.4053 52.359H72.9656C73.3505 52.359 73.7196 52.2069 73.9918 51.9363C74.2639 51.6656 74.4168 51.2985 74.4168 50.9157C74.4168 50.5329 74.2639 50.1658 73.9918 49.8951C73.7196 49.6245 73.3505 49.4724 72.9656 49.4724Z"
                            fill="#143243" />
                        <path
                            d="M59.9541 42.3467C59.9541 42.7295 60.107 43.0966 60.3792 43.3673C60.6513 43.638 61.0204 43.79 61.4053 43.79H72.9656C73.3505 43.79 73.7196 43.638 73.9918 43.3673C74.2639 43.0966 74.4168 42.7295 74.4168 42.3467C74.4168 41.964 74.2639 41.5968 73.9918 41.3262C73.7196 41.0555 73.3505 40.9034 72.9656 40.9034H61.4053C61.0204 40.9034 60.6513 41.0555 60.3792 41.3262C60.107 41.5968 59.9541 41.964 59.9541 42.3467Z"
                            fill="#143243" />
                        <path
                            d="M72.9656 66.6116H61.4053C61.0204 66.6116 60.6513 66.7636 60.3792 67.0343C60.107 67.305 59.9541 67.6721 59.9541 68.0549C59.9541 68.4377 60.107 68.8048 60.3792 69.0754C60.6513 69.3461 61.0204 69.4982 61.4053 69.4982H72.9656C73.3505 69.4982 73.7196 69.3461 73.9918 69.0754C74.2639 68.8048 74.4168 68.4377 74.4168 68.0549C74.4168 67.6721 74.2639 67.305 73.9918 67.0343C73.7196 66.7636 73.3505 66.6116 72.9656 66.6116Z"
                            fill="#143243" />
                        <path
                            d="M72.9656 58.0427H61.4053C61.0204 58.0427 60.6513 58.1948 60.3792 58.4655C60.107 58.7361 59.9541 59.1032 59.9541 59.486C59.9541 59.8688 60.107 60.2359 60.3792 60.5066C60.6513 60.7773 61.0204 60.9293 61.4053 60.9293H72.9656C73.3505 60.9293 73.7196 60.7773 73.9918 60.5066C74.2639 60.2359 74.4168 59.8688 74.4168 59.486C74.4168 59.1032 74.2639 58.7361 73.9918 58.4655C73.7196 58.1948 73.3505 58.0427 72.9656 58.0427Z"
                            fill="#143243" />
                        <path
                            d="M48.2127 40.9034C47.0735 40.9034 45.9599 41.2394 45.0127 41.8689C44.0655 42.4983 43.3273 43.393 42.8913 44.4397C42.4554 45.4865 42.3413 46.6382 42.5636 47.7495C42.7858 48.8607 43.3344 49.8814 44.1399 50.6825C44.9454 51.4837 45.9717 52.0292 47.089 52.2503C48.2063 52.4713 49.3644 52.3579 50.4169 51.9243C51.4694 51.4907 52.3689 50.7565 53.0018 49.8145C53.6347 48.8724 53.9725 47.7649 53.9725 46.6319C53.971 45.1131 53.3637 43.6569 52.2838 42.583C51.204 41.509 49.7398 40.905 48.2127 40.9034ZM48.2127 49.4723C47.6475 49.4723 47.095 49.3056 46.6251 48.9933C46.1551 48.6809 45.7889 48.237 45.5727 47.7177C45.3564 47.1983 45.2999 46.6268 45.4103 46.0755C45.5207 45.5242 45.793 45.0178 46.1927 44.6204C46.5925 44.2231 47.1018 43.9525 47.6561 43.843C48.2105 43.7335 48.7851 43.79 49.3072 44.0053C49.8293 44.2206 50.2755 44.5851 50.5893 45.0527C50.9031 45.5202 51.0704 46.0698 51.0701 46.6319C51.069 47.3851 50.7675 48.1071 50.2319 48.6396C49.6962 49.1721 48.9701 49.4715 48.2127 49.4723Z"
                            fill="#143243" />
                        <path
                            d="M48.2127 58.0427C47.0735 58.0427 45.9598 58.3787 45.0126 59.0082C44.0653 59.6378 43.3271 60.5325 42.8912 61.5793C42.4553 62.6261 42.3413 63.778 42.5637 64.8893C42.786 66.0005 43.3347 67.0212 44.1404 67.8223C44.9461 68.6234 45.9725 69.1689 47.0899 69.3897C48.2073 69.6106 49.3655 69.497 50.4179 69.0632C51.4704 68.6294 52.3698 67.8949 53.0025 66.9527C53.6353 66.0105 53.9728 64.9028 53.9725 63.7697C53.9706 62.2512 53.3631 60.7954 52.2833 59.7217C51.2035 58.6481 49.7396 58.0443 48.2127 58.0427ZM48.2127 66.6116C47.6476 66.6116 47.0951 66.4449 46.6252 66.1327C46.1553 65.8204 45.7891 65.3765 45.5728 64.8573C45.3565 64.338 45.2999 63.7666 45.4102 63.2153C45.5205 62.664 45.7926 62.1577 46.1922 61.7602C46.5918 61.3628 47.101 61.0921 47.6553 60.9825C48.2095 60.8728 48.7841 60.9291 49.3062 61.1442C49.8283 61.3593 50.2746 61.7235 50.5886 62.1909C50.9026 62.6582 51.0701 63.2077 51.0701 63.7697C51.0694 64.5232 50.7681 65.2456 50.2324 65.7784C49.6967 66.3112 48.9703 66.6108 48.2127 66.6116Z"
                            fill="#143243" />
                    </svg>
                </div>
                <h6>More Consistency</h6>
                <p>Know the status of every prospect in your pipeline so you can tailor outreach messages for greater
                    impact.</p>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="icon-overlay">
                    <svg width="113" height="90" viewBox="0 0 113 90">
                        <g>
                            <path class="dots"
                                d="M108.047 37.7071C108.438 37.3166 109.071 37.3166 109.462 37.7071L111.547 39.7929C111.938 40.1834 111.938 40.8166 111.547 41.2071L109.462 43.2929C109.071 43.6834 108.438 43.6834 108.047 43.2929L105.962 41.2071C105.571 40.8166 105.571 40.1834 105.962 39.7929L108.047 37.7071Z"
                                fill="#CAE6F4" />
                            <path class="dots"
                                d="M2.79289 19.7071C3.18342 19.3166 3.81658 19.3166 4.20711 19.7071L6.29289 21.7929C6.68342 22.1834 6.68342 22.8166 6.29289 23.2071L4.20711 25.2929C3.81658 25.6834 3.18342 25.6834 2.79289 25.2929L0.707106 23.2071C0.316582 22.8166 0.316583 22.1834 0.707107 21.7929L2.79289 19.7071Z"
                                fill="#CAE6F4" />
                            <path class="dots"
                                d="M9.81023 41.7071C10.2008 41.3166 10.8339 41.3166 11.2244 41.7071L13.3102 43.7929C13.7008 44.1834 13.7008 44.8166 13.3102 45.2071L11.2244 47.2929C10.8339 47.6834 10.2008 47.6834 9.81023 47.2929L7.72444 45.2071C7.33392 44.8166 7.33392 44.1834 7.72444 43.7929L9.81023 41.7071Z"
                                fill="#CAE6F4" />
                        </g>
                        <path
                            d="M96.2751 13.6982L90.7623 19.2093V31.0444C90.7623 32.1407 90.3267 33.192 89.5514 33.9672C88.776 34.7423 87.7243 35.1778 86.6278 35.1778H42.5256C41.429 35.1778 40.3774 34.7423 39.602 33.9672C38.8266 33.192 38.391 32.1407 38.391 31.0444V13.1333C38.391 12.0371 38.8266 10.9858 39.602 10.2106C40.3774 9.43548 41.429 9 42.5256 9H94.3181C94.8627 8.99957 95.3953 9.16045 95.8486 9.46235C96.3018 9.76424 96.6555 10.1936 96.8649 10.6963C97.0742 11.1989 97.13 11.7523 97.025 12.2866C96.92 12.8209 96.6591 13.3121 96.2751 13.6982Z"
                            fill="#95CCE9" />
                        <path
                            d="M38.391 49.5204L32.8782 44.0093C32.4951 43.624 32.2344 43.1341 32.129 42.6011C32.0236 42.0681 32.0782 41.5158 32.2858 41.0137C32.4935 40.5116 32.845 40.0821 33.2962 39.7792C33.7473 39.4762 34.278 39.3134 34.8215 39.3111H86.6278C87.7243 39.3111 88.776 39.7466 89.5514 40.5217C90.3267 41.2969 90.7623 42.3482 90.7623 43.4444V66.8667C90.7623 67.9629 90.3267 69.0142 89.5514 69.7894C88.776 70.5645 87.7243 71 86.6278 71H42.5256C41.429 71 40.3774 70.5645 39.602 69.7894C38.8266 69.0142 38.391 67.9629 38.391 66.8667V49.5204Z"
                            fill="#95CCE9" />
                        <path
                            d="M85.6857 24.2093L91.1985 18.6982C91.5824 18.3121 91.8434 17.8209 91.9483 17.2866C92.0533 16.7523 91.9976 16.1989 91.7882 15.6963C91.5788 15.1936 91.2252 14.7642 90.7719 14.4623C90.3186 14.1605 89.7861 13.9996 89.2414 14H37.4489C36.3524 14 35.3007 14.4355 34.5253 15.2106C33.7499 15.9858 33.3143 17.0371 33.3143 18.1333V36.0444C33.3143 37.1407 33.7499 38.192 34.5253 38.9672C35.3007 39.7423 36.3524 40.1778 37.4489 40.1778H81.5511C82.6477 40.1778 83.6993 39.7423 84.4747 38.9672C85.2501 38.192 85.6857 37.1407 85.6857 36.0444V24.2093ZM83.329 22.6662C83.2012 22.795 83.1002 22.9476 83.0316 23.1155C82.963 23.2834 82.9283 23.4631 82.9293 23.6444V36.0444C82.9293 36.4099 82.7841 36.7603 82.5256 37.0187C82.2672 37.2771 81.9166 37.4222 81.5511 37.4222H37.4489C37.0834 37.4222 36.7328 37.2771 36.4744 37.0187C36.2159 36.7603 36.0707 36.4099 36.0707 36.0444V18.1333C36.0707 17.7679 36.2159 17.4175 36.4744 17.1591C36.7328 16.9007 37.0834 16.7556 37.4489 16.7556H89.2552L83.329 22.6662ZM76.0383 25.0222H42.9617C42.5962 25.0222 42.2456 24.8771 41.9872 24.6187C41.7287 24.3603 41.5835 24.0099 41.5835 23.6444C41.5835 23.279 41.7287 22.9286 41.9872 22.6702C42.2456 22.4118 42.5962 22.2667 42.9617 22.2667H76.0383C76.4039 22.2667 76.7544 22.4118 77.0129 22.6702C77.2713 22.9286 77.4165 23.279 77.4165 23.6444C77.4165 24.0099 77.2713 24.3603 77.0129 24.6187C76.7544 24.8771 76.4039 25.0222 76.0383 25.0222ZM76.0383 31.9111H59.5C59.1345 31.9111 58.7839 31.766 58.5255 31.5076C58.267 31.2492 58.1218 30.8987 58.1218 30.5333C58.1218 30.1679 58.267 29.8175 58.5255 29.5591C58.7839 29.3007 59.1345 29.1556 59.5 29.1556H76.0383C76.4039 29.1556 76.7544 29.3007 77.0129 29.5591C77.2713 29.8175 77.4165 30.1679 77.4165 30.5333C77.4165 30.8987 77.2713 31.2492 77.0129 31.5076C76.7544 31.766 76.4039 31.9111 76.0383 31.9111ZM27.8016 49.0093L33.3143 54.5204V71.8667C33.3143 72.9629 33.7499 74.0142 34.5253 74.7894C35.3007 75.5645 36.3524 76 37.4489 76H81.5511C82.6477 76 83.6993 75.5645 84.4747 74.7894C85.2501 74.0142 85.6857 72.9629 85.6857 71.8667V48.4444C85.6857 47.3482 85.2501 46.2969 84.4747 45.5217C83.6993 44.7466 82.6477 44.3111 81.5511 44.3111H29.7448C29.2013 44.3134 28.6707 44.4762 28.2195 44.7792C27.7683 45.0821 27.4168 45.5116 27.2092 46.0137C27.0015 46.5158 26.9469 47.0681 27.0523 47.6011C27.1577 48.1341 27.4184 48.624 27.8016 49.0093ZM29.7448 47.0667H81.5511C81.9166 47.0667 82.2672 47.2118 82.5256 47.4702C82.7841 47.7286 82.9293 48.079 82.9293 48.4444V71.8667C82.9293 72.2321 82.7841 72.5825 82.5256 72.8409C82.2672 73.0993 81.9166 73.2444 81.5511 73.2444H37.4489C37.0834 73.2444 36.7328 73.0993 36.4744 72.8409C36.2159 72.5825 36.0707 72.2321 36.0707 71.8667V53.9556C36.0718 53.7742 36.037 53.5945 35.9684 53.4266C35.8998 53.2588 35.7988 53.1061 35.671 52.9773L29.7448 47.0667ZM73.2819 59.4667C73.266 58.137 72.7697 56.8579 71.8845 55.8653C70.9993 54.8727 69.7849 54.2335 68.4653 54.0657C67.1458 53.8978 65.81 54.2127 64.7044 54.952C63.5988 55.6914 62.7978 56.8055 62.4493 58.0889H49.8527C48.7561 58.0889 47.7045 58.5244 46.9291 59.2995C46.1537 60.0747 45.7181 61.126 45.7181 62.2222V66.3556C45.7181 66.721 45.8633 67.0714 46.1217 67.3298C46.3802 67.5882 46.7308 67.7333 47.0963 67.7333C47.4618 67.7333 47.8123 67.5882 48.0708 67.3298C48.3293 67.0714 48.4745 66.721 48.4745 66.3556V62.2222C48.4745 61.8568 48.6197 61.5064 48.8781 61.248C49.1366 60.9896 49.4871 60.8444 49.8527 60.8444H53.9872V64.9778C53.9872 65.3432 54.1324 65.6936 54.3909 65.952C54.6494 66.2104 54.9999 66.3556 55.3654 66.3556C55.731 66.3556 56.0815 66.2104 56.34 65.952C56.5984 65.6936 56.7436 65.3432 56.7436 64.9778V60.8444H62.4493C62.7978 62.1278 63.5988 63.2419 64.7044 63.9813C65.81 64.7207 67.1458 65.0355 68.4653 64.8677C69.7849 64.6998 70.9993 64.0607 71.8845 63.0681C72.7697 62.0755 73.266 60.7964 73.2819 59.4667ZM70.5256 59.4667C70.5256 60.0117 70.3639 60.5444 70.061 60.9976C69.7582 61.4507 69.3277 61.8039 68.824 62.0125C68.3203 62.221 67.7661 62.2756 67.2314 62.1693C66.6967 62.063 66.2056 61.8005 65.8201 61.4151C65.4346 61.0298 65.1721 60.5388 65.0658 60.0043C64.9594 59.4697 65.014 58.9157 65.2226 58.4122C65.4312 57.9087 65.7845 57.4783 66.2378 57.1755C66.6911 56.8727 67.224 56.7111 67.7692 56.7111C68.5002 56.7111 69.2013 57.0014 69.7182 57.5182C70.2352 58.035 70.5256 58.7358 70.5256 59.4667Z"
                            fill="#143243" />
                    </svg>

                </div>
                <h6>Guaranteed Privacy</h6>
                <p>Maintain 100% exclusivity to your leads and their contact information. Never worry about other
                    realtors swooping in.</p>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="absolute-elements">
        <div class="arrow small">
            <div class="arrow-inner" data-from="170" data-to="-170">
                <img src="img/selling-arrow.svg" alt="" />
            </div>
        </div>
        <div class="arrow big">
            <div class="arrow-inner" data-from="150" data-to="-150">
                <img src="img/selling-arrow.svg" alt="" />
            </div>
        </div>
    </div>
</section>
<section class="bg-light animation why-conversion">
    <div class="container">
        <div class="center-position full-width">
            <h3>Why LeadConversion?</h3>
            <h3 class="title underline">
                <p>All leads are not created equal</p>
            </h3>
        </div>
    </div>
    <div class="row container">
        <div class="col-6">
            <p>Other platforms boast hundreds of thousands of leads generated
                <span class="underline"> but here’s the truth:</span>
            </p>
            <h6>Most of those leads are just forgotten emails scraped from dead lists.
            </h6>
        </div>
        <div class="col-6">
            <p>As realtors ourselves,<span>we know that your success depends on having leads that will convert.</span>
            </p>
            <p>You don't want a flood of random emails. You want prospects that have shown a real interest in your
                services.
            </p>
            <p>If you’d rather focus on selling (and not digging through piles of unqualified leads)
                <span class="underline">choose LeadConversion
                </span>
            </p>
        </div>
    </div>
    <div class="absolute-elements bg-blue-elements">
        <div class="lines">
            <div class="lines-inner" data-from="150" data-to="-350">
                <img src="img/lines-light.svg" alt="" />
            </div>
        </div>
        <div class="circle small">
            <div class="circle-inner" data-from="70" data-to="-470">
                <img src="img/circle-light.svg" alt="" />
            </div>
        </div>
        <div class="arrow small">
            <div class="arrow-inner" data-from="150" data-to="-150">
                <img src="img/selling-arrow.svg" alt="" />
            </div>
        </div>
    </div>
</section>
<section id='testimonials' class="blocks-template animation">
    <div class="container">
        <div class="center-position">
            <h3 class="small-title underline">
                <p>Testimonials</p>
            </h3>
        </div>
        <div class="blocks align-left row">
            <div class="col-6">
                <div class="blocks-header">
                    <div class="pic" style="background-image: url(img/testimonials-1.png)"></div>
                    <div>
                        <p>Janet A.</p>
                        <span>Premier Metro Realty Corp</span>
                    </div>
                </div>
                <p>I highly recommend, no one will regret working with this team! We've closed right around 20 deals but
                    it's increasing exponentially because we're building up our database and the follow up we do.</p>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="blocks-header">
                    <div class="pic" style="background-image: url(img/testimonials-3.png)"></div>
                    <div>
                        <p>Mark G.</p>
                        <span>BTT Real Estate</span>
                    </div>
                </div>
                <p>These leads are INCREDIBLE!<br>
                    I’ve already closed two properties out of this first batch and another one is in escrow. The ROI has
                    been unbelievable.</p>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="absolute-elements">
        <div class="circle big">
            <div class="circle-inner" data-from="70" data-to="-470">
                <img src="img/circle-blue.svg" alt="" />
            </div>
        </div>
    </div>
</section>
<section class="bg-light see-features animation">
    <div class="container">
        <svg width="175" height="94" viewBox="0 0 175 94">
            <g>
                <path class="dots"
                    d="M150.406 30.7071C150.797 30.3166 151.43 30.3166 151.82 30.7071L154.406 33.2929C154.797 33.6834 154.797 34.3166 154.406 34.7071L151.82 37.2929C151.43 37.6834 150.797 37.6834 150.406 37.2929L147.82 34.7071C147.43 34.3166 147.43 33.6834 147.82 33.2929L150.406 30.7071Z"
                    fill="#CAE6F4" />
                <path class="dots"
                    d="M170.293 64.7071C170.683 64.3166 171.317 64.3166 171.707 64.7071L174.293 67.2929C174.683 67.6834 174.683 68.3166 174.293 68.7071L171.707 71.2929C171.317 71.6834 170.683 71.6834 170.293 71.2929L167.707 68.7071C167.317 68.3166 167.317 67.6834 167.707 67.2929L170.293 64.7071Z"
                    fill="#CAE6F4" />
                <path class="dots"
                    d="M17.9062 7.70711C18.2967 7.31658 18.9299 7.31658 19.3204 7.70711L21.4062 9.79289C21.7967 10.1834 21.7967 10.8166 21.4062 11.2071L19.3204 13.2929C18.9299 13.6834 18.2967 13.6834 17.9062 13.2929L15.8204 11.2071C15.4299 10.8166 15.4299 10.1834 15.8204 9.79289L17.9062 7.70711Z"
                    fill="#CAE6F4" />
                <path class="dots"
                    d="M12.4062 67.7071C12.7967 67.3166 13.4299 67.3166 13.8204 67.7071L15.4062 69.2929C15.7967 69.6834 15.7967 70.3166 15.4062 70.7071L13.8204 72.2929C13.4299 72.6834 12.7967 72.6834 12.4062 72.2929L10.8204 70.7071C10.4299 70.3166 10.4299 69.6834 10.8204 69.2929L12.4062 67.7071Z"
                    fill="#CAE6F4" />
                <path class="dots"
                    d="M159.444 1.60207C159.825 1.25979 160.402 1.25979 160.782 1.60207L164.287 4.75671C164.729 5.15395 164.729 5.84605 164.287 6.24329L160.782 9.39793C160.402 9.74021 159.825 9.74021 159.444 9.39793L155.939 6.24329C155.498 5.84605 155.498 5.15395 155.939 4.75671L159.444 1.60207Z"
                    fill="#CAE6F4" />
                <path class="dots"
                    d="M5.37823 81.796C5.7742 81.3671 6.45188 81.3671 6.84784 81.796L11.4869 86.8217C11.8405 87.2048 11.8405 87.7952 11.4869 88.1783L6.84784 93.204C6.45188 93.6329 5.7742 93.6329 5.37823 93.204L0.739141 88.1783C0.385546 87.7952 0.385546 87.2048 0.739142 86.8217L5.37823 81.796Z"
                    fill="#CAE6F4" />
            </g>
            <rect x="47" width="80" height="80" rx="4" fill="#95CCE9" />
            <path
                d="M114.2 7H43.8C42.527 7 41.3061 7.50571 40.4059 8.40589C39.5057 9.30606 39 10.527 39 11.8V82.2C39 83.473 39.5057 84.6939 40.4059 85.5941C41.3061 86.4943 42.527 87 43.8 87H79C79.4243 87 79.8313 86.8314 80.1314 86.5314C80.4314 86.2313 80.6 85.8243 80.6 85.4V75.112C81.6068 75.5626 82.697 75.7969 83.8 75.8C85.9217 75.8 87.9566 74.9571 89.4569 73.4569C90.9571 71.9566 91.8 69.9217 91.8 67.8C91.8 65.6783 90.9571 63.6434 89.4569 62.1431C87.9566 60.6429 85.9217 59.8 83.8 59.8C82.697 59.8031 81.6068 60.0374 80.6 60.488V48.6H95.608C95.9274 48.5871 96.2355 48.4787 96.4928 48.289C96.7501 48.0993 96.9446 47.8369 97.0513 47.5356C97.1581 47.2343 97.1721 46.908 97.0917 46.5986C97.0112 46.2893 96.84 46.0111 96.6 45.8C96.0938 45.3473 95.6895 44.7923 95.4137 44.1717C95.1378 43.5511 94.9969 42.8791 95 42.2C95 40.927 95.5057 39.7061 96.4059 38.8059C97.3061 37.9057 98.527 37.4 99.8 37.4C101.073 37.4 102.294 37.9057 103.194 38.8059C104.094 39.7061 104.6 40.927 104.6 42.2C104.603 42.8791 104.462 43.5511 104.186 44.1717C103.911 44.7923 103.506 45.3473 103 45.8C102.76 46.0111 102.589 46.2893 102.508 46.5986C102.428 46.908 102.442 47.2343 102.549 47.5356C102.655 47.8369 102.85 48.0993 103.107 48.289C103.364 48.4787 103.673 48.5871 103.992 48.6H117.4C117.824 48.6 118.231 48.4314 118.531 48.1314C118.831 47.8313 119 47.4243 119 47V11.8C119 10.527 118.494 9.30606 117.594 8.40589C116.694 7.50571 115.473 7 114.2 7ZM42.2 11.8C42.2 11.3757 42.3686 10.9687 42.6686 10.6686C42.9687 10.3686 43.3757 10.2 43.8 10.2H77.4V18.888C76.3932 18.4374 75.303 18.2031 74.2 18.2C72.0783 18.2 70.0434 19.0429 68.5431 20.5431C67.0429 22.0434 66.2 24.0783 66.2 26.2C66.2 28.3217 67.0429 30.3566 68.5431 31.8569C70.0434 33.3571 72.0783 34.2 74.2 34.2C75.303 34.1969 76.3932 33.9626 77.4 33.512V45.4H62.392C62.0726 45.4129 61.7644 45.5213 61.5072 45.711C61.2499 45.9007 61.0554 46.1631 60.9487 46.4644C60.8419 46.7657 60.8279 47.092 60.9083 47.4014C60.9888 47.7107 61.16 47.9889 61.4 48.2C61.9062 48.6527 62.3105 49.2077 62.5863 49.8283C62.8622 50.4489 63.0031 51.1209 63 51.8C63 53.073 62.4943 54.2939 61.5941 55.1941C60.6939 56.0943 59.473 56.6 58.2 56.6C56.927 56.6 55.7061 56.0943 54.8059 55.1941C53.9057 54.2939 53.4 53.073 53.4 51.8C53.3969 51.1209 53.5378 50.4489 53.8137 49.8283C54.0895 49.2077 54.4938 48.6527 55 48.2C55.24 47.9889 55.4112 47.7107 55.4917 47.4014C55.5721 47.092 55.5581 46.7657 55.4513 46.4644C55.3446 46.1631 55.1501 45.9007 54.8928 45.711C54.6356 45.5213 54.3274 45.4129 54.008 45.4H42.2V11.8ZM83.8 63C85.073 63 86.2939 63.5057 87.1941 64.4059C88.0943 65.3061 88.6 66.527 88.6 67.8C88.6 69.073 88.0943 70.2939 87.1941 71.1941C86.2939 72.0943 85.073 72.6 83.8 72.6C83.1209 72.6031 82.4489 72.4622 81.8283 72.1863C81.2077 71.9105 80.6527 71.5062 80.2 71C79.9852 70.7564 79.7013 70.584 79.3861 70.5056C79.0709 70.4272 78.7393 70.4466 78.4354 70.5612C78.1315 70.6758 77.8697 70.8802 77.6847 71.1472C77.4998 71.4142 77.4005 71.7312 77.4 72.056V83.8H43.8C43.3757 83.8 42.9687 83.6314 42.6686 83.3314C42.3686 83.0313 42.2 82.6243 42.2 82.2V48.6H50.888C50.4374 49.6068 50.2031 50.697 50.2 51.8C50.2 53.9217 51.0429 55.9566 52.5431 57.4569C54.0434 58.9571 56.0783 59.8 58.2 59.8C60.3217 59.8 62.3566 58.9571 63.8569 57.4569C65.3571 55.9566 66.2 53.9217 66.2 51.8C66.1969 50.697 65.9626 49.6068 65.512 48.6H77.4V63.608C77.4005 63.9328 77.4998 64.2498 77.6847 64.5168C77.8697 64.7838 78.1315 64.9882 78.4354 65.1028C78.7393 65.2174 79.0709 65.2368 79.3861 65.1584C79.7013 65.08 79.9852 64.9076 80.2 64.664C80.6469 64.1462 81.1992 63.7298 81.8201 63.4428C82.441 63.1558 83.116 63.0049 83.8 63ZM115.8 45.4H107.112C107.563 44.3932 107.797 43.303 107.8 42.2C107.8 40.0783 106.957 38.0434 105.457 36.5431C103.957 35.0429 101.922 34.2 99.8 34.2C97.6783 34.2 95.6434 35.0429 94.1431 36.5431C92.6429 38.0434 91.8 40.0783 91.8 42.2C91.8031 43.303 92.0374 44.3932 92.488 45.4H80.6V30.392C80.5871 30.0726 80.4787 29.7644 80.289 29.5072C80.0993 29.2499 79.8369 29.0554 79.5356 28.9487C79.2343 28.8419 78.908 28.8279 78.5986 28.9083C78.2893 28.9888 78.0111 29.16 77.8 29.4C77.3473 29.9062 76.7923 30.3105 76.1717 30.5863C75.5511 30.8622 74.8791 31.0031 74.2 31C72.927 31 71.7061 30.4943 70.8059 29.5941C69.9057 28.6939 69.4 27.473 69.4 26.2C69.4 24.927 69.9057 23.7061 70.8059 22.8059C71.7061 21.9057 72.927 21.4 74.2 21.4C74.8791 21.3969 75.5511 21.5378 76.1717 21.8137C76.7923 22.0895 77.3473 22.4938 77.8 23C78.0111 23.24 78.2893 23.4112 78.5986 23.4917C78.908 23.5721 79.2343 23.5581 79.5356 23.4513C79.8369 23.3446 80.0993 23.1501 80.289 22.8928C80.4787 22.6356 80.5871 22.3274 80.6 22.008V10.2H114.2C114.624 10.2 115.031 10.3686 115.331 10.6686C115.631 10.9687 115.8 11.3757 115.8 11.8V45.4Z"
                fill="#151A6A" />
        </svg>
        <h3 class="underline">
            <p>Click here to see the platform features</p>
        </h3>
        <a href="#" class="btn btn-blue btn-page-change">SEE OUR FEATURES</a>
    </div>
    <div class="absolute-elements">
        <div class="comment-icon">
            <div class="comment-icon-inner" data-from="100" data-to="-280">
                <img src="img/comment-light.svg" alt="" />
            </div>
        </div>
        <div class="lines">
            <div class="lines-inner" data-from="150" data-to="-350">
                <img src="img/lines-light.svg" alt="" />
            </div>
        </div>
        <div class="circle small">
            <div class="circle-inner" data-from="70" data-to="-470">
                <img src="img/circle-light.svg" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- partial:index.partial.html -->
//= footer.html
<!-- partial -->