<!-- partial:index.partial.html -->
//= head.html
<!-- partial -->
<section class="blog blocks-template">
    <div class="container">
        <h1 class="title">Blog</h1>
        <div class="blocks">
            <div class="full-width">
                <div class="pic" style="background-image: url(./img/image-full.png);"></div>
                <div class="content">
                    <div class="additional-info">
                        <div>
                            <span class="icon calendar"></span>
                            <p>15 June 2020</p>
                        </div>
                        <div class="views">
                            <span class="icon show"></span>
                            <p>35</p>
                        </div>
                    </div>
                    <h5>What Does the Future Look Like for Realtors?</h5>
                    <p>Thirty years ago, people used newspapers and recommendations from family and friends to find a
                        new house. 2020 isn’t so different, except... </p>
                    <a href="#" class="btn-arrow btn-arrow-right">Read more <i class="fas fa-arrow-right"></i></a>
                </div>
                <a href="article.html"></a>
            </div>
            <div>
                <div class="pic" style="background-image: url(./img/image.png);"></div>
                <div class="content">
                    <h5>What Does the Future Look Like for Realtors?</h5>
                    <div class="additional-info">
                        <div>
                            <span class="icon calendar"></span>
                            <p>15 June 2020</p>
                        </div>
                        <div class="views">
                            <span class="icon show"></span>
                            <p>35</p>
                        </div>
                    </div>
                </div>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <a href="article.html"></a>
            </div>
            <div>
                <div class="pic" style="background-image: url(./img/image.png);"></div>
                <div class="content">
                    <h5>What Does the Future Look Like for Realtors?</h5>
                    <div class="additional-info">
                        <div>
                            <span class="icon calendar"></span>
                            <p>15 June 2020</p>
                        </div>
                        <div class="views">
                            <span class="icon show"></span>
                            <p>35</p>
                        </div>
                    </div>
                </div>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <a href="article.html"></a>
            </div>
            <div>
                <div class="pic" style="background-image: url(./img/image.png);"></div>
                <div class="content">
                    <h5>What Does the Future Look Like for Realtors?</h5>
                    <div class="additional-info">
                        <div>
                            <span class="icon calendar"></span>
                            <p>15 June 2020</p>
                        </div>
                        <div class="views">
                            <span class="icon show"></span>
                            <p>35</p>
                        </div>
                    </div>
                </div>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <a href="article.html"></a>
            </div>
        </div>
    </div>
    <div class="absolute-elements">
        <div class="comment-icon">
            <div class="comment-icon-inner" data-from="100" data-to="-280">
                <img src="img/comment-light.svg" alt="" />
            </div>
        </div>
        <div class="arrow big">
            <div class="arrow-inner" data-from="100" data-to="-350">
                <img src="img/selling-arrow.svg" alt="" />
            </div>
        </div>
        <div class="lines big">
            <div class="lines-inner" data-from="70" data-to="-270">
                <img src="img/lines-light.svg" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- partial:index.partial.html -->
//= footer.html
<!-- partial -->