<!-- partial:index.partial.html -->
//= head.html
<!-- partial -->
<div class="test-trigger"></div>
<section id="features" class="features-page blocks-template">
    <div class="container">
        <div>
            <h3 class="title underline">Spend less time tinkering, and more time selling</h3>
            <h5>Powerful software without the learning curve</h5>
            <a href="#contact" class="btn btn-blue anchor__link">GET STARTED</a>
        </div>
        <div>
            <div class="blocks">
                <div class="blocks-overlay align-left">
                    <div>
                        <div class="icon-overlay">
                            <svg width="113" height="70" viewBox="0 0 113 70">
                                <g>
                                    <path opacity="0.3"
                                        d="M105.793 3.70711C106.183 3.31658 106.817 3.31658 107.207 3.70711L109.293 5.79289C109.683 6.18342 109.683 6.81658 109.293 7.20711L107.207 9.29289C106.817 9.68342 106.183 9.68342 105.793 9.29289L103.707 7.20711C103.317 6.81658 103.317 6.18342 103.707 5.79289L105.793 3.70711Z"
                                        fill="#82DDEE" />
                                    <path opacity="0.3"
                                        d="M10.7929 39.7071C11.1834 39.3166 11.8166 39.3166 12.2071 39.7071L14.2929 41.7929C14.6834 42.1834 14.6834 42.8166 14.2929 43.2071L12.2071 45.2929C11.8166 45.6834 11.1834 45.6834 10.7929 45.2929L8.70711 43.2071C8.31658 42.8166 8.31658 42.1834 8.70711 41.7929L10.7929 39.7071Z"
                                        fill="#82DDEE" />
                                    <path opacity="0.3"
                                        d="M107.797 20.6955C108.186 20.3101 108.814 20.3101 109.203 20.6955L112.281 23.7395C112.677 24.1309 112.677 24.7702 112.281 25.1616L109.203 28.2056C108.814 28.591 108.186 28.591 107.797 28.2056L104.719 25.1616C104.323 24.7702 104.323 24.1309 104.719 23.7395L107.797 20.6955Z"
                                        fill="#82DDEE" />
                                    <path opacity="0.3"
                                        d="M4.29289 14.7071C4.68342 14.3166 5.31658 14.3166 5.70711 14.7071L9.29289 18.2929C9.68342 18.6834 9.68342 19.3166 9.29289 19.7071L5.70711 23.2929C5.31658 23.6834 4.68342 23.6834 4.29289 23.2929L0.707106 19.7071C0.316582 19.3166 0.316583 18.6834 0.707107 18.2929L4.29289 14.7071Z"
                                        fill="#82DDEE" />
                                </g>
                                <path
                                    d="M94.9947 25.0526V22.8541V20.6555V10.9587C94.9913 9.90982 94.5704 8.90489 93.824 8.16323C93.0776 7.42157 92.0662 7.0034 91.0106 7H37.9841C36.9285 7.0034 35.9171 7.42157 35.1707 8.16323C34.4243 8.90489 34.0034 9.90982 34 10.9587V52.0413C34.0034 53.0902 34.4243 54.0951 35.1707 54.8368C35.9171 55.5784 36.9285 55.9966 37.9841 56H91.0106C92.0662 55.9966 93.0776 55.5784 93.824 54.8368C94.5704 54.0951 94.9913 53.0902 94.9947 52.0413V24.2918L94.8325 24.6497C94.9931 24.6497 95 23.4618 95 23.1184C95 22.775 94.8627 22.4457 94.6183 22.2029C94.374 21.9601 94.6914 21.8237 94.3458 21.8237C94.0002 21.8237 95.0758 24.6497 94.9947 25.0526ZM45.6798 25.0526H63.8485C64.881 25.0526 65.8713 24.6451 66.6014 23.9196C67.3316 23.1941 67.7417 22.2102 67.7417 21.1842V18.6053C67.7417 17.5793 67.3316 16.5953 66.6014 15.8699C65.8713 15.1444 64.881 14.7368 63.8485 14.7368H45.6798C44.6473 14.7368 43.657 15.1444 42.9269 15.8699C42.1967 16.5953 41.7865 17.5793 41.7865 18.6053V21.1842C41.7865 22.2102 42.1967 23.1941 42.9269 23.9196C43.657 24.6451 44.6473 25.0526 45.6798 25.0526ZM44.3821 18.6053C44.3821 18.2633 44.5188 17.9353 44.7622 17.6935C45.0056 17.4516 45.3356 17.3158 45.6798 17.3158H63.8485C64.1926 17.3158 64.5227 17.4516 64.7661 17.6935C65.0095 17.9353 65.1462 18.2633 65.1462 18.6053V21.1842C65.1462 21.5262 65.0095 21.8542 64.7661 22.096C64.5227 22.3378 64.1926 22.4737 63.8485 22.4737H45.6798C45.3356 22.4737 45.0056 22.3378 44.7622 22.096C44.5188 21.8542 44.3821 21.5262 44.3821 21.1842V18.6053Z"
                                    fill="#95CCE9" />
                                <path
                                    d="M89.9947 29.0526V26.8541V24.6555V14.9587C89.9913 13.9098 89.5704 12.9049 88.824 12.1632C88.0776 11.4216 87.0662 11.0034 86.0106 11H32.9841C31.9285 11.0034 30.9171 11.4216 30.1707 12.1632C29.4243 12.9049 29.0034 13.9098 29 14.9587V56.0413C29.0034 57.0902 29.4243 58.0951 30.1707 58.8368C30.9171 59.5784 31.9285 59.9966 32.9841 60H86.0106C87.0662 59.9966 88.0776 59.5784 88.824 58.8368C89.5704 58.0951 89.9913 57.0902 89.9947 56.0413V28.2918L89.8325 28.6497C89.9931 28.6497 90 27.4618 90 27.1184C90 26.775 89.8627 26.4457 89.6183 26.2029C89.374 25.9601 89.6914 25.8237 89.3458 25.8237C89.0002 25.8237 90.0758 28.6497 89.9947 29.0526ZM87.3992 56.0413C87.3992 56.4072 87.2529 56.7582 86.9925 57.0169C86.732 57.2757 86.3788 57.4211 86.0106 57.4211H32.9841C32.8018 57.4211 32.6212 57.3854 32.4527 57.316C32.2843 57.2467 32.1312 57.1451 32.0022 57.0169C31.7418 56.7582 31.5955 56.4072 31.5955 56.0413V14.9587C31.5955 14.5928 31.7418 14.2418 32.0022 13.9831C32.2626 13.7243 32.6158 13.5789 32.9841 13.5789H86.0106C86.3788 13.5789 86.732 13.7243 86.9925 13.9831C87.2529 14.2418 87.3992 14.5928 87.3992 14.9587V27.2345L79.7813 34.8037L74.175 27.0668C74.0632 26.9103 73.9177 26.7806 73.7491 26.6871C73.5804 26.5935 73.3929 26.5386 73.2002 26.5262C73.0074 26.5139 72.8143 26.5444 72.635 26.6156C72.4556 26.6869 72.2946 26.797 72.1635 26.9379L59.0042 41.1479L54.7346 34.7908C54.6289 34.6312 54.4888 34.4969 54.3245 34.3977C54.1602 34.2984 53.9758 34.2367 53.7845 34.2169C53.5933 34.1972 53.4 34.2199 53.2186 34.2835C53.0373 34.3471 52.8725 34.4499 52.736 34.5845L44.5731 42.6824C43.4712 42.0364 42.17 41.8119 40.9134 42.051C39.6569 42.2902 38.5312 42.9766 37.7476 43.9814C36.9639 44.9863 36.5761 46.2407 36.6567 47.5094C36.7374 48.7781 37.281 49.974 38.1857 50.8729C39.0904 51.7718 40.294 52.312 41.5709 52.3921C42.8477 52.4723 44.1102 52.0869 45.1215 51.3083C46.1328 50.5296 46.8236 49.4112 47.0643 48.1626C47.305 46.9141 47.0791 45.6212 46.4289 44.5263L53.4498 37.5503L57.7713 43.9976C57.8795 44.1613 58.0237 44.2983 58.1931 44.3983C58.3625 44.4983 58.5526 44.5587 58.749 44.5748C58.9453 44.591 59.1428 44.5625 59.3264 44.4915C59.5101 44.4206 59.675 44.309 59.8088 44.1653L72.994 29.8005L78.5614 37.5374C78.6706 37.6899 78.8118 37.8171 78.9754 37.91C79.139 38.0028 79.3209 38.0592 79.5087 38.0751C79.6964 38.0911 79.8853 38.0662 80.0624 38.0023C80.2395 37.9384 80.4004 37.8369 80.534 37.705L87.3992 30.8708V56.0413ZM44.5731 47.1053C44.5731 47.6153 44.4209 48.1139 44.1357 48.538C43.8505 48.9622 43.4451 49.2927 42.9709 49.4879C42.4966 49.6831 41.9747 49.7342 41.4712 49.6347C40.9678 49.5351 40.5053 49.2895 40.1423 48.9289C39.7793 48.5682 39.5321 48.1087 39.4319 47.6084C39.3318 47.1081 39.3832 46.5896 39.5796 46.1183C39.7761 45.6471 40.1088 45.2443 40.5356 44.9609C40.9624 44.6776 41.4642 44.5263 41.9776 44.5263C42.666 44.5263 43.3261 44.798 43.8129 45.2817C44.2997 45.7653 44.5731 46.4213 44.5731 47.1053ZM40.6798 29.0526H58.8485C59.881 29.0526 60.8713 28.6451 61.6014 27.9196C62.3316 27.1941 62.7417 26.2102 62.7417 25.1842V22.6053C62.7417 21.5793 62.3316 20.5953 61.6014 19.8699C60.8713 19.1444 59.881 18.7368 58.8485 18.7368H40.6798C39.6473 18.7368 38.657 19.1444 37.9269 19.8699C37.1967 20.5953 36.7866 21.5793 36.7866 22.6053V25.1842C36.7866 26.2102 37.1967 27.1941 37.9269 27.9196C38.657 28.6451 39.6473 29.0526 40.6798 29.0526ZM39.3821 22.6053C39.3821 22.2633 39.5188 21.9353 39.7622 21.6935C40.0056 21.4516 40.3356 21.3158 40.6798 21.3158H58.8485C59.1927 21.3158 59.5227 21.4516 59.7661 21.6935C60.0095 21.9353 60.1462 22.2633 60.1462 22.6053V25.1842C60.1462 25.5262 60.0095 25.8542 59.7661 26.096C59.5227 26.3378 59.1927 26.4737 58.8485 26.4737H40.6798C40.3356 26.4737 40.0056 26.3378 39.7622 26.096C39.5188 25.8542 39.3821 25.5262 39.3821 25.1842V22.6053ZM82.2081 50.9737C82.2081 51.3157 82.0714 51.6437 81.828 51.8855C81.5847 52.1273 81.2546 52.2632 80.9104 52.2632H65.3373C64.9931 52.2632 64.663 52.1273 64.4196 51.8855C64.1762 51.6437 64.0395 51.3157 64.0395 50.9737C64.0395 50.6317 64.1762 50.3037 64.4196 50.0619C64.663 49.8201 64.9931 49.6842 65.3373 49.6842H80.9104C81.2546 49.6842 81.5847 49.8201 81.828 50.0619C82.0714 50.3037 82.2081 50.6317 82.2081 50.9737ZM73.1238 44.5263H80.9104C81.2546 44.5263 81.5847 44.6622 81.828 44.904C82.0714 45.1458 82.2081 45.4738 82.2081 45.8158C82.2081 46.1578 82.0714 46.4858 81.828 46.7276C81.5847 46.9694 81.2546 47.1053 80.9104 47.1053H73.1238C72.7796 47.1053 72.4495 46.9694 72.2062 46.7276C71.9628 46.4858 71.8261 46.1578 71.8261 45.8158C71.8261 45.4738 71.9628 45.1458 72.2062 44.904C72.4495 44.6622 72.7796 44.5263 73.1238 44.5263Z"
                                    fill="#143243" />
                            </svg>
                        </div>
                        <h6>Ongoing Lead Cycling</h6>
                        <p>Generate and qualify leads, even when you're not at your computer.</p>
                        <div class="hover-blocks">
                            <div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="icon-overlay">
                            <svg width="113" height="70" viewBox="0 0 113 70" fill="none">
                                <path opacity="0.3"
                                    d="M105.793 3.70711C106.183 3.31658 106.817 3.31658 107.207 3.70711L109.293 5.79289C109.683 6.18342 109.683 6.81658 109.293 7.20711L107.207 9.29289C106.817 9.68342 106.183 9.68342 105.793 9.29289L103.707 7.20711C103.317 6.81658 103.317 6.18342 103.707 5.79289L105.793 3.70711Z"
                                    fill="#82DDEE" />
                                <path opacity="0.3"
                                    d="M10.7929 39.7071C11.1834 39.3166 11.8166 39.3166 12.2071 39.7071L14.2929 41.7929C14.6834 42.1834 14.6834 42.8166 14.2929 43.2071L12.2071 45.2929C11.8166 45.6834 11.1834 45.6834 10.7929 45.2929L8.70711 43.2071C8.31658 42.8166 8.31658 42.1834 8.70711 41.7929L10.7929 39.7071Z"
                                    fill="#82DDEE" />
                                <path opacity="0.3"
                                    d="M107.797 20.6955C108.186 20.3101 108.814 20.3101 109.203 20.6955L112.281 23.7395C112.677 24.1309 112.677 24.7702 112.281 25.1616L109.203 28.2056C108.814 28.591 108.186 28.591 107.797 28.2056L104.719 25.1616C104.323 24.7702 104.323 24.1309 104.719 23.7395L107.797 20.6955Z"
                                    fill="#82DDEE" />
                                <path opacity="0.3"
                                    d="M4.29289 14.7071C4.68342 14.3166 5.31658 14.3166 5.70711 14.7071L9.29289 18.2929C9.68342 18.6834 9.68342 19.3166 9.29289 19.7071L5.70711 23.2929C5.31658 23.6834 4.68342 23.6834 4.29289 23.2929L0.707106 19.7071C0.316582 19.3166 0.316583 18.6834 0.707107 18.2929L4.29289 14.7071Z"
                                    fill="#82DDEE" />
                                <path
                                    d="M38.4753 49.0581H43.7212V53.2244C43.7219 54.0038 43.9531 54.7654 44.3854 55.4132C44.8178 56.061 45.432 56.5658 46.1505 56.864C46.869 57.1621 47.6595 57.2402 48.4223 57.0884C49.185 56.9365 49.8858 56.5615 50.436 56.0108L57.3737 49.0581H80.4426C82.1817 49.0581 83.8496 48.3657 85.0793 47.1333C86.3091 45.9009 86.9999 44.2294 86.9999 42.4865V13.5716C86.9999 11.8287 86.3091 10.1572 85.0793 8.92477C83.8496 7.69236 82.1817 7 80.4426 7H38.4753C37.6142 7 36.7615 7.16998 35.9659 7.50023C35.1704 7.83048 34.4475 8.31454 33.8386 8.92477C32.6088 10.1572 31.918 11.8287 31.918 13.5716V42.4865C31.918 44.2294 32.6088 45.9009 33.8386 47.1333C34.4475 47.7435 35.1704 48.2276 35.9659 48.5578C36.7615 48.8881 37.6142 49.0581 38.4753 49.0581ZM48.9671 37.3475C50.7828 37.3475 52.5578 36.8079 54.0675 35.797C55.5772 34.7861 56.7538 33.3492 57.4487 31.6681C58.1435 29.987 58.3253 28.1371 57.9711 26.3525C57.6169 24.5678 56.7425 22.9285 55.4586 21.6418C54.1747 20.3551 52.539 19.4789 50.7581 19.1239C48.9773 18.7689 47.1315 18.9511 45.454 19.6474C43.7765 20.3438 42.3427 21.523 41.334 23.036C40.3252 24.5489 39.7868 26.3277 39.7868 28.1473C39.7868 30.5874 40.754 32.9275 42.4757 34.6529C44.1973 36.3782 46.5324 37.3475 48.9671 37.3475ZM48.9671 34.7189C47.4365 34.7169 45.9548 34.1784 44.7787 33.1966C43.6027 32.2148 42.8064 30.8517 42.5278 29.3434C45.2267 29.055 47.7699 27.9345 49.8065 26.1364C51.2247 27.849 53.2142 28.9883 55.4065 29.3434C55.1279 30.8517 54.3316 32.2148 53.1556 33.1966C51.9795 34.1784 50.4978 34.7169 48.9671 34.7189ZM55.3409 26.7147C53.8299 26.342 52.5004 25.4429 51.5901 24.1781C51.9481 23.6901 52.2766 23.181 52.5737 22.6535C53.9858 23.5973 54.9778 25.0531 55.3409 26.7147ZM48.9671 21.5758C49.3502 21.5812 49.7321 21.6208 50.1081 21.694C49.3121 23.0454 48.2216 24.199 46.918 25.0684C45.6144 25.9379 44.1315 26.5006 42.5803 26.7147C42.9048 25.2588 43.7139 23.9569 44.8746 23.023C46.0353 22.089 47.4786 21.5787 48.9671 21.5758Z"
                                    fill="#95CCE9" />
                                <path
                                    d="M33.5574 53.1514H38.8033V57.2361C38.804 58.0001 39.0351 58.7468 39.4675 59.3819C39.8998 60.017 40.514 60.5119 41.2325 60.8042C41.951 61.0965 42.7416 61.1731 43.5043 61.0242C44.2671 60.8753 44.9678 60.5077 45.518 59.9678L52.4557 53.1514H75.5246C77.2637 53.1514 78.9316 52.4726 80.1614 51.2644C81.3911 50.0561 82.082 48.4174 82.082 46.7087V18.3607C82.082 16.652 81.3911 15.0132 80.1614 13.805C78.9316 12.5968 77.2637 11.918 75.5246 11.918H33.5574C32.6963 11.918 31.8436 12.0846 31.048 12.4084C30.2524 12.7322 29.5295 13.2067 28.9206 13.805C27.6909 15.0132 27 16.652 27 18.3607V46.7087C27 48.4174 27.6909 50.0561 28.9206 51.2644C29.5295 51.8626 30.2524 52.3372 31.048 52.661C31.8436 52.9847 32.6963 53.1514 33.5574 53.1514ZM29.623 18.3607C29.623 17.3355 30.0375 16.3522 30.7753 15.6273C31.5132 14.9023 32.5139 14.4951 33.5574 14.4951H75.5246C76.5681 14.4951 77.5688 14.9023 78.3067 15.6273C79.0445 16.3522 79.459 17.3355 79.459 18.3607V46.7087C79.459 47.7339 79.0445 48.7171 78.3067 49.4421C77.5688 50.167 76.5681 50.5743 75.5246 50.5743H51.918C51.7454 50.5733 51.5743 50.6058 51.4145 50.6699C51.2548 50.7341 51.1094 50.8285 50.9869 50.948L43.6689 58.1509C43.4854 58.3327 43.2511 58.4566 42.9956 58.5069C42.7402 58.5573 42.4754 58.5317 42.2348 58.4336C41.9942 58.3355 41.7888 58.1691 41.6448 57.9559C41.5008 57.7426 41.4247 57.492 41.4262 57.2361V51.8628C41.4262 51.5211 41.2881 51.1933 41.0421 50.9517C40.7962 50.71 40.4626 50.5743 40.1148 50.5743H33.5574C32.5139 50.5743 31.5132 50.167 30.7753 49.4421C30.0375 48.7171 29.623 47.7339 29.623 46.7087V18.3607ZM44.0492 41.6705C45.8649 41.6705 47.6398 41.1414 49.1495 40.1503C50.6592 39.1592 51.8359 37.7505 52.5307 36.1024C53.2255 34.4542 53.4073 32.6406 53.0531 30.891C52.6989 29.1413 51.8245 27.5341 50.5407 26.2727C49.2568 25.0112 47.621 24.1522 45.8402 23.8041C44.0594 23.4561 42.2135 23.6347 40.536 24.3174C38.8585 25.0001 37.4248 26.1562 36.416 27.6395C35.4073 29.1228 34.8689 30.8667 34.8689 32.6506C34.8689 35.0428 35.8361 37.3371 37.5577 39.0286C39.2794 40.7202 41.6144 41.6705 44.0492 41.6705ZM44.0492 39.0934C42.5185 39.0914 41.0368 38.5634 39.8608 37.6009C38.6847 36.6384 37.8884 35.302 37.6098 33.8232C40.3087 33.5405 42.8519 32.442 44.8885 30.6792C46.3067 32.3582 48.2963 33.4752 50.4885 33.8232C50.21 35.302 49.4136 36.6384 48.2376 37.6009C47.0615 38.5634 45.5798 39.0914 44.0492 39.0934ZM50.423 31.2461C48.912 30.8807 47.5825 29.9992 46.6721 28.7592C47.0302 28.2808 47.3586 27.7817 47.6557 27.2645C49.0679 28.1898 50.0598 29.6171 50.423 31.2461ZM44.0492 26.2079C44.4323 26.2133 44.8141 26.2521 45.1902 26.3239C44.3942 27.6488 43.3036 28.7797 42 29.6321C40.6964 30.4845 39.2135 31.0363 37.6623 31.2461C37.9868 29.8188 38.7959 28.5424 39.9566 27.6268C41.1174 26.7111 42.5606 26.2108 44.0492 26.2079Z"
                                    fill="#143243" />
                                <path
                                    d="M59.3184 36.632C59.3184 36.3712 59.4689 36.121 59.7368 35.9365C60.0047 35.7521 60.368 35.6484 60.7469 35.6484H75.0326C75.4115 35.6484 75.7749 35.7521 76.0428 35.9365C76.3107 36.121 76.4612 36.3712 76.4612 36.632C76.4612 36.8929 76.3107 37.1431 76.0428 37.3276C75.7749 37.512 75.4115 37.6157 75.0326 37.6157H60.7469C60.368 37.6157 60.0047 37.512 59.7368 37.3276C59.4689 37.1431 59.3184 36.8929 59.3184 36.632Z"
                                    fill="#143243" />
                                <path
                                    d="M59.3184 44.5009C59.3184 44.2401 59.4689 43.9899 59.7368 43.8054C60.0047 43.621 60.368 43.5173 60.7469 43.5173H75.0326C75.4115 43.5173 75.7749 43.621 76.0428 43.8054C76.3107 43.9899 76.4612 44.2401 76.4612 44.5009C76.4612 44.7618 76.3107 45.012 76.0428 45.1965C75.7749 45.3809 75.4115 45.4845 75.0326 45.4845H60.7469C60.368 45.4845 60.0047 45.3809 59.7368 45.1965C59.4689 45.012 59.3184 44.7618 59.3184 44.5009Z"
                                    fill="#143243" />
                                <path
                                    d="M59.3184 28.7631C59.3184 28.5023 59.4689 28.2521 59.7368 28.0676C60.0047 27.8832 60.368 27.7795 60.7469 27.7795H75.0326C75.4115 27.7795 75.7749 27.8832 76.0428 28.0676C76.3107 28.2521 76.4612 28.5023 76.4612 28.7631C76.4612 29.024 76.3107 29.2742 76.0428 29.4587C75.7749 29.6431 75.4115 29.7468 75.0326 29.7468H60.7469C60.368 29.7468 60.0047 29.6431 59.7368 29.4587C59.4689 29.2742 59.3184 29.024 59.3184 28.7631Z"
                                    fill="#143243" />
                                <path
                                    d="M59.3184 20.8945C59.3184 20.6336 59.4689 20.3834 59.7368 20.199C60.0047 20.0145 60.368 19.9109 60.7469 19.9109H75.0326C75.4115 19.9109 75.7749 20.0145 76.0428 20.199C76.3107 20.3834 76.4612 20.6336 76.4612 20.8945C76.4612 21.1554 76.3107 21.4055 76.0428 21.59C75.7749 21.7745 75.4115 21.8781 75.0326 21.8781H60.7469C60.368 21.8781 60.0047 21.7745 59.7368 21.59C59.4689 21.4055 59.3184 21.1554 59.3184 20.8945Z"
                                    fill="#143243" />
                            </svg>
                        </div>
                        <h6>Status Tracking</h6>
                        <p>See where every lead stands in your sales pipeline.</p>
                        <div class="hover-blocks">
                            <div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="icon-overlay">
                            <svg width="101" height="70" viewBox="0 0 101 70" fill="none">
                                <path opacity="0.3"
                                    d="M10.7929 39.7071C11.1834 39.3166 11.8166 39.3166 12.2071 39.7071L14.2929 41.7929C14.6834 42.1834 14.6834 42.8166 14.2929 43.2071L12.2071 45.2929C11.8166 45.6834 11.1834 45.6834 10.7929 45.2929L8.70711 43.2071C8.31658 42.8166 8.31658 42.1834 8.70711 41.7929L10.7929 39.7071Z"
                                    fill="#82DDEE" />
                                <path opacity="0.3"
                                    d="M4.29289 14.7071C4.68342 14.3166 5.31658 14.3166 5.70711 14.7071L9.29289 18.2929C9.68342 18.6834 9.68342 19.3166 9.29289 19.7071L5.70711 23.2929C5.31658 23.6834 4.68342 23.6834 4.29289 23.2929L0.707106 19.7071C0.316582 19.3166 0.316583 18.6834 0.707107 18.2929L4.29289 14.7071Z"
                                    fill="#82DDEE" />
                                <path opacity="0.3"
                                    d="M83.7929 43.194C84.1834 43.5845 84.8166 43.5845 85.2071 43.194L87.2929 41.1082C87.6834 40.7177 87.6834 40.0845 87.2929 39.694L85.2071 37.6082C84.8166 37.2177 84.1834 37.2177 83.7929 37.6082L81.7071 39.694C81.3166 40.0845 81.3166 40.7177 81.7071 41.1082L83.7929 43.194Z"
                                    fill="#82DDEE" />
                                <path opacity="0.3"
                                    d="M95.7929 26.194C96.1834 26.5845 96.8166 26.5845 97.2071 26.194L100.293 23.1082C100.683 22.7177 100.683 22.0845 100.293 21.694L97.2071 18.6082C96.8166 18.2177 96.1834 18.2177 95.7929 18.6082L92.7071 21.694C92.3166 22.0845 92.3166 22.7177 92.7071 23.1082L95.7929 26.194Z"
                                    fill="#82DDEE" />
                                <path
                                    d="M41.28 7H68.32C69.1475 7 69.9411 7.32871 70.5262 7.91383C71.1113 8.49894 71.44 9.29252 71.44 10.12V55.88C71.44 56.7075 71.1113 57.5011 70.5262 58.0862C69.9411 58.6713 69.1475 59 68.32 59H41.28C40.4525 59 39.6589 58.6713 39.0738 58.0862C38.4887 57.5011 38.16 56.7075 38.16 55.88V47.56H37.12C36.2925 47.56 35.4989 47.2313 34.9138 46.6462C34.3287 46.0611 34 45.2675 34 44.44V21.56C34 20.7325 34.3287 19.9389 34.9138 19.3538C35.4989 18.7687 36.2925 18.44 37.12 18.44H38.16V10.12C38.16 9.29252 38.4887 8.49894 39.0738 7.91383C39.6589 7.32871 40.4525 7 41.28 7Z"
                                    fill="#95CCE9" />
                                <path
                                    d="M63.32 11H36.28C35.4525 11 34.6589 11.3287 34.0738 11.9138C33.4887 12.4989 33.16 13.2925 33.16 14.12V22.44H32.12C31.2925 22.44 30.4989 22.7687 29.9138 23.3538C29.3287 23.9389 29 24.7325 29 25.56V48.44C29 49.2675 29.3287 50.0611 29.9138 50.6462C30.4989 51.2313 31.2925 51.56 32.12 51.56H33.16V59.88C33.16 60.7075 33.4887 61.5011 34.0738 62.0862C34.6589 62.6713 35.4525 63 36.28 63H63.32C64.1475 63 64.9411 62.6713 65.5262 62.0862C66.1113 61.5011 66.44 60.7075 66.44 59.88V14.12C66.44 13.2925 66.1113 12.4989 65.5262 11.9138C64.9411 11.3287 64.1475 11 63.32 11V11ZM51.88 13.08V14.12C51.88 14.6717 51.6609 15.2007 51.2708 15.5908C50.8807 15.9809 50.3516 16.2 49.8 16.2C49.2483 16.2 48.7193 15.9809 48.3292 15.5908C47.9391 15.2007 47.72 14.6717 47.72 14.12V13.08H51.88ZM31.08 48.44V25.56C31.08 25.2842 31.1896 25.0196 31.3846 24.8246C31.5796 24.6296 31.8442 24.52 32.12 24.52H58.12C58.3958 24.52 58.6604 24.6296 58.8554 24.8246C59.0504 25.0196 59.16 25.2842 59.16 25.56V48.44C59.16 48.7158 59.0504 48.9804 58.8554 49.1754C58.6604 49.3704 58.3958 49.48 58.12 49.48H32.12C31.8442 49.48 31.5796 49.3704 31.3846 49.1754C31.1896 48.9804 31.08 48.7158 31.08 48.44ZM64.36 59.88C64.36 60.1558 64.2504 60.4204 64.0554 60.6154C63.8604 60.8104 63.5958 60.92 63.32 60.92H36.28C36.0042 60.92 35.7396 60.8104 35.5446 60.6154C35.3496 60.4204 35.24 60.1558 35.24 59.88V51.56H58.12C58.9475 51.56 59.7411 51.2313 60.3262 50.6462C60.9113 50.0611 61.24 49.2675 61.24 48.44V25.56C61.24 24.7325 60.9113 23.9389 60.3262 23.3538C59.7411 22.7687 58.9475 22.44 58.12 22.44H35.24V14.12C35.24 13.8442 35.3496 13.5796 35.5446 13.3846C35.7396 13.1896 36.0042 13.08 36.28 13.08H45.64V14.12C45.64 15.2233 46.0783 16.2814 46.8584 17.0616C47.6386 17.8417 48.6967 18.28 49.8 18.28C50.9033 18.28 51.9614 17.8417 52.7416 17.0616C53.5217 16.2814 53.96 15.2233 53.96 14.12V13.08H63.32C63.5958 13.08 63.8604 13.1896 64.0554 13.3846C64.2504 13.5796 64.36 13.8442 64.36 14.12V59.88Z"
                                    fill="#143243" />
                                <path
                                    d="M35.2402 31.72H55.0002C55.276 31.72 55.5405 31.6146 55.7356 31.4271C55.9306 31.2395 56.0402 30.9852 56.0402 30.72C56.0402 30.4548 55.9306 30.2004 55.7356 30.0129C55.5405 29.8253 55.276 29.72 55.0002 29.72H35.2402C34.9644 29.72 34.6998 29.8253 34.5048 30.0129C34.3098 30.2004 34.2002 30.4548 34.2002 30.72C34.2002 30.9852 34.3098 31.2395 34.5048 31.4271C34.6998 31.6146 34.9644 31.72 35.2402 31.72Z"
                                    fill="#143243" />
                                <path
                                    d="M35.2402 37.96H55.0002C55.276 37.96 55.5405 37.8546 55.7356 37.6671C55.9306 37.4795 56.0402 37.2252 56.0402 36.96C56.0402 36.6947 55.9306 36.4404 55.7356 36.2529C55.5405 36.0653 55.276 35.96 55.0002 35.96H35.2402C34.9644 35.96 34.6998 36.0653 34.5048 36.2529C34.3098 36.4404 34.2002 36.6947 34.2002 36.96C34.2002 37.2252 34.3098 37.4795 34.5048 37.6671C34.6998 37.8546 34.9644 37.96 35.2402 37.96Z"
                                    fill="#143243" />
                                <path
                                    d="M35.2402 44.2002H55.0002C55.276 44.2002 55.5405 44.0948 55.7356 43.9073C55.9306 43.7198 56.0402 43.4654 56.0402 43.2002C56.0402 42.935 55.9306 42.6806 55.7356 42.4931C55.5405 42.3056 55.276 42.2002 55.0002 42.2002H35.2402C34.9644 42.2002 34.6998 42.3056 34.5048 42.4931C34.3098 42.6806 34.2002 42.935 34.2002 43.2002C34.2002 43.4654 34.3098 43.7198 34.5048 43.9073C34.6998 44.0948 34.9644 44.2002 35.2402 44.2002Z"
                                    fill="#143243" />
                            </svg>
                        </div>
                        <h6>Anywhere Access</h6>
                        <p>Take your business on the road with mobile account access.</p>
                        <div class="hover-blocks">
                            <div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blocks-overlay align-left">
                    <div>
                        <div class="icon-overlay">
                            <svg width="94" height="70" viewBox="0 0 94 70" fill="none">
                                <path opacity="0.3"
                                    d="M80.7929 28.194C81.1834 28.5845 81.8166 28.5845 82.2071 28.194L84.2929 26.1082C84.6834 25.7177 84.6834 25.0845 84.2929 24.694L82.2071 22.6082C81.8166 22.2177 81.1834 22.2177 80.7929 22.6082L78.7071 24.694C78.3166 25.0845 78.3166 25.7177 78.7071 26.1082L80.7929 28.194Z"
                                    fill="#82DDEE" />
                                <path opacity="0.3"
                                    d="M9.79289 39.7071C10.1834 39.3166 10.8166 39.3166 11.2071 39.7071L13.2929 41.7929C13.6834 42.1834 13.6834 42.8166 13.2929 43.2071L11.2071 45.2929C10.8166 45.6834 10.1834 45.6834 9.79289 45.2929L7.70711 43.2071C7.31658 42.8166 7.31658 42.1834 7.70711 41.7929L9.79289 39.7071Z"
                                    fill="#82DDEE" />
                                <path opacity="0.3"
                                    d="M88.7968 14.2057C89.1864 14.591 89.8136 14.591 90.2032 14.2057L93.2811 11.1616C93.6768 10.7702 93.6768 10.131 93.2811 9.73957L90.2032 6.69548C89.8136 6.31015 89.1864 6.31015 88.7968 6.69548L85.7189 9.73957C85.3232 10.131 85.3232 10.7702 85.7189 11.1616L88.7968 14.2057Z"
                                    fill="#82DDEE" />
                                <path opacity="0.3"
                                    d="M4.29289 14.7071C4.68342 14.3166 5.31658 14.3166 5.70711 14.7071L9.29289 18.2929C9.68342 18.6834 9.68342 19.3166 9.29289 19.7071L5.70711 23.2929C5.31658 23.6834 4.68342 23.6834 4.29289 23.2929L0.707106 19.7071C0.316582 19.3166 0.316583 18.6834 0.707107 18.2929L4.29289 14.7071Z"
                                    fill="#82DDEE" />
                                <rect x="32" y="5" width="49" height="49" rx="3" fill="#95CCE9" />
                                <path
                                    d="M76.05 30.2084V14.3042C76.05 13.3561 75.6733 12.4468 75.0029 11.7763C74.3325 11.1059 73.4231 10.7292 72.475 10.7292H29.575C28.6269 10.7292 27.7175 11.1059 27.0471 11.7763C26.3767 12.4468 26 13.3561 26 14.3042V56.4251C26 57.3732 26.3767 58.2825 27.0471 58.953C27.7175 59.6234 28.6269 60.0001 29.575 60.0001H70.0917C73.673 60.0001 77.1436 58.7593 79.9132 56.4888C82.6828 54.2183 84.5801 51.0583 85.2825 47.5466C85.9848 44.0348 85.4488 40.3882 83.7655 37.2271C82.0823 34.0661 79.3558 31.5858 76.05 30.2084ZM29.575 57.6167C29.259 57.6167 28.9558 57.4912 28.7324 57.2677C28.5089 57.0442 28.3833 56.7411 28.3833 56.4251V14.3042C28.3833 13.9882 28.5089 13.6851 28.7324 13.4616C28.9558 13.2381 29.259 13.1126 29.575 13.1126H72.475C72.791 13.1126 73.0942 13.2381 73.3176 13.4616C73.5411 13.6851 73.6667 13.9882 73.6667 14.3042V29.4493C70.0958 28.5935 66.337 29.0358 63.0622 30.697C59.7875 32.3583 57.2105 35.1302 55.7919 38.5171C54.3734 41.904 54.2058 45.6851 55.3192 49.1842C56.4326 52.6833 58.7543 55.6723 61.8692 57.6167H29.575ZM70.0917 57.6167C67.4991 57.6167 64.9647 56.8479 62.8091 55.4076C60.6534 53.9672 58.9733 51.92 57.9811 49.5248C56.989 47.1295 56.7294 44.4939 57.2352 41.9511C57.741 39.4083 58.9894 37.0727 60.8227 35.2394C62.6559 33.4062 64.9916 32.1577 67.5344 31.652C70.0771 31.1462 72.7128 31.4058 75.108 32.3979C77.5032 33.39 79.5505 35.0702 80.9908 37.2258C82.4312 39.3815 83.2 41.9158 83.2 44.5084C83.1959 47.9837 81.8135 51.3155 79.3561 53.7729C76.8987 56.2303 73.567 57.6126 70.0917 57.6167Z"
                                    fill="#143243" />
                                <path
                                    d="M77.2416 43.3168H71.2832V34.9751C71.2832 34.6591 71.1577 34.356 70.9342 34.1325C70.7107 33.909 70.4076 33.7834 70.0916 33.7834C69.7755 33.7834 69.4724 33.909 69.2489 34.1325C69.0255 34.356 68.8999 34.6591 68.8999 34.9751V44.5084C68.8999 44.8245 69.0255 45.1276 69.2489 45.3511C69.4724 45.5746 69.7755 45.7001 70.0916 45.7001H77.2416C77.5576 45.7001 77.8607 45.5746 78.0842 45.3511C78.3077 45.1276 78.4332 44.8245 78.4332 44.5084C78.4332 44.1924 78.3077 43.8893 78.0842 43.6658C77.8607 43.4423 77.5576 43.3168 77.2416 43.3168Z"
                                    fill="#143243" />
                                <path
                                    d="M36.7251 21.8667H65.3251C65.6412 21.8667 65.9443 21.7412 66.1677 21.5177C66.3912 21.2942 66.5168 20.9911 66.5168 20.6751C66.5168 20.359 66.3912 20.0559 66.1677 19.8324C65.9443 19.6089 65.6412 19.4834 65.3251 19.4834H36.7251C36.4091 19.4834 36.106 19.6089 35.8825 19.8324C35.659 20.0559 35.5334 20.359 35.5334 20.6751C35.5334 20.9911 35.659 21.2942 35.8825 21.5177C36.106 21.7412 36.4091 21.8667 36.7251 21.8667Z"
                                    fill="#143243" />
                                <path
                                    d="M36.7251 31.3999H55.7918C56.1078 31.3999 56.4109 31.2744 56.6344 31.0509C56.8579 30.8274 56.9834 30.5243 56.9834 30.2083C56.9834 29.8922 56.8579 29.5891 56.6344 29.3656C56.4109 29.1422 56.1078 29.0166 55.7918 29.0166H36.7251C36.4091 29.0166 36.106 29.1422 35.8825 29.3656C35.659 29.5891 35.5334 29.8922 35.5334 30.2083C35.5334 30.5243 35.659 30.8274 35.8825 31.0509C36.106 31.2744 36.4091 31.3999 36.7251 31.3999Z"
                                    fill="#143243" />
                                <path
                                    d="M51.0251 38.5498H36.7251C36.4091 38.5498 36.106 38.6754 35.8825 38.8988C35.659 39.1223 35.5334 39.4254 35.5334 39.7415C35.5334 40.0575 35.659 40.3606 35.8825 40.5841C36.106 40.8076 36.4091 40.9331 36.7251 40.9331H51.0251C51.3412 40.9331 51.6443 40.8076 51.8678 40.5841C52.0912 40.3606 52.2168 40.0575 52.2168 39.7415C52.2168 39.4254 52.0912 39.1223 51.8678 38.8988C51.6443 38.6754 51.3412 38.5498 51.0251 38.5498Z"
                                    fill="#143243" />
                                <path
                                    d="M51.0251 48.0833H36.7251C36.4091 48.0833 36.106 48.2088 35.8825 48.4323C35.659 48.6558 35.5334 48.9589 35.5334 49.2749C35.5334 49.591 35.659 49.8941 35.8825 50.1176C36.106 50.341 36.4091 50.4666 36.7251 50.4666H51.0251C51.3412 50.4666 51.6443 50.341 51.8678 50.1176C52.0912 49.8941 52.2168 49.591 52.2168 49.2749C52.2168 48.9589 52.0912 48.6558 51.8678 48.4323C51.6443 48.2088 51.3412 48.0833 51.0251 48.0833Z"
                                    fill="#143243" />
                            </svg>
                        </div>
                        <h6>Automatic Follow-ups</h6>
                        <p>Let our lead system nurture prospects until you get a response.</p>
                        <div class="hover-blocks">
                            <div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="icon-overlay">
                            <svg width="93" height="70" viewBox="0 0 93 70" fill="none">
                                <path opacity="0.3"
                                    d="M10.7929 30.2929C11.1834 30.6834 11.8166 30.6834 12.2071 30.2929L14.2929 28.2071C14.6834 27.8166 14.6834 27.1834 14.2929 26.7929L12.2071 24.7071C11.8166 24.3166 11.1834 24.3166 10.7929 24.7071L8.70711 26.7929C8.31658 27.1834 8.31658 27.8166 8.70711 28.2071L10.7929 30.2929Z"
                                    fill="#82DDEE" />
                                <path opacity="0.3"
                                    d="M4.29289 55.2929C4.68342 55.6834 5.31658 55.6834 5.70711 55.2929L9.29289 51.7071C9.68342 51.3166 9.68342 50.6834 9.29289 50.2929L5.70711 46.7071C5.31658 46.3166 4.68342 46.3166 4.29289 46.7071L0.707106 50.2929C0.316582 50.6834 0.316583 51.3166 0.707107 51.7071L4.29289 55.2929Z"
                                    fill="#82DDEE" />
                                <path opacity="0.3"
                                    d="M75.7929 44.194C76.1834 44.5845 76.8166 44.5845 77.2071 44.194L79.2929 42.1082C79.6834 41.7177 79.6834 41.0845 79.2929 40.694L77.2071 38.6082C76.8166 38.2177 76.1834 38.2177 75.7929 38.6082L73.7071 40.694C73.3166 41.0845 73.3166 41.7177 73.7071 42.1082L75.7929 44.194Z"
                                    fill="#82DDEE" />
                                <path opacity="0.3"
                                    d="M87.7929 16.194C88.1834 16.5845 88.8166 16.5845 89.2071 16.194L92.2929 13.1082C92.6834 12.7177 92.6834 12.0845 92.2929 11.694L89.2071 8.60823C88.8166 8.2177 88.1834 8.21771 87.7929 8.60823L84.7071 11.694C84.3166 12.0845 84.3166 12.7177 84.7071 13.1082L87.7929 16.194Z"
                                    fill="#82DDEE" />
                                <rect x="30" y="6" width="32" height="53" rx="3" fill="#95CCE9" />
                                <path
                                    d="M61.9733 33.0374L71.5867 25.6174C71.7154 25.5183 71.8195 25.3914 71.8911 25.2462C71.9628 25.1011 72 24.9416 72 24.78C72 24.6184 71.9628 24.4589 71.8911 24.3138C71.8195 24.1686 71.7154 24.0417 71.5867 23.9426L61.9733 16.5226C61.8154 16.4007 61.6262 16.3253 61.4272 16.3049C61.2283 16.2845 61.0275 16.3199 60.8479 16.4072C60.6682 16.4945 60.5168 16.63 60.411 16.7985C60.3052 16.9669 60.2491 17.1615 60.2493 17.36V20.54H57.0448V14.18C57.0448 13.3366 56.7072 12.5278 56.1062 11.9314C55.5053 11.335 54.6902 11 53.8403 11H28.2045C27.3546 11 26.5395 11.335 25.9386 11.9314C25.3376 12.5278 25 13.3366 25 14.18V60.82C25 61.6634 25.3376 62.4722 25.9386 63.0686C26.5395 63.665 27.3546 64 28.2045 64H53.8403C54.6902 64 55.5053 63.665 56.1062 63.0686C56.7072 62.4722 57.0448 61.6634 57.0448 60.82V45.98H59.1811C60.031 45.98 60.8461 45.645 61.447 45.0486C62.048 44.4522 62.3856 43.6434 62.3856 42.8V40.68C62.3856 39.8366 62.048 39.0278 61.447 38.4314C60.8461 37.835 60.031 37.5 59.1811 37.5H57.0448V29.02H60.2493V32.2C60.2491 32.3985 60.3052 32.5931 60.411 32.7615C60.5168 32.93 60.6682 33.0655 60.8479 33.1528C61.0275 33.2401 61.2283 33.2755 61.4272 33.2551C61.6262 33.2347 61.8154 33.1593 61.9733 33.0374ZM27.1363 14.18C27.1363 13.8989 27.2489 13.6293 27.4492 13.4305C27.6495 13.2317 27.9212 13.12 28.2045 13.12H53.8403C54.1236 13.12 54.3953 13.2317 54.5956 13.4305C54.7959 13.6293 54.9085 13.8989 54.9085 14.18V15.24H27.1363V14.18ZM54.9085 60.82C54.9085 61.1011 54.7959 61.3707 54.5956 61.5695C54.3953 61.7683 54.1236 61.88 53.8403 61.88H28.2045C27.9212 61.88 27.6495 61.7683 27.4492 61.5695C27.2489 61.3707 27.1363 61.1011 27.1363 60.82V58.7H54.9085V60.82ZM54.9085 56.58H27.1363V17.36H54.9085V20.54H43.1587C42.3088 20.54 41.4938 20.875 40.8928 21.4714C40.2919 22.0678 39.9542 22.8766 39.9542 23.72V25.84C39.9542 26.6834 40.2919 27.4922 40.8928 28.0886C41.4938 28.685 42.3088 29.02 43.1587 29.02H54.9085V37.5H42.0906V34.32C42.0907 34.1215 42.0347 33.9269 41.9288 33.7585C41.823 33.59 41.6717 33.4545 41.492 33.3672C41.3123 33.2799 41.1116 33.2445 40.9126 33.2649C40.7136 33.2853 40.5244 33.3607 40.3666 33.4826L30.7531 40.9026C30.6245 41.0017 30.5203 41.1286 30.4487 41.2738C30.3771 41.4189 30.3398 41.5784 30.3398 41.74C30.3398 41.9016 30.3771 42.0611 30.4487 42.2062C30.5203 42.3514 30.6245 42.4783 30.7531 42.5774L40.3666 49.9974C40.5244 50.1193 40.7136 50.1947 40.9126 50.2151C41.1116 50.2355 41.3123 50.2001 41.492 50.1128C41.6717 50.0255 41.823 49.89 41.9288 49.7215C42.0347 49.5531 42.0907 49.3585 42.0906 49.16V45.98H54.9085V56.58ZM59.1811 39.62C59.4644 39.62 59.7361 39.7317 59.9364 39.9305C60.1367 40.1293 60.2493 40.3989 60.2493 40.68V42.8C60.2493 43.0811 60.1367 43.3507 59.9364 43.5495C59.7361 43.7483 59.4644 43.86 59.1811 43.86H41.0224C40.7391 43.86 40.4674 43.9717 40.2671 44.1705C40.0668 44.3693 39.9542 44.6389 39.9542 44.92V46.9923L33.149 41.74L39.9542 36.4866V38.56C39.9542 38.8411 40.0668 39.1107 40.2671 39.3095C40.4674 39.5083 40.7391 39.62 41.0224 39.62H59.1811ZM43.1587 26.9C42.8754 26.9 42.6037 26.7883 42.4034 26.5895C42.2031 26.3907 42.0906 26.1211 42.0906 25.84V23.72C42.0906 23.4389 42.2031 23.1693 42.4034 22.9705C42.6037 22.7717 42.8754 22.66 43.1587 22.66H61.3174C61.6007 22.66 61.8724 22.5483 62.0728 22.3495C62.2731 22.1507 62.3856 21.8811 62.3856 21.6V19.5266L69.1909 24.78L62.3856 30.0334V27.96C62.3856 27.6789 62.2731 27.4093 62.0728 27.2105C61.8724 27.0117 61.6007 26.9 61.3174 26.9H43.1587Z"
                                    fill="#143243" />
                            </svg>
                        </div>
                        <h6>Contact Transfers </h6>
                        <p>Easily import/export contacts from your existing CRM system.</p>
                        <div class="hover-blocks">
                            <div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="icon-overlay">
                            <svg width="113" height="70" viewBox="0 0 113 70" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.3"
                                    d="M7.79289 39.7071C8.18342 39.3166 8.81658 39.3166 9.20711 39.7071L11.2929 41.7929C11.6834 42.1834 11.6834 42.8166 11.2929 43.2071L9.20711 45.2929C8.81658 45.6834 8.18342 45.6834 7.79289 45.2929L5.70711 43.2071C5.31658 42.8166 5.31658 42.1834 5.70711 41.7929L7.79289 39.7071Z"
                                    fill="#82DDEE" />
                                <path opacity="0.3"
                                    d="M4.29289 14.7071C4.68342 14.3166 5.31658 14.3166 5.70711 14.7071L9.29289 18.2929C9.68342 18.6834 9.68342 19.3166 9.29289 19.7071L5.70711 23.2929C5.31658 23.6834 4.68342 23.6834 4.29289 23.2929L0.707106 19.7071C0.316582 19.3166 0.316583 18.6834 0.707107 18.2929L4.29289 14.7071Z"
                                    fill="#82DDEE" />
                                <path opacity="0.3"
                                    d="M100.793 43.194C101.183 43.5845 101.817 43.5845 102.207 43.194L104.293 41.1082C104.683 40.7177 104.683 40.0845 104.293 39.694L102.207 37.6082C101.817 37.2177 101.183 37.2177 100.793 37.6082L98.7071 39.694C98.3166 40.0845 98.3166 40.7177 98.7071 41.1082L100.793 43.194Z"
                                    fill="#82DDEE" />
                                <path opacity="0.3"
                                    d="M108.793 23.194C109.183 23.5845 109.817 23.5845 110.207 23.194L112.293 21.1082C112.683 20.7177 112.683 20.0845 112.293 19.694L110.207 17.6082C109.817 17.2177 109.183 17.2177 108.793 17.6082L106.707 19.694C106.317 20.0845 106.317 20.7177 106.707 21.1082L108.793 23.194Z"
                                    fill="#82DDEE" />
                                <rect x="27" y="8" width="60" height="44.5161" rx="4" fill="#95CCE9" />
                                <path
                                    d="M79.4 11.7926H68.6V8.19816C68.6 7.88039 68.4736 7.57563 68.2485 7.35093C68.0235 7.12623 67.7183 7 67.4 7C67.0817 7 66.7765 7.12623 66.5515 7.35093C66.3264 7.57563 66.2 7.88039 66.2 8.19816V11.7926H39.8V8.19816C39.8 7.88039 39.6736 7.57563 39.4485 7.35093C39.2235 7.12623 38.9183 7 38.6 7C38.2817 7 37.9765 7.12623 37.7515 7.35093C37.5264 7.57563 37.4 7.88039 37.4 8.19816V11.7926H26.6C25.6452 11.7926 24.7295 12.1713 24.0544 12.8454C23.3793 13.5195 23 14.4338 23 15.3871V53.7281C23 54.6814 23.3793 55.5957 24.0544 56.2698C24.7295 56.9439 25.6452 57.3226 26.6 57.3226H79.4C80.3548 57.3226 81.2705 56.9439 81.9456 56.2698C82.6207 55.5957 83 54.6814 83 53.7281V15.3871C83 14.4338 82.6207 13.5195 81.9456 12.8454C81.2705 12.1713 80.3548 11.7926 79.4 11.7926ZM26.6 14.1889H37.4V17.7834C37.4 18.1012 37.5264 18.4059 37.7515 18.6306C37.9765 18.8553 38.2817 18.9816 38.6 18.9816C38.9183 18.9816 39.2235 18.8553 39.4485 18.6306C39.6736 18.4059 39.8 18.1012 39.8 17.7834V14.1889H66.2V17.7834C66.2 18.1012 66.3264 18.4059 66.5515 18.6306C66.7765 18.8553 67.0817 18.9816 67.4 18.9816C67.7183 18.9816 68.0235 18.8553 68.2485 18.6306C68.4736 18.4059 68.6 18.1012 68.6 17.7834V14.1889H79.4C79.7183 14.1889 80.0235 14.3152 80.2485 14.5399C80.4736 14.7646 80.6 15.0693 80.6 15.3871V21.3779H25.4V15.3871C25.4 15.0693 25.5264 14.7646 25.7515 14.5399C25.9765 14.3152 26.2817 14.1889 26.6 14.1889ZM79.4 54.9263H26.6C26.2817 54.9263 25.9765 54.8 25.7515 54.5753C25.5264 54.3506 25.4 54.0459 25.4 53.7281V23.7742H80.6V53.7281C80.6 54.0459 80.4736 54.3506 80.2485 54.5753C80.0235 54.8 79.7183 54.9263 79.4 54.9263ZM37.4 33.3594H32.6C32.2817 33.3594 31.9765 33.2332 31.7515 33.0085C31.5264 32.7838 31.4 32.4791 31.4 32.1613C31.4 31.8435 31.5264 31.5388 31.7515 31.3141C31.9765 31.0894 32.2817 30.9631 32.6 30.9631H37.4C37.7183 30.9631 38.0235 31.0894 38.2485 31.3141C38.4736 31.5388 38.6 31.8435 38.6 32.1613C38.6 32.4791 38.4736 32.7838 38.2485 33.0085C38.0235 33.2332 37.7183 33.3594 37.4 33.3594ZM49.4 33.3594H44.6C44.2817 33.3594 43.9765 33.2332 43.7515 33.0085C43.5264 32.7838 43.4 32.4791 43.4 32.1613C43.4 31.8435 43.5264 31.5388 43.7515 31.3141C43.9765 31.0894 44.2817 30.9631 44.6 30.9631H49.4C49.7183 30.9631 50.0235 31.0894 50.2485 31.3141C50.4736 31.5388 50.6 31.8435 50.6 32.1613C50.6 32.4791 50.4736 32.7838 50.2485 33.0085C50.0235 33.2332 49.7183 33.3594 49.4 33.3594ZM61.4 33.3594H56.6C56.2817 33.3594 55.9765 33.2332 55.7515 33.0085C55.5264 32.7838 55.4 32.4791 55.4 32.1613C55.4 31.8435 55.5264 31.5388 55.7515 31.3141C55.9765 31.0894 56.2817 30.9631 56.6 30.9631H61.4C61.7183 30.9631 62.0235 31.0894 62.2485 31.3141C62.4736 31.5388 62.6 31.8435 62.6 32.1613C62.6 32.4791 62.4736 32.7838 62.2485 33.0085C62.0235 33.2332 61.7183 33.3594 61.4 33.3594ZM73.4 33.3594H68.6C68.2817 33.3594 67.9765 33.2332 67.7515 33.0085C67.5264 32.7838 67.4 32.4791 67.4 32.1613C67.4 31.8435 67.5264 31.5388 67.7515 31.3141C67.9765 31.0894 68.2817 30.9631 68.6 30.9631H73.4C73.7183 30.9631 74.0235 31.0894 74.2485 31.3141C74.4736 31.5388 74.6 31.8435 74.6 32.1613C74.6 32.4791 74.4736 32.7838 74.2485 33.0085C74.0235 33.2332 73.7183 33.3594 73.4 33.3594ZM37.4 40.5484H32.6C32.2817 40.5484 31.9765 40.4222 31.7515 40.1975C31.5264 39.9728 31.4 39.668 31.4 39.3502C31.4 39.0325 31.5264 38.7277 31.7515 38.503C31.9765 38.2783 32.2817 38.1521 32.6 38.1521H37.4C37.7183 38.1521 38.0235 38.2783 38.2485 38.503C38.4736 38.7277 38.6 39.0325 38.6 39.3502C38.6 39.668 38.4736 39.9728 38.2485 40.1975C38.0235 40.4222 37.7183 40.5484 37.4 40.5484ZM49.4 40.5484H44.6C44.2817 40.5484 43.9765 40.4222 43.7515 40.1975C43.5264 39.9728 43.4 39.668 43.4 39.3502C43.4 39.0325 43.5264 38.7277 43.7515 38.503C43.9765 38.2783 44.2817 38.1521 44.6 38.1521H49.4C49.7183 38.1521 50.0235 38.2783 50.2485 38.503C50.4736 38.7277 50.6 39.0325 50.6 39.3502C50.6 39.668 50.4736 39.9728 50.2485 40.1975C50.0235 40.4222 49.7183 40.5484 49.4 40.5484ZM61.4 40.5484H56.6C56.2817 40.5484 55.9765 40.4222 55.7515 40.1975C55.5264 39.9728 55.4 39.668 55.4 39.3502C55.4 39.0325 55.5264 38.7277 55.7515 38.503C55.9765 38.2783 56.2817 38.1521 56.6 38.1521H61.4C61.7183 38.1521 62.0235 38.2783 62.2485 38.503C62.4736 38.7277 62.6 39.0325 62.6 39.3502C62.6 39.668 62.4736 39.9728 62.2485 40.1975C62.0235 40.4222 61.7183 40.5484 61.4 40.5484ZM73.4 40.5484H68.6C68.2817 40.5484 67.9765 40.4222 67.7515 40.1975C67.5264 39.9728 67.4 39.668 67.4 39.3502C67.4 39.0325 67.5264 38.7277 67.7515 38.503C67.9765 38.2783 68.2817 38.1521 68.6 38.1521H73.4C73.7183 38.1521 74.0235 38.2783 74.2485 38.503C74.4736 38.7277 74.6 39.0325 74.6 39.3502C74.6 39.668 74.4736 39.9728 74.2485 40.1975C74.0235 40.4222 73.7183 40.5484 73.4 40.5484ZM37.4 47.7373H32.6C32.2817 47.7373 31.9765 47.6111 31.7515 47.3864C31.5264 47.1617 31.4 46.8569 31.4 46.5392C31.4 46.2214 31.5264 45.9166 31.7515 45.6919C31.9765 45.4672 32.2817 45.341 32.6 45.341H37.4C37.7183 45.341 38.0235 45.4672 38.2485 45.6919C38.4736 45.9166 38.6 46.2214 38.6 46.5392C38.6 46.8569 38.4736 47.1617 38.2485 47.3864C38.0235 47.6111 37.7183 47.7373 37.4 47.7373ZM49.4 47.7373H44.6C44.2817 47.7373 43.9765 47.6111 43.7515 47.3864C43.5264 47.1617 43.4 46.8569 43.4 46.5392C43.4 46.2214 43.5264 45.9166 43.7515 45.6919C43.9765 45.4672 44.2817 45.341 44.6 45.341H49.4C49.7183 45.341 50.0235 45.4672 50.2485 45.6919C50.4736 45.9166 50.6 46.2214 50.6 46.5392C50.6 46.8569 50.4736 47.1617 50.2485 47.3864C50.0235 47.6111 49.7183 47.7373 49.4 47.7373ZM61.4 47.7373H56.6C56.2817 47.7373 55.9765 47.6111 55.7515 47.3864C55.5264 47.1617 55.4 46.8569 55.4 46.5392C55.4 46.2214 55.5264 45.9166 55.7515 45.6919C55.9765 45.4672 56.2817 45.341 56.6 45.341H61.4C61.7183 45.341 62.0235 45.4672 62.2485 45.6919C62.4736 45.9166 62.6 46.2214 62.6 46.5392C62.6 46.8569 62.4736 47.1617 62.2485 47.3864C62.0235 47.6111 61.7183 47.7373 61.4 47.7373ZM73.4 47.7373H68.6C68.2817 47.7373 67.9765 47.6111 67.7515 47.3864C67.5264 47.1617 67.4 46.8569 67.4 46.5392C67.4 46.2214 67.5264 45.9166 67.7515 45.6919C67.9765 45.4672 68.2817 45.341 68.6 45.341H73.4C73.7183 45.341 74.0235 45.4672 74.2485 45.6919C74.4736 45.9166 74.6 46.2214 74.6 46.5392C74.6 46.8569 74.4736 47.1617 74.2485 47.3864C74.0235 47.6111 73.7183 47.7373 73.4 47.7373Z"
                                    fill="#143243" />
                            </svg>

                        </div>
                        <h6>Reminders and Notifications</h6>
                        <p>Manage appointments and follow-ups with a few simple clicks.</p>
                        <div class="hover-blocks">
                            <div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark-blue">
    <div class="container">
        <div class="center-position">
            <h3 class="small-title underline">
                <p>If you can manage your email, you can use the LeadConversion platform</p>
            </h3>
            <h5 class="title">Have a look at the platform:</h5>
        </div>
    </div>
</section>
<section class="bg-dark-blue">
    <div class="container">
        <div class="row right">
            <div class="col-4">
                <h5>Set up your Pipeline</h5>
                <p>See where your leads stand and move them toward contract negotiation.</p>
            </div>
            <div class="col-8">
                <img src="./img/illustration-1.svg" alt='' />
            </div>
        </div>
    </div>
</section>
<section class="bg-dark-blue">
    <div class="container">
        <div class="row left">
            <div class="col-8">
                <img src="./img/illustration-2.svg" alt='' />
            </div>
            <div class="col-4">
                <h5>Make Contact</h5>
                <p>See the contact information, notes, and conversations for all your leads.</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark-blue">
    <div class="container">
        <div class="row right">
            <div class="col-4">
                <h5>Manage Follow Ups</h5>
                <p>Create appointments and take action on prospects who are ready to move forward.</p>
            </div>
            <div class="col-8">
                <img src="./img/illustration-3.svg" alt='' />
            </div>
        </div>
    </div>
</section>
<section id='contact' class="bg-light-blue animation">
    <div class="container">
        <div class="contact-form">
            <div class="center-position">
                <h3 class="small-title underline">
                    <p>No learning curve.<br> Just leads delivered</p>
                </h3>
                <h5>Ready to get started?</h5>
            </div>
            <div role="form" class="wpcf7" id="wpcf7-f5-o1" lang="en-US" dir="ltr">
                <div class="screen-reader-response" aria-live="polite"></div>
                <form action="/#wpcf7-f5-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                    <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="5">
                        <input type="hidden" name="_wpcf7_version" value="5.1.8">
                        <input type="hidden" name="_wpcf7_locale" value="en_US">
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-o1">
                        <input type="hidden" name="_wpcf7_container_post" value="0">
                    </div>
                    <p><span class="fas fa-briefcase"></span><span class="wpcf7-form-control-wrap you-status"><select
                                name="you-status" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required"
                                aria-required="true" aria-invalid="false">
                                <option value="Please select your occupation">Please select your occupation</option>
                                <option value="I am a real estate agentbrocker">I am a real estate agentbrocker</option>
                                <option value="I am a home seller/buyer">I am a home seller/buyer</option>
                                <option value="other professional">other professional</option>
                            </select></span></p>
                    <p><span class="fas fa-user"></span><span class="wpcf7-form-control-wrap your-name"><input
                                type="text" name="your-name" value="" size="40"
                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true"
                                aria-invalid="false" placeholder="Name"></span></p>
                    <p><span class="fas fa-envelope"></span><span class="wpcf7-form-control-wrap your-email"><input
                                type="email" name="your-email" value="" size="40"
                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                aria-required="true" aria-invalid="false" placeholder="Email address"></span></p>
                    <div class="flex">
                        <p><span class="fas fa-phone"></span><span class="wpcf7-form-control-wrap your-phone"><input
                                    type="tel" name="your-phone" value="" size="40"
                                    class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                                    aria-required="true" aria-invalid="false" placeholder="Phone number"></span></p>
                        <p><span class="fas fa-map-marker-alt"></span><span
                                class="wpcf7-form-control-wrap your-phone"><input type="tel" name="your-phone" value=""
                                    size="40"
                                    class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                                    aria-required="true" aria-invalid="false" placeholder="City"></span></p>
                    </div>
                    <p><input type="submit" value="GET STARTED" class="wpcf7-form-control wpcf7-submit"><span
                            class="ajax-loader"></span></p>
                    <div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div>
                </form>
            </div>
            <div class="hover-blocks">
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="btn-block">
            <sapn>or call</sapn>
            <a href="tel:844.413.1615" class="">844.413.1615</a>
        </div>
    </div>
    <div class="absolute-elements bg-blue-elements">
        <div class="comment-icon">
            <div class="comment-icon-inner" data-from="100" data-to="-280">
                <img src="img/comment-blue.svg" alt="" />
            </div>
        </div>
        <div class="arrow small">
            <div class="arrow-inner" data-from="50" data-to="-350">
                <img src="img/selling-arrow.svg" alt="" />
            </div>
        </div>
        <div class="arrow big">
            <div class="arrow-inner" data-from="100" data-to="-350">
                <img src="img/selling-arrow.svg" alt="" />
            </div>
        </div>
        <div class="lines big">
            <div class="lines-inner" data-from="70" data-to="-270">
                <img src="img/lines-light.svg" alt="" />
            </div>
        </div>
        <div class="circle small">
            <div class="circle-inner" data-from="80" data-to="-280">
                <img src="img/circle-light.svg" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- partial:index.partial.html -->
//= footer.html
<!-- partial -->