<footer>
    <div class="container">
        <h5>Navigation</h5>
        <ul id="footer-menu" class="menu">
            <li class="menu-item"><a href="index.html">Home</a></li>
            <li class="menu-item"><a href="about.html">About Us</a></li>
            <li class="menu-item"><a href="#">Services</a>
            </li>
            <li class="menu-item"><a href="#">Careers</a></li>
            <li class="menu-item"><a href="#">Contact Us</a></li>
            <li class="menu-item"><a href="#">Join Our Network</a></li>
        </ul>
        <p class="copyright">Copyrignt © 2020 DBA of Nationwide Brokers Corp.</p>
    </div>
</footer>
</div>
</div>



<script src="libs/jquery.min.js"></script>

<script src="libs/jquery.scrollbar.min.js"></script>

<script type="text/javascript" src="libs/TweenMax.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/plugins/ScrollToPlugin.min.js"></script>
<script type="" src="libs/SplitText.js"></script>
<script type="text/javascript" src="libs/ScrollMagic.min.js"></script>
<script src='libs/animation.gsap.min.js'></script>
<script src="libs/debug.addIndicators.min.js"></script>

<script src='js/all.js'></script>

</body>

</html>