<!-- partial:index.partial.html -->
//= head.html
<!-- partial -->
<section class="intro bg-grey">
    <div class="container">
        <div class="content">
            <h1>Looking for <span class="blue">First Class</span> National REO Expert?
            </h1>
            <a href="#contact" class="btn btn-blue anchor__link">GET a quote</a>
        </div>
    </div>
    <div class="absolute-block">
        <div>
            <div class="left">
                <img src="img/intro-1.svg" class="" />
            </div>
            <div class="right">
                <img src="img/intro-2.svg" class="" />
            </div>
        </div>
    </div>
</section>
<section class="blocks-template">
    <div class="container">
        <div class="blocks align-left row row_right">
            <div class="col-6 block_picture">
                <img src="img/why-1.svg" />
            </div>
            <div class="col-6 block_text">
                <h2><span class="underline">Why</span> Nationwide REO Management Services?</h2>
                <p>We are a full service business development group – we build strategies and systems.</p>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blocks align-left row row_left">
            <div class="col-6 block_picture">
                <img src="img/why-2.svg" />
            </div>
            <div class="col-6 block_text">
                <h2>National Consumer <span class="underline">Insights</span></h2>
                <p>Rapid solutions to the most complex business challenges with cooperative process-driven.</p>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blocks align-left row row_right">
            <div class="col-6 block_picture">
                <img src="img/why-3.svg" />
            </div>
            <div class="col-6 block_text">
                <h2>Thought <span class='underline'>Leadership</span></h2>
                <p>We are a full service business development group – we build strategies and systems.</p>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blocks-template">
    <div class="container">
        <div class="center-position">
            <h2><span class='underline'>Why</span> Nationwide REO Management Services?</h2>
        </div>
        <div class="blocks align-left">
            <div class="col-3">
                <div class="icon-overlay">
                    <img src="img/features-1.svg" />
                </div>
                <h6>Soar Above your Competition with Proven Robust Solutions</h6>
                <p>Established proven processes, performance matrix, exceptional customer support is all the forefront
                    of our success.</p>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="icon-overlay">
                    <img src="img/features-2.svg" />
                </div>
                <h6>REO Management Services
                    and Beyond</h6>
                <p>We consider all the drivers of change – from the ground up and we’ll motivate and support our
                    clients.</p>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="icon-overlay">
                    <img src="img/features-3.svg" />
                </div>
                <h6>Market Driven and Technology Powered Humans</h6>
                <p>From broad market reo trends and strategy to the development of integrated commercial strategies.
                </p>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="icon-overlay">
                    <img src="img/features-4.svg" />
                </div>
                <h6>REO Industry Insights</h6>
                <p>We are at the forefront of the market to keep up with trends, industry insights and pulse of the
                    market.</p>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="icon-overlay">
                    <img src="img/features-5.svg" />
                </div>
                <h6>National REO Data Aggregation</h6>
                <p>We work across all the major geographies, meaning we understand the underlying drivers in the reo
                    markets.</p>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="icon-overlay">
                    <img src="img/features-6.svg" />
                </div>
                <h6>Risk Mitigation and Management</h6>
                <p>We design repeatable growth models and innovation pipelines that generate new products with higher
                    potential and lower risks of failure.</p>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id='contact' class="bg-light-blue">
    <div class="container">
        <div class="blocks align-left row">
            <div class="col-6">
                <img src="img/contact-icon.svg" />
                <h2 class="title">Speak to a National REO <span class='underline'>specialist</span>
                </h2>
                <h5>Would you like to speak to one of our expert National REO advisers over the phone? Just submit your
                    details and we’ll be in touch shortly. You can also email us on the contact page if you would prefer
                    to connect via email.</h5>
            </div>
            <div class="col-6 contact-form">
                <div role="form" class="wpcf7" id="wpcf7-f5-o1" lang="en-US" dir="ltr">
                    <div class="screen-reader-response" aria-live="polite"></div>
                    <form action="/#wpcf7-f5-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                        <div style="display: none;">
                            <input type="hidden" name="_wpcf7" value="5">
                            <input type="hidden" name="_wpcf7_version" value="5.1.8">
                            <input type="hidden" name="_wpcf7_locale" value="en_US">
                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-o1">
                            <input type="hidden" name="_wpcf7_container_post" value="0">
                        </div>
                        <p><span class="fas fa-briefcase"></span><span
                                class="wpcf7-form-control-wrap you-status"><select name="you-status"
                                    class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required"
                                    aria-required="true" aria-invalid="false">
                                    <option value="Please select your occupation">Please select your occupation</option>
                                    <option value="I am a real estate agentbrocker">I am a real estate agentbrocker
                                    </option>
                                    <option value="I am a home seller/buyer">I am a home seller/buyer</option>
                                    <option value="other professional">other professional</option>
                                </select></span></p>
                        <p><span class="fas fa-user"></span><span class="wpcf7-form-control-wrap your-name"><input
                                    type="text" name="your-name" value="" size="40"
                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                    aria-required="true" aria-invalid="false" placeholder="Name"></span></p>
                        <p><span class="fas fa-phone"></span><span class="wpcf7-form-control-wrap your-phone"><input
                                    type="tel" name="your-phone" value="" size="40"
                                    class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                                    aria-required="true" aria-invalid="false" placeholder="Phone number"></span></p>
                        <p><input type="submit" value="GET STARTED" class="wpcf7-form-control wpcf7-submit"><span
                                class="ajax-loader"></span></p>
                        <div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div>
                    </form>
                </div>
                <div class="hover-blocks">
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="blocks-template before_footer">
    <div class="container">
        <div class="blocks align-left row">
            <div class="col-6">
                <img src="img/logo.svg" class="logo" />
                <p>At Nationwide REO Management Services, we believe in the best of market data, human insight and
                    customer support. Our robust platform serves many diverse markets from real estate, to underwriting,
                    appraisals, valuations, capital markets, consulting, and many others. These insights help us
                    identify the right planning and disposition strategies for distressed, uncared for or abandoned
                    properties.</p>
            </div>
            <div class="col-6">
                <img src="img/point-icon.svg" />
                <div class="location">
                    <p>New York Office</p>
                    <p>14 Wall St New York, NY 10005</p>
                    <p>8am to 8pm Monday –Sunday , Closed on Saturday</p>
                    <p>888-536-8466</p>
                </div>
                <div class="location">
                    <p>NJ Office</p>
                    <p>1 Gateway Center Newark NJ 07102</p>
                    <p>8am to 8pm Monday –Sunday , Closed on Saturday</p>
                    <p>888-536-8466</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- partial:index.partial.html -->
//= footer.html
<!-- partial -->