@media only screen and (min-width: 768px) {
}
  
@media only screen and (max-width: 1600px) {
    html {
        font-size: 55%;
    }

}
  
@media only screen and (max-width: 1499px) {
    html {
        font-size: 48%;
    }
    .intro .absolute-block>div .center{
        width: 17rem;
    }
}

@media only screen and (max-width: 1399px) {
    html {
        font-size: 47%;
    }
    .menu-item{
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 1299px) {
    
}

@media only screen and (max-width: 1199px) {
    html {
        font-size: 56%;
    }
}

@media only screen and (max-width: 992px) {
    .menu-item{
        padding: 0 5px;
    }
}

@media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    html {
        font-size: 62.5%;
    }
    header .container>div.menu-mobile{
        display: block;
        width: 30px;
        height: 18px;
        position: relative;
        p {
            position: absolute;
            left: 0;
            width: 30px;
            height: 2px;
            background: #143243;
            border-radius: 1px;
            transition: 0.3s;
            transform-origin: 50% 50%;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                width: 22px;
                top: 8px;
                transition: 0.1s;
            }
            &:nth-child(3) {
                width: 15px;
                bottom: 0;
            }
        }
        &.active {
            p {
                &:nth-child(1) {
                    top: 9px;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    width: 30px;
                    bottom: 7px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
    header .container > div.mobile-open{
        position: absolute;
        top: 7.9rem;
        left: -100vw;
        height: calc(100vh - 7.9rem);
        width: 100vw;
        background: #fff;
        flex-direction: column;
        justify-content: flex-start;
        transition: all 0.5s ease-out;
        .mobile-open{
            width: calc(100% - 6rem) !important;
            padding: 0 3rem 3rem;
        }
    }
    header.active .container > div.mobile-open{
        left: 0;
    }
    header nav{
        height: auto;
        width: 100%;
        margin: 0;
    }
    header .menu{
        width: 100%;
        flex-direction: column;
        padding: 3rem 0;
        .menu-item{
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            a{
                font-size: 14px;
                width: 100%;
                text-align: center;
                padding: 1.5rem 0;
            }
        }
    }
    #contact{
        background: #f9f9f9;
        //border-top: 2px solid #ededed;
    }
    #contact .contact-form{
        padding: 3rem 0 0;
        background: transparent;
        .hover-blocks{
            display: none;
        }
        #contact .contact-form .center-position {
            width: 100%;
        }
    }
    #contact .btn-block, #contact .btn-block a{
        color: #143243;
    }
    #contact .btn-block {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        sapn{
            line-height: 1.3;
            margin-right: 0.7rem;
        }
        a{
            font-size: 2rem;
        }
    }
    footer{
        .logo{
            width: 100%;
            margin-bottom: 4rem;
            img{
                width: 24rem;
            }
        }
        .container{
            padding: 0 3rem;
            width: 100%;
        }
        .footer-contact-info{
            width: 100%;
            padding-bottom: 1rem;
            a{
                font-size: 1.6rem;
                margin-bottom: 2.2rem;
            }
        }
        ul.menu{
            margin-right: 3rem;
            .menu-item{
                padding: 0;
                margin: 0;
                margin-bottom: 2.5rem;
            }
            .menu-item a {
                color: #fff;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 599px) {

}

@media only screen and (max-width: 369px) {

}