$mainBlue: #143243;
$text: #363636;
$blue: #2B98D2;
$red: #F46969;
$sectionUnderline: #95CCE9;
$menuColor: #19465F;
$borderColor: #EEEEEE;

$white: #fff;
$grey: #F9F9F9;

$contentText: 'Montserrat', sans-serif;

$transition: all 0.4s ease-out;


*::-moz-selection {
  color: #007aff;
  background: #fff;
}

*::-webkit-selection,
*::selection {
  color: #007aff;
  background: #fff;
}

html {
  font-size: 62.5%;
  //height: 100%;
  //overflow: hidden;
}
html.scroll {
  overflow-y: auto;
}

body {
  font-family: $contentText;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: none;
  line-height: 1.75;
  color: $text;
  position: relative;
  scrollbar-color: #ffa51e #ff7a00;
  scrollbar-width: thin; 
  &.overflow-menu{
    .scrollbar-dynamic>.scroll-element.scroll-y{
      z-index: -1;
    }
  }
}

/*
html, body{
  width: 100%;
  height: 100%;
}
.body-wrapper {
  height: 100%;
  overflow: auto;
  width: 100%;
}
.body-wrapper.scrollbar-dynamic {
  max-height: none;
}
.scrollbar-dynamic > .scroll-element.scroll-y{
  z-index: 999;
}*/
.page-content{
  padding-top: 110px;
  //position: relative;
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
    padding-top: 130px;
  }
}
/**/

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  z-index: 2;
}
h1 {
  font-family: $contentText;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.46;
  color: $mainBlue;
  margin-bottom: 3rem;
  @media only screen and (max-width: 1499px){
    font-size: 44px;
    line-height: 1.2;
  }
  @media only screen and (max-width: 1399px){
    font-size: 40px;
    line-height: 1.2;
  }
  @media only screen and (max-width: 1199px){
    font-size: 37px;
    line-height: 1.2;
  }
  @media only screen and (max-width: 992px){
    font-size: 35px;
    line-height: 1.1;
  }
}

h2 {
  font-family: $contentText;
  font-size: 32px;
  font-weight: 700;
  text-transform: none;
  line-height: 1.4;
  color: $mainBlue;
  @media only screen and (max-width: 1499px){
    font-size: 26px;
    line-height: 1.2;
  }
  @media only screen and (max-width: 1199px){
    font-size: 23px;
  }
  &.title{
    font-size: 44px;
    font-weight: 600;
    @media only screen and (max-width: 1499px){
      font-size: 40px;
      line-height: 1.2;
    }
    @media only screen and (max-width: 1199px){
      font-size: 35px;
    }
  }
}
h3{
  font-family: $contentText;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.4;
  color: $mainBlue;
  margin-bottom: 3.5rem;
  &.title{
    font-size: 4rem;
    line-height: 1.75;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  &.small-title{
    font-size: 3.2rem;
    line-height: initial;
    margin-bottom: 4rem;
  }
}
h4 {
  font-size: 3.5rem;
  letter-spacing: -0.1rem;
  font-weight: 700;
  line-height: 1.75;
  color: $mainBlue;
}
h5{
  font-size: 18px;
  line-height: 1.66;
  font-weight: 500;
  @media only screen and (max-width: 1199px){
    font-size: 16px;
  }
}
h6{
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  line-height: 1.2;
}
p{
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  color: $text;
}
.blue{
  color: $blue;
}

ul {
  list-style-type: disc;
}

a {
  text-decoration: none;
}

a,
button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

form {
  width: 100%;
  position: relative;
}
form input:not([type='checkbox']),
form input:not([type='radio']),
form input:not([type='file']),
form select,
form textarea {
  width: 100%;
  font-family: $contentText;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: none;
  line-height: 1.8;
  height: 6rem;
  color: #424242;
  background: #fff;
  border: 1px solid #E1F3F9;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 2rem 0 5.5rem;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  &.wpcf7-not-valid{
    border-color: $red;
  }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
    padding: 0 3rem 0 4.5rem;
    height: 5.5rem;
  }
}
form input:not([type='checkbox'])::-moz-placeholder,
form input:not([type='radio'])::-moz-placeholder,
form input:not([type='file'])::-moz-placeholder,
form select::-moz-placeholder,
form textarea::-moz-placeholder {
  color: #424242;
  opacity: 1;
}
form input:not([type='checkbox'])::-ms-input-placeholder,
form input:not([type='radio'])::-ms-input-placeholder,
form input:not([type='file'])::-ms-input-placeholder,
form select::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  color: #424242;
  opacity: 1;
}
form input:not([type='checkbox'])::-webkit-input-placeholder,
form input:not([type='radio'])::-webkit-input-placeholder,
form input:not([type='file'])::-webkit-input-placeholder,
form select::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  color: #424242;
  opacity: 1;
}
form input:not([type='checkbox']):focus::-moz-placeholder,
form input:not([type='radio']):focus::-moz-placeholder,
form input:not([type='file']):focus::-moz-placeholder,
form select:focus::-moz-placeholder,
form textarea:focus::-moz-placeholder {
  opacity: 0;
}
form input:not([type='checkbox']):focus::-ms-input-placeholder,
form input:not([type='radio']):focus::-ms-input-placeholder,
form input:not([type='file']):focus::-ms-input-placeholder,
form select:focus::-ms-input-placeholder,
form textarea:focus::-ms-input-placeholder {
  opacity: 0;
}
form input:not([type='checkbox']):focus::-webkit-input-placeholder,
form input:not([type='radio']):focus::-webkit-input-placeholder,
form input:not([type='file']):focus::-webkit-input-placeholder,
form select:focus::-webkit-input-placeholder,
form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}
form input:not([type='checkbox']).error,
form input:not([type='radio']).error,
form input:not([type='file']).error,
form select.error,
form textarea.error {
  border-color: tomato;
}
form input:not([type='checkbox']).fail,
form input:not([type='radio']).fail,
form input:not([type='file']).fail{
  border-color: tomato;
}
form label {
  font-size: 1.4rem;
  font-weight: 400;
  color: #395159;
  display: block;
  margin-bottom: 1.3rem;
}
form label.error {
  display: none !important;
}
form select {
  background-image: url('../img/select-arrow.svg');
  -webkit-background-size: 1.4rem 1.4rem;
  background-size: 1.4rem;
  background-repeat: no-repeat;
  background-position: right 2.7rem center;
  option {
    padding: 6px 28px 6px 0;
  }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
    background-position: right 1rem center;
  }
}
form textarea {
  height: 22rem;
  padding: 1.5rem 2rem;
}
form input[type='submit'] {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
form{
  p{
    position: relative;
    margin: 0 0 2rem;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      margin-bottom: 0.2rem;
    }
    &:empty{
      margin: 0;
      padding: 0;
    }
    span{
      &.fas{
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
        color: #C4C4C4;
        font-size: 1.4rem;
        line-height: 1.8rem;
        z-index: 2;
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
          font-size: 1.3rem;
          left: 1.5rem;
        }
      }
    }
  }
  span.wpcf7-not-valid-tip {
    color: $red;
    font-size: 1.2rem;
    position: absolute;
    padding-top: 2px;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      font-size: 0.8rem;
      top: -1rem;
      left: 4.5rem;
      padding-top: 0;
    }
  }
  div.wpcf7-response-output {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.6rem;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      font-size: 1.6rem;
      margin-bottom: 15px;
    }
  }
  &>p:last-of-type{
    margin-bottom: 0;
  }
}

.btn {
  font-family: $contentText;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 6.8rem;
  display: inline-block;
  height: 7rem;
  text-align: center;
  min-width: 25.5rem;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0 2.5rem;
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: 0 7px 10px rgba(0, 199, 180, 0.1);
  @media only screen and (max-width: 1399px){
    padding: 0 1rem;
    font-size: 16px;
    height: 6rem;
    line-height: 5.8rem;
  }
  &-img{
    min-width: 16rem;
    height: 4rem;
    font-size: 14px;
    line-height: 3.8rem;
    box-shadow: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    letter-spacing: 1.5px;
    @media only screen and (max-width: 992px){
      font-size: 10px;
      min-width: 14rem;
      padding: 0 5px;
    }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      min-width: 30rem;
      height: 5rem;
      line-height: 4.8rem;
      margin-bottom: 2rem;
      font-size: 16px;
    }
    i{
      font-size: 1.6rem;
      line-height: 1.6rem;
      margin-right: 1.2rem;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        font-size: 1.6rem;
      }
    }

  }
  &-small{
    font-weight: 600;
    font-size: 8px;
    line-height: 1.8rem;
    min-width: 7rem;
    height: 2rem;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto;
  }
  &-blue {
    color: #fff;
    background: #2D97D3;
    border-color: #2D97D3;
    &:hover {
      border-color: #71c2f0;
      background: #71c2f0;
    }
  }
}
.btn-border-blue:hover{
  color: #fff;
  &:before{
    color: #fff;
  };
}
.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
  text-decoration: none;
}

/*
.underline, .subtitle{
  position: sticky;
  display: inline-block;
  &.align-center{
    text-align: center;
  }
  p, span{
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
  }
  & > p div{
    display: inline-block !important;
    margin-right: 7px;
    position: relative;
    &:after{
      //width: 0;
      width: 100%;
      height: 10px;
      position: absolute;
      left: 0;
      bottom: 5px;
      content: '';
      display: inline-block; 
      display: none;
      background: #95CCE9;
      z-index: -1;
      transition: all 0.6s ease-out;
    }
  }
  
}
span.underline{
  display: inline-block !important;
  margin-right: 7px;
  position: relative;
  &:after{
    //width: 0;
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: inline-block; 
    display: none;
    background: #95CCE9;
    z-index: -1;
    transition: all 0.6s ease-out;
  }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
    &:after{
      bottom: 3px;
    }
  }
}
h2.underline{
  div{
    &:after{
      bottom: 4px;
    }
  }
  &.small-title{
    div{
      &:after{
        bottom: 7px;
      }
    }
  }
}
.small-title{
  &:after{
    bottom: 2px;
  }
}
*/

ul.menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu-item{
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          height: 100%;
          padding: 0 1rem;
          margin-left: 0.4rem;
          @media only screen and (max-width: 992px){
            padding: 0 5px;
          }
  a{
    display: block;
    position: relative;
    font-family: $contentText;
    font-weight: 600;
    font-size: 16px;
    line-height: initial;
    padding: 2rem 0;
    @media only screen and (max-width: 1399px){
      font-size: 15px;
    }
    @media only screen and (max-width: 1199px){
      font-size: 14px;
    }
    @media only screen and (max-width: 992px){
      font-size: 11px;
    }
  }

}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  background-color: $grey;
  border-bottom: 1px solid $borderColor;
  .top_line{
    background-color: $mainBlue;
    .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        height: 50px;
        flex-direction: column;
        padding: 4px 0;
      }
    }
    p, a{
      font-size: 12px;
      line-height: 2;
      font-weight: 600;
      color: $white;
      @media only screen and (max-width: 992px){
        font-size: 11px;
      }
    }
  }
  &>.container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
            height: 80px;
      & > div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        &.menu-mobile{
          display: none;
        }
      }
  }
  .logo{
    position: relative;
    @media only screen and (max-width: 1199px){
      max-width: 200px;
    }
    @media only screen and (max-width: 992px){
      max-width: 135px;
    }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      max-width: 180px;
    }
    svg{
      height: 2.5rem;
      width: auto;
      transition: all 0.3s ease-out;
      .hidden-part{
        transition: all 0.3s ease-out;
      }
    }
    a{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
  nav{
    height: 100%;
    margin-right: 2rem;
    @media only screen and (max-width: 992px){
      margin-right: 1rem;
    }
  }
  .menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    height: 100%;
    .menu-item{
      a{
        color: $menuColor;
      }
      &:after{
        position: absolute;
        content: '';
        left: 50%;
        bottom: -2px;
        transform: translateX(-50%);
        width: 0;
        height: 4px;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        background: $blue;
        transition: all 0.3s ease 0s;
      }
      &:hover{
        &:after{
          width: 2.6rem;
        }
      }
    }
  }  
  &.sticky{
    @media (min-height: 499px) and (min-width: 899px), (min-width: 767px) {
    svg{
      height: 3.5rem;
      .hidden-part{
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  }
}

.bg-grey{
  background-color: $grey;
}

.intro{
  position: relative;
  min-height: calc(100vh - 11rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
   min-height: 0;
  }
  .container{
    position: relative;
    z-index: 2;
  }
  .content{
    width: 51%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 9rem;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      width: 100%;
      margin: 9rem 0;
    }
    @media only screen and (max-width: 499px){
      .btn{
        width: 100%;
      }
    }
  }
  h1{
    margin-bottom: 7rem;
    @media only screen and (max-width: 1399px){
      margin-bottom: 5rem;
    }
  }
  .absolute-block{
    position: absolute;
    width: 50%;
    height: 100%;
    padding-top: 5rem;
    right: 0;
    z-index: 1;
    padding-left: 15px;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      display: none;
    }
    &>div{
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      .left{
        position: absolute;
        top: 9rem;
        z-index: 2;
        max-width: 33vw;
      }
      .right{
        position: absolute;
        right: 0;
        z-index: 1;
        max-width: 25vw;
      }
      .center{
        position: absolute;
        left: 52%;
        top: 4rem;
        z-index: 3;
        width: 20rem;
      }
    }
  }
  & + section{
    padding-top: 16rem;
    @media only screen and (max-width: 1399px){
      padding-top: 12rem;
    }
    @media only screen and (max-width: 1199px){
      padding-top: 8rem;
    }
  }
}
.blocks-template{
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7.5rem;
  @media only screen and (max-width: 1399px){
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .blocks{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 8rem;
    @media only screen and (max-width: 1499px){
      margin-bottom: 6rem;
    }
    @media only screen and (max-width: 1199px){
      margin-bottom: 4.5rem;
    }
    &.align-center{
      &>div{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      *{
        text-align: center;
      }
    }
    &.align-left{
      &>div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 4rem;
      }
      *{
        text-align: left;
      }
      .icon-overlay{
        //margin: 0 auto;
        margin-bottom: 2.5rem;
      }
    }
    &>.col-3{
      position: relative;
      width: calc((100% - 6rem) / 3);
      padding: 4rem 2.5rem 3.5rem;
      border-radius: 5px;
      cursor: pointer;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        width: 100%;
        max-width: 350px;
      }
      svg{
        overflow: hidden;
      }
      .icon-overlay{
        .hover-blocks{
          div > div{
            opacity: 1;
          }
        }
      }
      @media only screen and (min-width: 768px) {
        svg g path.dots{
        &:nth-child(1){
          animation: evenDots 1.5s linear infinite;
        }
        &:nth-child(2){
          animation: evenDots 1.7s linear infinite;
        }
        &:nth-child(3){
          animation: evenDots 1.9s linear infinite;
        }
        &:nth-child(4){
          animation: evenDots 2.1s linear infinite;
        }
        &:nth-child(5){
          animation: evenDots 2.3s linear infinite;
        }
        &:nth-child(6){
          animation: evenDots 2.5s linear infinite;
        }
        &:nth-child(1n){
          animation-play-state: paused;
        }
        }
      }
      
      &:hover{
        .hover-blocks div > div{
          @media only screen and (min-width: 768px) {
            opacity: 1;
          }
          
        }
        svg g path.dots{
          &:nth-child(1n){
            animation-play-state: running;
          }
        }
      }
    }
    .icon-overlay{
      position: relative;
      height: 10rem;
      width: 10rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 4rem;
        .hover-blocks{
          div{
            &>div{
              box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);
              &:nth-child(2){
                bottom: -8px;
              }
              &:nth-child(3){
                bottom: -16px;
              }
            }
          }
        }
    }
    h6{
      margin-bottom: 15px;
    }
    h2{
      margin-bottom: 25px;
    }  
    p{
      color: #636A75;
    }
  }
  &.blocks-template-arrown{
    h5{
      margin-bottom: 5.5rem;
    }
    h6{
      font-size: 2.3rem;
      margin-bottom: 2rem;
    }
    .blocks > div{
      padding: 0;
      p{
        width: 90%;
      }
      .arrown{
        position: absolute;
        right: 0;
        top: 3.5rem;
        width: 65%;
        height: 2.5rem;
        overflow: hidden;
        filter: grayscale(1);
        opacity: 0.2;
        transition: all 0.2s linear;
        &:after{
          position: absolute;
          right: 0;
          width: 100%;
          height: 100%;
          content: '';
          background: url('../img/arrow.svg') center center/contain no-repeat;
        }
      }
      .icon-overlay{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
                align-items: center;
                margin-bottom: 5rem;
        svg{
          max-width: 5rem;
          max-height: 5rem;
        }
      }
      &:last-of-type{
        .arrown:after{
          display: none;
        }
      }
    }
  }
}
.hover-blocks{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  div{
    position: relative;
    width: 100%;
    height: 100%;
    & > div{
      position: absolute;
      background: #FFFFFF;
      box-shadow: 0px 15px 24px rgba(64, 90, 128, 0.05);
      border-radius: 5px;
      opacity: 0;
      transition: all 0.3s linear;
      &:nth-child(1){
        z-index: 3;
      }
      &:nth-child(2){
        bottom: -5%;
        z-index: 2;
        transform:  scale(0.95);
      }
      &:nth-child(3){
        bottom: -10%;
        z-index: 1;
        transform:  scale(0.9);
      }
    }
  }
  &.hover{
    div > div{
      @for $i from 1 to 5 {
        &:nth-of-type(#{$i}) {
          opacity: 1;
          transition-delay: $i * 0.2s;
        }
      }
    }
  }
  &.leave{
    div > div{
      &:nth-of-type(3) {
        opacity: 0;
        transition-delay: 0.2s;
      }
      &:nth-of-type(2) {
        opacity: 0;
        transition-delay: 0.4s;
      }
      &:nth-of-type(1) {
        opacity: 0;
        transition-delay: 0.6s;
      }
    }
  }
}
.row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
          flex-wrap: wrap;
          &_left{
            flex-direction: row-reverse;
          }
  .col-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc((100% - 4rem) / 2);
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      width: 100%;
      max-width: 350px;
      margin: 0 auto 2rem;
    }
    &.block_text{
      position: relative;
      padding: 0 10.5rem;
      min-height: 38rem;
      width: 53%;
      @media only screen and (max-width: 1399px){
        padding: 0 7rem;
        min-height: 30rem;
      }
      @media only screen and (max-width: 1199px){
        padding: 0 4rem;
      }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        width: 100%;
        max-width: 400px;
      }
      .hover-blocks div > div{
        opacity: 1;
      }
    }
    &.block_picture{
      width: 44%;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        width: 100%;
        max-width: 350px;
        padding: 3rem 3rem 0;
      }
    }
    & > p{
      margin-bottom: 2rem;
      line-height: 1.75;
      br{
        display: none;
      }
      span:not(.underline){
        font-weight: 500;
      }
    }
    & > h6{
      width: 80%;
      padding: 2rem 0 2.4rem;
      font-size: 2.4rem;
      line-height: 1.5;
      font-weight: 600;
      position: relative;
      color: $mainBlue;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        width: 100%;
        font-size: 2rem;
        padding: 1rem 0 1.5rem;
      }
      &::after{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 17.5rem;
        height: 1px;
        background: #314C5A;
      }
    }
  }
  &:hover{
    .hover-blocks div > div{
      @media only screen and (min-width: 768px) {
        opacity: 1;
      }
    }
  }
}
.center-position{
  max-width: 57rem;
  margin: 0 auto 30px;
  *{
    text-align: center;
  }
  &.full-width{
    width: 100%;
  }
}

section.bg-blue{
  position: relative;
  padding-top: 17.5rem;
  padding-bottom: 24rem;
  background: transparent;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  .container{
    position: relative;
    z-index: 2;
  }
  .btn{
    &:hover{
      border-color: #fff;
      color: #fff;
    }
  }
  &.animated{
    background: $mainBlue;
  }
}
.bg-light-blue{
  background: $blue;
  /*background: transparent;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  &.animated{
    background: $blue;
  }*/
}
.bg-light{
  background: #F9F9F9;
  position: relative;
  .absolute-elements{
    &.bg-blue-elements .circle.big {
      width: 8rem;
      height: 8rem;
      top: initial;
      right: -2%;
      left: initial;
      bottom: 11%;
      opacity: 0.6;
    }
  }
  .container{
    position: relative;
    z-index: 2;
  }
}
.bg-light{
  ul{
    margin: 1rem 0 5rem;
    padding: 3rem 3.5rem 3.5rem;
    position: relative;
    &:before, &:after{
      position: absolute;
      width: 100%;
      height: 1px;
      background: rgba(0,0,0,0.4);
      left: 0;
      content: '';
      display: block;
    }
    &:before{
      top: 0;
    }
    &:after{
      bottom: 0;
    }
    li{
      text-align: left;
      margin-bottom: 1.5rem;
      &:last-of-type{
        margin-bottom: 0;
      }
      &:before{
        color: $text;
      }
    }
  }
}
.bg-blue{
  padding: 17rem 0 24rem;
  *:not(.btn){
    color: #fff !important;
  }
  ul{
    margin: 4rem 0 6rem;
    padding: 4rem 3.5rem 4.5rem;
    position: relative;
    &:before, &:after{
      position: absolute;
      width: 100%;
      height: 2px;
      background: rgba(255,255,255,0.3);
      left: 0;
      content: '';
      display: block;
    }
    &:before{
      top: 0;
    }
    &:after{
      bottom: 0;
    }
    li{
      text-align: left;
      margin-bottom: 1.5rem;
      &:last-of-type{
        margin-bottom: 0;
      }
      &:before{
        color: #fff;
      }
    }
  }
  h2{
    div:after{
      background: #2B98D2;
    }
  }
}
#contact{
  padding: 14rem 0 19rem;
  position: relative;
  @media only screen and (max-width: 1399px){
    padding: 10rem 0 12rem;
  }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
    padding: 7rem 0 5rem;
  }
  .container{
    position: relative;
    z-index: 2;
  }
  .col-6{
    max-width: 44.5rem;
    &>*{
    color: $white;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      color: $mainBlue;
    }
    }
  }
  img{
    max-width: 11rem;
    margin-bottom: 3.5rem;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      display: none;
    }
  }
  h2{
    margin-bottom: 4rem;
    max-width: 31rem;
  }
  .contact-form{
    position: relative;
    max-width: 58rem;
    background: #fff;
    padding: 6rem 6rem 4rem;
    border-radius: 10px;
    margin-bottom: 7.5rem;
    @media only screen and (max-width: 1399px){
      padding: 5rem;
    }
    @media only screen and (max-width: 1199px){
      padding: 4rem;
    }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      margin-bottom: 0;
    }
    .center-position{
      width: 75%;
      min-width: 50rem;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        min-width: 100%;
        width: 100%;
      }
    }
    h3.small-title{
      margin-bottom: 3rem;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        margin-bottom: 1rem;
      }
    }
    h5{
      font-size: 1.8rem;
      line-height: 1.6;
      font-weight: 500;
      margin-bottom: 3.5rem;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
      }
      br{
        display: none;
      }
    }
    input[type=submit]{
      display: inherit;
      margin: 0 auto;
      margin-top: 2rem;
      font-family: $contentText;
      font-size: 2rem;
      font-weight: 700;
      text-transform: capitalize;
      line-height: 6.8rem;
      height: 7rem;
      text-align: center;
      width: 100%;
      border-width: 1px;
      border-style: solid;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      padding: 0 1.5rem;
      text-decoration: none;
      -webkit-box-shadow: none;
      box-shadow: 0 7px 10px rgba(0, 199, 180, 0.1);
      color: #fff;
      //background: #00D4C0;
      //border-color: #00D4C0;
      background: #2D97D3;
      border-color: #2D97D3;
      margin-top: 5rem;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        font-size: 1.8rem;
        width: 100%;
      }
    &:after{
      content: '\f061';
      position: relative;
      display: inline-block;
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-weight: 900;
      font-size: 2rem;
      line-height: 1;
      margin-left: 1rem;
      color: #fff;
      display: none;
    }

      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        margin-top: 0.5rem;
        line-height: 5.8rem;
        height: 6rem;
      }
      &:hover {
        //background: #01a898;
        //border-color: #01a898;
        border-color: #71c2f0;
        background: #71c2f0;
        //color: #007aff;
      }
    }
    .flex{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      p{
        width: calc((100% - 2rem) / 2);
      }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        p{
          width: 100%;
        }
      }
    }



  }
  .hover-blocks{
    div > div{
      opacity: 1;
    }
  }
}

.before_footer{
  padding: 14rem 0 3rem;
  @media only screen and (max-width: 1499px){
    padding: 12rem 0 3rem;
  }
  @media only screen and (max-width: 1199px){
    padding: 8rem 0 1rem;
  }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
    padding: 6rem 0 0;
  }
  .blocks{
    align-items: flex-start;
    &.align-left>div{
    padding-top: 0;
  }
}
  .col-6{
    padding-right: 10rem;
    @media only screen and (max-width: 1399px){
      padding-right: 7rem;
    }
    @media only screen and (max-width: 1199px){
      padding-right: 4rem;
    }
  }
  img{
    margin-left: -30px;
    margin-bottom: 13px;
  }
  .logo{
    margin: 2.3rem 0 3.5rem;
  }
  .location{
    margin-bottom: 3rem;
    @media only screen and (max-width: 1199px){
      margin-bottom: 2em;
    }
    p{
      font-size: 16px;
      @media only screen and (max-width: 1199px){
        font-size: 14px;
      }
      &:first-of-type{
        font-weight: 600;
      }
    }
  }
}
footer{
  background: $mainBlue;
  padding: 24px 0;
  *{
    color: #fff;
  }
  .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 10px;
    @media only screen and (max-width: 599px){
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .logo{
    img{
      width: 21rem;
      height: auto;
    }
  }
  .menu{
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      column-count: 3;
      display: block;
    }
    @media only screen and (max-width: 599px){
      column-count: 2;
    }
    .menu-item{
      a{
        font-weight: 400;
        text-transform: capitalize;
        padding: 0;
        color: #fff;
        line-height: initial;
        @media only screen and (max-width: 1199px){
          font-size: 13px;
        }
        &:hover{
          color: $blue;
        }
      }
    }
  }
  h5{
    font-size: 16px;
    font-weight: 600;
    @media only screen and (max-width: 1199px){
      font-size: 14px;
    }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      align-self: flex-start;
    }
    @media only screen and (max-width: 599px){
      margin-bottom: 3rem;
    }
  }
  p.copyright{
    width: 100%;
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    padding-top: 24px;
    text-align: left;
    border-top: 1px solid rgba(255,255,255,0.3);
    margin-top: 24px;
    a{
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
      text-decoration: underline;
      transition: all 0.3s ease-in-out;
      &:hover{
        color: $blue;
      }
    }
  }
}





@keyframes evenDots{
  0%{ transform: translateY(35px); opacity: 0;}
  50%{ transform: translateY(0); opacity: 1;}
  100%{ transform: translateY(-35px); opacity: 0; }
}
@keyframes scaleB{
  0%{ transform: scale(1)}
  50%{ transform: scale(1.3) }
  100%{ transform: scale(1) }
}
@keyframes scaleS{
  0%{ transform: scale(1)}
  50%{ transform: scale(0.8) }
  100%{ transform: scale(1) }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #f9faff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s cubic-bezier(1, 0.01, 1, 0.85);
  &.hidden {
    transform: translateX(-100vw);
  }
  .bubbles {
    position: relative;
    .bubble {
      display: inline-block;
      padding: 0px 5px;
      @for $i from 1 to 11 {
        &:nth-of-type(#{$i}) .circle {
          animation-delay: $i * 0.1s;
        }
      }
      .circle {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background: $mainBlue;
        animation: pulse 1.5s infinite;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.2);
    opacity: 0.75;
  }
  100% {
    transform: scale(1);
  }
}



/*about-page*/
.about-page, .page-default-template{
  
}

section.blocks-template.about-intro{
  padding: 21rem 0 17rem;
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    padding: 12rem 0;
  }
  .absolute-elements .arrow.small{
    left: initial;
    right: 6.5%;
    top: 19.5%;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      top: 15%;
    }
    img{
      width: 3rem;
      height: 3rem;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  .absolute-elements .arrow.big{
    right: 10%;
    top: 11%;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      right: -4%;
    }
  }
  .blocks .icon-overlay{
    width: 12.5rem;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      width: 10.5rem;
      height: 8.5rem;
    }
  }
}
section.why-conversion{
  padding: 13.5rem 0 12.5rem;
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
    padding: 11rem 0 13rem;
  }
    h3{
      margin-bottom: 0;
    }
  .row{
    -webkit-box-align: start;
    -ms-flex-align: start;
        align-items: flex-start;
    padding-top: 1.5rem;
  }
  .absolute-elements.bg-blue-elements {
    .lines {
      position: absolute;
      top: 17%;
      right: 10%;
      left: initial;
      img{
        width: 65px;
      }
    }
    .circle.small{
      right: initial;
      left: 6%;
      top: 50%;
      opacity: 1;
    }
    .arrow.small{
      right: initial;
      left: 12%;
      opacity: 0.8;
      top: initial;
      bottom: 27%;
      width: 4rem;
      height: 4rem;
    }
  }
  &+#testimonials{
    padding: 14rem 0;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      padding: 11rem 0 5rem;
    }
    .row{
      padding: 3rem 0;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        padding: 0;
      }
    }
    .absolute-elements .circle{
      right: initial;
      left: -2%;
      top: 46%;
      
      img{
        width: 8.5rem;
        height: 8.5rem;
      }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        left: -8%;
        img{
          width: 5.5rem;
          height: 5.5rem;
        }
      }
    }
  }
}
section.see-features{
  padding: 15rem 0;
  .container svg{
    height: 9.5rem;
  }
  h3{
    margin-bottom: 7rem;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      text-align: center;
      margin-bottom: 5rem;
    }
  }
  .absolute-elements .comment-icon {
    position: absolute;
    top: 18.5%;
    left: 12%;
  }
  .absolute-elements .lines {
    position: absolute;
    top: 60%;
    right: 17.5%;
    img{
      width: 6.5rem;
    }
  }
  .absolute-elements .circle {
    position: absolute;
    top: 37%;
    right: 8%;
  }
}
section.bg-dark-blue{
  background: $mainBlue;
  border-bottom: 1px solid #FFFFFF;
  padding: 10rem 0 8rem;
  &#vertical_steps{
    padding: 13rem 0 2rem;
  }
  &:nth-of-type(5){
    border-bottom: none;
    padding-bottom: 14rem;
  }
  *{
    color: #fff;
  }
  h3.small-title{
    font-size: 3.4rem;
    line-height: 1.5;
    margin-bottom: 5rem;
    @media only screen and (max-width: 1199px){
      font-size: 2.7rem;
      margin-bottom: 3rem;
    }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      font-size: 2.3rem;
    }
  }
  h5{
    margin-bottom: 0;
    font-size: 2.4rem;
    line-height: 1.125;
    font-weight: 600;
    @media only screen and (max-width: 1199px){
      font-size: 2.2rem;
    }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      font-size: 1.8rem;
    }
  }
  .row{
    flex-direction: row-reverse;
    .col-4{
      max-width: 38rem;
      h5{
        font-size: 2.6rem;
        line-height: 1;
        margin-bottom: 2.5rem;
      }
    }
    .col-8{
      max-width: calc(100% - 38rem - 5rem);
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        max-width: 100%;
        margin-top: 4rem;
      }
    }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      &.left{
        flex-direction: column-reverse;
      }
      &.right{
        flex-direction: column;
      }
    }
  }
}

#features.features-page {
  padding: 8rem 0;
  @media only screen and (max-width: 1199px){
    //padding: 4rem 0 8rem;
  }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
    //padding-top: 0;
  }
  .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    @media only screen and (max-width: 992px){
      flex-direction: column;
    }
    &>div{
      width: 49%;
      overflow-x: hidden;
      @media only screen and (max-width: 1199px){
        width: 52%;
      }
      @media only screen and (max-width: 992px){
        width: 100%;
        margin-top: 4rem;
      }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        overflow-x: visible;
      }
      &.left-position{
        overflow: hidden;
      }
      &:first-of-type{
        width: calc(51% - 4rem);
        padding-top: 21rem;
      
        @media only screen and (max-width: 1199px){
          width: calc(48% - 4rem);
        }
        @media only screen and (max-width: 992px){
          width: 100%;
          padding-top: 0;
          margin-bottom: 4rem;
        }
        
      }
      &:last-of-type{
        position: relative;
        &:after{
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
        }
      }
      & > .blocks{
        position: relative;
        z-index: -1;
        width: calc(100% + 17px);
        margin-right: -17px;
        display: flex;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        max-height: calc(100vh - 8rem);
        overflow: hidden;
        overflow-y: scroll;
        padding: 9rem 0;
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
          flex-direction: column;
          max-height: initial;
          overflow: visible;
          width: 100%;
          margin: 0;
          padding: 0;
        }
        .blocks-overlay{
          width: calc((100% - 3.7rem) / 2);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          padding: 0; 
          padding-top: 1.5rem;

          &:nth-child(2){
            margin-right: 0;
            padding-top: 13rem;
            //padding-bottom: 9rem;
            @media only screen and (max-width: 992px){
              padding-top: 0;
            }
          }
          @media only screen and (max-width: 992px){
            width: auto;
            flex-wrap: nowrap;
          }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
            flex-wrap: wrap;
            justify-content: center;
          }
            &>div:last-of-type{
              opacity: 0;
              @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
                opacity: 1;
              }
            }
          &:nth-child(2){
            &>div:nth-child(2){
              opacity: 0.2;
              @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
                opacity: 1;
              }
            }
          }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
            &.align-left{
              &>div{
                display: flex;
                flex-direction: column;
                align-items: center;
              }
              h6, p{
                text-align: center;
              }
            }
          }
          
          &>div{
            position: relative;
            max-width: 27.5rem;
            padding: 4.5rem 2rem;
            border-radius: 5px;
            margin-bottom: 8rem;
            &:last-of-type{
              margin-bottom: 15rem;
              @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
                margin-bottom: 8rem;
              }
            }
            @media only screen and (max-width: 992px){
              max-width: calc((100vw - 9rem) / 3);
              padding: 4rem 2rem;
              margin-right: 1.5rem;
            }
            @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
              width: 100%;
              max-width: 40rem;
              margin-right: 0;
              margin-bottom: 5rem;
            }
            &:last-of-type{
              //margin-bottom: 0;
              @media only screen and (max-width: 992px){
                //margin-bottom: 5rem;
              }
            }
            *{
              position: relative;
              z-index: 2;
            }
            .hover-blocks{
              width: 100%;
              height: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 1;
              div{
                position: relative;
                width: 100%;
                height: 100%;
                &>div{
                  opacity: 1;
                  position: absolute;
                  background: #FFFFFF;
                  box-shadow: 10px 6px 20px rgba(0, 0, 0, 0.05);
                  border-radius: 5px;
                  &:nth-child(1){
                    z-index: 3;
                  }
                  &:nth-child(2){
                    //background: #EDF8FB;
                    bottom: -5%;
                    z-index: 2;
                    transform:  scale(0.95);
                  }
                  &:nth-child(3){
                    //background: #A1E0E6;
                    bottom: -10%;
                    z-index: 1;
                    transform:  scale(0.9);
                  }
                }
              }
            }
          }
          .icon-overlay{
            position: relative;
            height: 7.5rem;
            width: 11rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
            -ms-flex-align: end;
              align-items: flex-end;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              margin-bottom: 1rem;
          }
          h6{
            max-width: 99%;
            font-family: $contentText;
            font-weight: 600;
            font-size: 2.2rem;
            line-height: initial;
            color: $mainBlue;
            margin-bottom: 1rem;
          }
          &:last-of-type > div{
            margin-right: 0;
          }
        }
      }
      
    }
    h3{
      text-transform: initial;
      margin-bottom: 2.5rem;
      @media only screen and (max-width: 1199px){
        margin-bottom: 1.5rem;
      }
    }
    h5{
      font-weight: 400;
      margin-bottom: 5rem;
      @media only screen and (max-width: 1199px){
        margin-bottom: 3.5rem;
      }
      &.title{
        font-weight: 600;
      }
    }
  }
  .absolute-elements {
    .comment-icon{
      top: 37.5%;
      left: 5%;
      img{
        width: 6.5rem;
      }
    }
    .lines{
      top: 24%;
      right: 6%;
      img{
        width: 5rem;
      }
    }
    .arrow.small{
      left: 12.5%;
      top: 54%;
    }
     .circle, .arrow.big{
      display: none;
    }
  }
}


.btn-border-blue {
	border: 2px solid #2D97D3;
    background: transparent;
	color: #2B98D2;
    font-size: 2rem;
    font-weight: 700;
}
.phone-btn:before {
	content: '\f879';
	position: relative;
	display: inline-block;
	font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 20px;
    margin-right: 1rem;

/* blue */

color: #2B98D2;
/*transform: matrix(-1, 0, 0, 1, 0, 0);*/
	}
@media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
    .btn-border-blue{
      font-size: 1.8rem;
        background: #ffa51e;
        color: #fff;
        border-color: #ffa51e;
    }
    .btn-border-blue:hover{
            border-color: #ff7a00;
            background: #ff7a00;
        }
    .phone-btn:before {
        color: #fff;
    }
}

.phone-btn:after{
    display: none
}



::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:10px;
  height:0px
  }
  
  ::-webkit-scrollbar-track {
  background-color: #eef0f1;
  }
  
  ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color:#d0d0d0;
  cursor: pointer;
  }
  
  ::-webkit-scrollbar-thumb:hover{
  background-color: #959595;
  cursor: pointer;
  }
  
  ::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:14px;
  height:0px
  }
  
  ::-webkit-scrollbar{
  width: 14px;
  }

section.blocks-template.blog{
  padding: 12.5rem 0 8rem;
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
    padding: 12rem 0 8rem;
    h1{
      text-align: center;
    }
  }
  .blocks{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      width: calc(100% + 2rem);
      margin-left: -1rem;
    }
    & > div{
      width: calc((100% - 9rem) / 3);
      margin: 0 1.5rem 6.4rem;
      padding: 0;
      cursor: pointer;
      position: relative;
      &>a{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 1;
      }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        width: calc((100% - 6rem) / 3);
        margin: 0 1rem 4rem;
      }
      @media only screen and (max-width: 599px){
        width: 100%;
      }
      .pic{
        width: 100%;
        padding-top: 71%;
        background-position: center center;
        background-size: cover;
        border-radius: 5px;
      }
      .content{
        padding: 2.5rem 4rem 3rem 3.5rem;
        @media only screen and (max-width: 1199px){
          padding: 2rem 0;
        }
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
          //width: 50%;
        }
        h5 {
          font-size: 2.2rem;
          line-height: 1.3;
          font-weight: 600;
          margin-bottom: 1.7rem;
          color: $mainBlue;
          &::first-letter{
            text-transform: uppercase;
          }
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
            font-size: 1.8rem;
            margin-bottom: 1rem;
          }
        }
        .additional-info{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          div{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
          }
          p{
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.2;
            margin-bottom: 0;
            color: $text;
          }
          .icon{
            display: inline-block;
            &.calendar{
              margin-right: 1.5rem;
              width: 23px;
              height: 19px;
              background: url(../img/calendar.svg) center center/cover no-repeat;
            }
            &.show{
              width: 26px;
              height: 17px;
              background: url(../img/show.svg) center center/cover no-repeat;
              margin-right: 1rem;
            }
          }
        }
      }
      
      &.full-width{
        width: 100%;
        display: flex;
        margin-bottom: 3rem;
        @media only screen and (max-width: 599px){
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          margin-bottom: 4rem;
        }
        .pic{
          width: 65%;
          padding-top: 40%;
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
            width: 50%;
          }
          @media only screen and (max-width: 599px){
            width: 100%;
            padding-top: 71%;
          }
        }
        .content{
          width: 35%;
          padding: 2.3rem 0 4.9rem 3rem;
          @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
            width: 50%;
            padding: 1rem 0 1rem 2rem;
          }
          @media only screen and (max-width: 599px){
            width: 100%;
            padding: 2rem 0;
          }
          h5{
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.4;
            margin-bottom: 2.5rem;
            @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
              font-size: 2.8rem;
              line-height: 1.3;
              margin-bottom: 2rem;
            }
          }
          &>p{
            font-size: 2rem;
            line-height: 1.75;
            margin-bottom: 4rem;
            @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
              font-size: 1.8rem;
              line-height: 1.5;
              margin-bottom: 3rem;
            }
          }
          .additional-info{
            margin-bottom: 1rem;
            .views{
              display: none;
            }
          }
        }
      }
    }
  }
  .absolute-elements {
    .comment-icon {
      left: 3rem;
      top: 45%;
      img{
        width: 6.5rem;
      }
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        left: 0;
      }
    }
    .arrow.big{
      right: initial;
      top: 60%;
      left: 10%;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        left: 5%;
      }
      img{
        width: 3rem;
      }
    }
    .lines.big{
      top: 25%;
      right: 5%;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        right: 2%;
      }
      img{
        width: 5rem;
      }
    }
  }

}

.btn-arrow{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.8rem;
  line-height: 0.66;
  color: $mainBlue;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  &-right{
    i{margin-left: 1.5rem;}
  }
  &-left{
    i{margin-right: 1.5rem;}
  }
  i{
    color: $mainBlue;
    transition: all 0.3s ease-in-out;
  }
  span{
    display: inline-block;
    background: url(../img/arrow-small.svg) center center/cover no-repeat;
    width: 26px;
    height: 13px;
    margin-left: 1.5rem;
    transition: all 0.3s ease-in-out;
  }
  &:hover{
    color: $blue;
    &-right{
      i{margin-left: 2rem;}
    }
    &-left{
      i{margin-right: 2rem;}
    }
    span, i{
      color: $blue;
    }
  }
}
.container-small{
  max-width: 79rem;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  @media only screen and (max-width: 1199px){
    padding: 0 3rem;
  }
  
}
section.article{
  padding: 15rem 0 8rem;
  @media only screen and (max-width: 1199px){
    padding: 14rem 0 8rem !important;
  }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
    padding: 12rem 0 8rem !important;
  }
  .center-position{
    width: 100%;
    margin-bottom: 5rem;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      margin-bottom: 4rem;
    }
    p{
      font-weight: 500;
      margin-bottom: 1.7rem;
    }
    h3.title{
      line-height: 1.5;
    }
  }
  .absolute-elements {
    .comment-icon {
      left: 3rem;
      top: 9%;
      opacity: 0.6;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        left: -1rem;
      }
      &.right{
        bottom: 15%;
        top: initial;
        right: 10%;
        left: initial;
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
          right: -5%;
        }
      }
      img{
        width: 6.5rem;
      }
    }
    .arrow.big{
      right: initial;
      top: 12%;
      left: 10%;
      img{
        width: 3rem;
      }
      &.right{
        top: initial;
        left: initial;
        right: 5%;
        bottom: 12%;
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
          right: 1%;
          img{
            width: 2rem;
          }
        }
      }
    }
    .lines.big{
      top: 7%;
      right: 5%;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        top: 20%;
        right: 0;
        display: block;
      }
      img{
        width: 5rem;
      }
      
    }
    .circle{
      bottom: 20%;
      right: initial;
      left: 5%;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        left: 2%;
      }
    }
  }
}
.single-content{
  div{
    font-size: 2rem;
    line-height: 1.75;
    font-weight: 400;
    color: $text;
  }
  p{
    font-size: 2rem;
    line-height: 1.75;
    font-weight: 400;
    color: $text;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      font-size: 1.8rem;
      line-height: 1.5;
    }
    strong{
      font-weight: 500;
    }
  }
  a{
    color: $blue;
  }
  & > p{
    margin-bottom: 2.5rem;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      margin-bottom: 1.5rem;
    }
    &:first-of-type, &:first-of-type + p{
      color: $mainBlue;
      font-weight: 500;
    }
    &:first-of-type::first-letter{
      font-size: 12rem;
      font-weight: 700;
      line-height: 10rem;
      float: left;
      padding-right: 3rem;
      @media only screen and (max-width: 1199px){
        font-size: 9rem;
        line-height: 6rem;
        padding-right: 2rem;
      }
    }
  }
  h3{
    font-size: 2.2rem;
    line-height: 1.6;
    font-weight: 600;
    margin-bottom: 2.5rem;
    margin-top: 5rem;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      font-size: 2rem;
      line-height: 1.5;
    }
  }
  figure{
    width: calc(100% + 20rem);
    margin-left: -10rem;
    margin-top: 6rem;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      width: 100%;
      margin-left: 0;
    }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      margin-top: 4rem;
    }
    img{
      width: 100%;
      height: auto;
    }
    figcaption{
      margin-top: 2.5rem;
      font-size: 1.6rem;
      line-height: 2.2;
      text-align: center;
      color: #424242;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        margin-top: 1.5rem;
      }
    }
  }
}
.wp-block-separator{
  margin: 5rem 0 4.3rem;
  border: none;
  height: 1px;
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
    margin: 3rem 0 2rem;
  }
}

.float-left{
  margin-bottom: 2.5rem;
  .wp-block-group{
    width: 37rem;
    float: right;
    margin-left: 3.6rem;
    padding: 1rem 0 3rem 0;
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
      clear: both;
      width: 100%;
      padding: 1.5rem 0 4rem;
    }
    p{
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1.7;
      color: $mainBlue;
      position: relative;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
        font-size: 2rem;
      }
      &:after{
        position: absolute;
        bottom: -2.5rem;
        left: 0;
        width: 17.5rem;
        height: 1px;
        background: #314C5A;
        content: '';
        @media (max-height: 499px) and (max-width: 899px), (max-width: 767px){
          bottom: -2rem;
        }
      }
    }
  }
}
.post-meta{
  margin-top: 4rem;
  &>div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    &:first-of-type{
      padding-bottom: 2rem;
      border-bottom: 1px solid $mainBlue;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      &>div{
        margin-bottom: 2rem;
      }
    }
    &:last-of-type{
      padding-top: 2rem;
      flex-wrap: wrap;
      a{
        min-width: 20rem;
        margin-right: 1rem;
      }
      & > *{
        margin-top: 2rem;
      }
    }
  }
  .tags{
    font-size: 1.8rem;
    font-weight: 500;
    color: $mainBlue;
    line-height: 1.9;
    margin-right: 1rem;
    span{
      display: inline-block;
      margin-right: 5px;
    }
  }
  .views{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
    p{
      font-weight: 500;
    }
    span.show{
      display: inline-block;
      width: 26px;
      height: 17px;
      background: url(../img/show.svg) center center/cover no-repeat;
      margin-right: 1rem;
    }
  }
}
.heateor_sss_sharing_container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  .heateor_sss_sharing_title{
    font-size: 1.8rem;
    font-weight: 600 !important;
    color: $mainBlue;
    margin-right: 1rem;
  }
}
ul.heateor_sss_sharing_ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  li{
    width: 24px;
    height: 24px;
    i{
      margin: 0 1rem;
      background-color: transparent;
    }
    &:before{
      display: none;
    }
  }
}